/**
 * Container
 */

.container {
  padding: 50px 40px 40px;
  position: relative;
  overflow-x: hidden;
  clear: left;
}

.container:after {
  font-size: 13px;
  top: 0;
  left: 0;
  color: #999999;
  padding: 4px 6px;
  line-height: 1em;
  position: absolute;
  background-color: #f3f3f3;
  border: solid 1px #e4e4e4;
  border-width: 0 1px 1px 0;
}

.footer-container {
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: space-around;
  overflow-x: hidden;
  clear: left;
  border-bottom: solid 1px #e4e4e4;
  border-left: solid 1px #e4e4e4;
  border-right: solid 1px #e4e4e4;
  background-color: #f3f3f3;
}

.playground-url,
.source-code-url {
  font-family: inherit;
  font-size: 13px;
  top: 0;
  left: 0;
  color: #999999;
  padding: 4px 6px;
  line-height: 1em;
  background-color: #f3f3f3;
  border: none;
}

/**
 * Widget
 */

.widget-container {
  border: solid 1px #e4e4e4;
  border-radius: 5px 5px 0px 0px;
}

.widget-container:after {
  content: 'Widget display';
  border-radius: 5px 0 3px;
}

/**
 * Results
 */

.hits-container {
  border-left: solid 1px #e4e4e4;
  border-right: solid 1px #e4e4e4;
  border-bottom: solid 1px #e4e4e4;
  display: flex;
  flex-direction: column;
}

.hits-container:after {
  content: 'Results';
}

/**
 * Search
 */

.hit-actions {
  display: flex;
  align-items: center;
}

.hit-actions > .ais-ClearRefinements {
  margin-left: 15px;
}

/**
 * Hits
 */

.hits {
  margin: 25px 0;
}

.hit {
  padding: 5px 5px;
  display: flex;
  align-items: center;
}

.hit--airbnb:hover,
.hit--airbnb-active {
  background-color: #3369e7;
  color: #ffffff;
}

.ais-SearchBox__root {
  margin-right: 10px;
}

.hit-content {
  margin-left: 20px;
}

.hit-picture > img {
  width: 80px;
  height: 80px;
}

.hit-type {
  color: #888888;
  font-size: 13px;
}

/**
 * Multi-index
 */

.multi-index_content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.multi-index_hit {
  padding: 10px;
}

.multi-index_hit {
  display: flex;
}

.multi-index_hit .multi-index_hit-content {
  padding-left: 10px;
}

/* GeoSearch */

.my-custom-marker {
  position: relative;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 3px 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.my-custom-marker:hover,
.my-custom-marker--active {
  background-color: #3369e7;
  color: white;
  cursor: pointer;
}

.my-custom-marker::after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: -5px;
  background-color: white;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 0 1px 1px 0;
  border-style: solid;
  left: 50%;
  margin-left: -4px;
  transform: rotate(45deg);
}

.my-custom-marker:hover::after,
.my-custom-marker--active::after {
  background-color: #3369e7;
}
