/**
 * Container
 */

.container {
  padding: 50px 40px 40px;
  position: relative;
  overflow-x: hidden;
  clear: left;
}

.container:after {
  font-size: 13px;
  top: 0;
  left: 0;
  color: #999999;
  padding: 4px 6px;
  line-height: 1em;
  position: absolute;
  background-color: #F3F3F3;
  border: solid 1px #E4E4E4;
  border-width: 0 1px 1px 0;
}

.footer-container {
  border-radius: 0px 0px 5px 5px;
  display: flex;
  justify-content: space-around;
  overflow-x: hidden;
  clear: left;
  border-bottom: solid 1px #E4E4E4;
  border-left: solid 1px #E4E4E4;
  border-right: solid 1px #E4E4E4;
  background-color: #F3F3F3;
}

.playground-url,
.source-code-url {
  font-family: inherit;
  font-size: 13px;
  top: 0;
  left: 0;
  color: #999999;
  padding: 4px 6px;
  line-height: 1em;
  background-color: #F3F3F3;
  border: none;
}

/**
 * Widget
 */

.widget-container {
  border: solid 1px #E4E4E4;
  border-radius: 5px 5px 0px 0px;
}

.widget-container:after {
  content: "Widget display";
  border-radius: 5px 0 3px;
}

/**
 * Results
 */

.hits-container {
  border-left: solid 1px #E4E4E4;
  border-right: solid 1px #E4E4E4;
  border-bottom: solid 1px #E4E4E4;
  display: flex;
  flex-direction: column;
}

.hits-container:after {
  content: "Results";
}

/**
 * Search
 */

.hit-actions {
  display: flex;
  align-items: center;
}

.hit-actions > .ais-ClearRefinements {
  margin-left: 15px;
}

/**
 * Hits
 */

.hits {
  margin: 25px 0;
}

.hit {
  margin: 10px 10px;
  display: flex;
  align-items: center;
}

.ais-SearchBox__root {
  margin-right: 10px;
}

.hit-content {
  margin-left: 20px;
}

.hit-picture > img {
  width: 80px;
  height: 80px;
}

.hit-type {
  color: #888888;
  font-size: 13px;
}

/**
 * Multi-index
 */

.multi-index_content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.multi-index_hit {
  padding: 10px;
}

.multi-index_hit {
  display: flex;
}

.multi-index_hit .multi-index_hit-content {
  padding-left: 10px;
}
