import React from 'react';

import type { ProvidedProps } from './connector'

type Props = ProvidedProps & {
  refine: () => {}
};

export const {{ pascalCaseName }}Component = ({}: Props) => {
  return (
    <div>
      {/* TODO: render something */}
    </div>
  );
};
