.ais-Breadcrumb__itemDisabled,
.ais-Breadcrumb__itemLabel,
.ais-Breadcrumb__separator,
.ais-Breadcrumb__rootLabel {
    color: #3369e7;
}

.ais-Breadcrumb__itemLink {
    font-weight: bold;
}

.ais-Breadcrumb__itemDisabled,
.ais-Breadcrumb__separator {
    font-weight: normal;
}

.ais-Breadcrumb__item,
{
    display: inline;
}