.ais-CurrentRefinements__root {

}

.ais-CurrentRefinements__items {
}

.ais-CurrentRefinements__item {
  display: inline-block;
  @include buttonSecondary();
}

.ais-CurrentRefinements__itemLabel {
}

.ais-CurrentRefinements__itemParent {
}

.ais-CurrentRefinements__itemClear {
  @include buttonLink();
  appearance: none;
  background: none;
  border: none;
  color: #fff;
  display: inline-block;
  position: relative;

  &:focus,
  &:active {
    outline: none;
  }

  &:hover {
    transform: scale(1.2);
  }
}
