.ais-HierarchicalMenu__root {
  // * {outline: 1px solid}
  // *:after {outline: 1px solid red}
}


.ais-HierarchicalMenu__items {
  color: $main-color;
  width: 100%;
  float: left;
}

.ais-HierarchicalMenu__item {
  position: relative;
  width: auto;
  float: left;
  clear: both;
  font-size: 14px;
  min-height: 22px;
  line-height: 22px;
  margin-top: 6px;

  @include closedCaret();
}

.ais-HierarchicalMenu__itemSelected {
  font-weight: bold;

  &:after {
    display: none;
  }

  .ais-HierarchicalMenu__itemLink {
    position: relative;

    @include closedCaret();
  }
}

.ais-HierarchicalMenu__itemParent {
}

.ais-HierarchicalMenu__itemSelectedParent > .ais-HierarchicalMenu__itemLink   {
  @include openCaret();
}

.ais-HierarchicalMenu__itemLink {
  color: currentColor;
  text-decoration: none;
}

.ais-HierarchicalMenu__itemLabel {
}

.ais-HierarchicalMenu__itemCount {
  @include counterStyle();
}

.ais-HierarchicalMenu__itemItems {
  padding-left: 14px;
  font-weight: normal;


  .ais-HierarchicalMenu__item:after,
  .ais-HierarchicalMenu__itemLink:after {
    display: none;
  }
}

.ais-HierarchicalMenu__showMore {
  @include buttonTernary();
  @include buttonLink();
}

.ais-HierarchicalMenu__showMoreDisabled {
  @include disabled();
}
