.ais-Menu__root {
  max-width: 300px
}

.ais-Menu__items {
  color: $main-color;
  width: 100%;
  float: left;
}

.ais-Menu__item {
  position: relative;
  width: 100%;
  font-size: 14px;
  min-height: 22px;
  line-height: 22px;
}
.ais-Menu__item a {
  outline: 0;
}

.ais-Menu__itemSelected {
  font-weight: bold;
}

.ais-Menu__itemLink {
  color: currentColor;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.ais-Menu__itemLabel {
}

.ais-Menu__itemCount {
  @include counterStyle()
}

.ais-Menu__showMore {
  @include buttonTernary();
  @include buttonLink();
}

.ais-Menu__showMoreDisabled {
  @include disabled();
}

.ais-Menu__itemLinkSelected{
}

.ais-Menu__itemCountSelected{
}

.ais-Menu__itemLabelSelected{
}

.ais-Menu__SearchBox {
  margin-bottom: 3px;
}

.ais-Menu__SearchBox .ais-SearchBox {
  @include searchbox($sffv-searchbox-config...);
}