.ais-MultiRange__root {
}

.ais-MultiRange__items {
  font-size: 14px;
  min-height: 22px;
  line-height: 22px;
}

.ais-MultiRange__item {
  font-weight: normal;
  margin-top: 6px;
  color: #55606e;

  .ais-MultiRange__itemBox {
    display: inline-block;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    background: #ffffff url("data:image/svg+xml;utf8,<svg viewBox=\'0 0 10 9\' xmlns=\'http://www.w3.org/2000/svg\'><path d=\'M1 4.88l2.378 2.435L9.046 1.6\' stroke-width=\'1.6\' stroke=\'%23FFF\' fill=\'none\' fill-rule=\'evenodd\' stroke-linecap=\'round\' stroke-linejoin=\'round\'/></svg>")no-repeat 50% / 10px;
    box-shadow: inset 0 0 0 1px #d4d8e3;
    outline: none;
    vertical-align: middle;
    margin-right: 8px;
    transition: all .15s ease;
  }

  &:hover {
    input[type="radio"] {
      box-shadow: inset 0 0 0 2px #d4d8e3;
    }
  }

  input[type="radio"]:checked ~ .ais-MultiRange__itemBox {
    background: $main-color url("data:image/svg+xml;utf8,<svg viewBox=\'0 0 10 9\' xmlns=\'http://www.w3.org/2000/svg\'><path d=\'M1 4.88l2.378 2.435L9.046 1.6\' stroke-width=\'1.6\' stroke=\'%23FFF\' fill=\'none\' fill-rule=\'evenodd\' stroke-linecap=\'round\' stroke-linejoin=\'round\'/></svg>")no-repeat 50% / 10px;
    border-color: $main-color;
    box-shadow: none !important
  }
}

.ais-MultiRange__itemSelected {
  color: $main-color;
  font-weight: 600;
}

.ais-MultiRange__itemLabel {
}

.ais-MultiRange__itemRadio {
  display: none;
}

.ais-MultiRange__itemRadioSelected{
}

.ais-MultiRange__itemLabelSelected{
}
