.ais-Pagination__root{
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(85, 95, 110, 0.2);
  border: solid 1px #d4d8e3;
  width: auto;
  display: inline-block;
  border-radius: 4px;
  padding: 8px 16px ;
}

.ais-Pagination__item {
  display: inline-block;
  padding: 3px;
  width: 28px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;


  &:hover {
    background: rgba(#2751af, 0.1);

    .ais-Pagination__itemLink {
      color: $main-color
    }
  }
}

.ais-Pagination__itemSelected {
  color: #fff;
  background: $main-color;

  .ais-Pagination__itemLink {
    color: currentColor;
    font-weight: normal;

  }
}

.ais-Pagination__itemDisabled {
  @include disabled();
  visibility: visible;
  color: #bbbbbb;
}

.ais-Pagination__itemDisabled:hover {
  cursor: default;
  text-decoration: none;
}

.ais-Pagination__itemFirst {
}

.ais-Pagination__itemLast {
}

.ais-Pagination__itemPrevious {
}

.ais-Pagination__itemNext {
}

.ais-Pagination__itemPage {
}

.ais-Pagination__itemLink {
  text-decoration: none;
  color: #697782;
  display: block;
  width: 100%;
  height: 100%;
}
