.ais-PoweredBy__root {
  display: flex;
}

.ais-PoweredBy__algoliaLink {
  padding: 0 5px;
}

.ais-PoweredBy__algoliaLink svg {
  height: 1.2em;
  vertical-align: bottom;
}

.ais-PoweredBy__searchBy {
}
