.ais-PoweredBy__root {
  display: flex;
}

.ais-PoweredBy__algoliaLink {
  padding: 0 5px;
}

.ais-PoweredBy__algoliaLink svg {
  width: 45px;
  height: 16px;
  vertical-align: middle;
}

.ais-PoweredBy__searchBy {

}
