.ais-RangeRatings__root {
  display: flex;
  flex-direction: column;
}

.ais-RangeRatings__ratingIcon:before {
  content: '\2605';
  color: #FBAE00;
}

.ais-RangeRatings__ratingIconEmpty:before {
  content: '\2605';
  color: #bfc7d8;
}
.ais-RangeRatings__ratingLink{
  text-decoration: none;
  color: #55606e;
  font-weight: 400;
}
.ais-RangeRatings__ratingLinkSelected{
  color: $main-color;
}

.ais-RangeRatings__ratingCountDisabled{
  display:none;
}

.ais-RangeRatings__ratingIconEmptyDisabled:before{
  color: #C9C9C9;
}

.ais-RangeRatings__ratingIconDisabled:before{
  color: #C9C9C9;
}

.ais-RangeRatings__ratingLabel {
}

.ais-RangeRatings__ratingLabelDisabled {
}

.ais-RangeRatings__ratingLabelSelected {
}

.ais-RangeRatings__ratingIconSelected {
}

.ais-RangeRatings__ratingIconEmptySelected {
}

.ais-RangeRatings__ratingCount{
  color: rgba(#55606e, 0.4);
}

.ais-RangeRatings__ratingCountSelected {
    color: rgba($main-color, 0.4);
}

.ais-RangeRatings__ratingLinkDisabled{
}
