.ais-RangeInput__root {
}

.ais-RangeInput__labelMin,
.ais-RangeInput__labelMax {
  min-width: 80px;
  display: inline-block;
}

.ais-RangeInput__inputMin, .ais-RangeInput__inputMax {
  font-weight: normal;
  padding: 6px 8px;
  font-size: 14px;
  outline: none;
  color: #697782;
  margin: auto 8px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #d4d8e3;

  @include placeholder {
    font-size: 14px;
  }

  &:hover,
  &:active,
  &:focus {
  }
}

.ais-RangeInput__inputMax {
}

.ais-RangeInput__submit {
  @include button()
}

.ais-RangeInput__separator {
}
