.ais-RefinementList__root {

}

.ais-RefinementList__item {
  color: $main-color;
  margin-top: 6px;

  input[type="checkbox"] {
    display: none;
  }

  .ais-RefinementList__itemBox {
    display: inline-block;
    border-radius: 3.5px;
    width: 16px;
    height: 16px;
    background: #ffffff url("data:image/svg+xml;utf8,<svg viewBox=\'0 0 10 9\' xmlns=\'http://www.w3.org/2000/svg\'><path d=\'M1 4.88l2.378 2.435L9.046 1.6\' stroke-width=\'1.6\' stroke=\'%23FFF\' fill=\'none\' fill-rule=\'evenodd\' stroke-linecap=\'round\' stroke-linejoin=\'round\'/></svg>")no-repeat 50% / 10px;    box-shadow: inset 0 0 0 1px #d4d8e3;
    outline: none;
    vertical-align: middle;
    margin-right: 8px;
    transition: all .15s ease;

  }
  input[type="checkbox"]:checked ~ .ais-RefinementList__itemBox {
    background: $main-color url("data:image/svg+xml;utf8,<svg viewBox=\'0 0 10 9\' xmlns=\'http://www.w3.org/2000/svg\'><path d=\'M1 4.88l2.378 2.435L9.046 1.6\' stroke-width=\'1.6\' stroke=\'%23FFF\' fill=\'none\' fill-rule=\'evenodd\' stroke-linecap=\'round\' stroke-linejoin=\'round\'/></svg>")no-repeat 50% / 10px;
    border-color: $main-color;
    box-shadow: none;
  }

  &:hover .ais-RefinementList__itemBox {
    box-shadow: inset 0 0 0 2px #d4d8e3;
  }
}

.ais-RefinementList__itemSelected {
  font-weight: 600;
}

.ais-RefinementList__itemLabel {
  cursor: pointer;
}

.ais-RefinementList__itemCount {
  @include counterStyle()
}

.ais-RefinementList__showMore {
  @include buttonTernary();
  @include buttonLink();
}

.ais-RefinementList__showMoreDisabled {
  @include  disabled();
}

.ais-RefinementList__itemLabelSelected {
}

.ais-RefinementList__itemCountSelected {
}

.ais-RefinementList__itemCheckbox{
}

.ais-RefinementList__itemCheckboxSelected{
}
