.ais-RefinementList__root {

}

.ais-RefinementList__item {
  color: $main-color;
  margin-top: 6px;

  input[type="checkbox"] {
    display: none;
  }

  .ais-RefinementList__itemBox {
    display: inline-block;
    border-radius: 3.5px;
    width: 16px;
    height: 16px;
    background: #ffffff url("data:image/svg+xml;utf8,<svg viewBox=\'0 0 10 9\' xmlns=\'http://www.w3.org/2000/svg\'><path d=\'M1 4.88l2.378 2.435L9.046 1.6\' stroke-width=\'1.6\' stroke=\'%23FFF\' fill=\'none\' fill-rule=\'evenodd\' stroke-linecap=\'round\' stroke-linejoin=\'round\'/></svg>")no-repeat 50% / 10px;    box-shadow: inset 0 0 0 1px #d4d8e3;
    outline: none;
    vertical-align: middle;
    margin-right: 8px;
    transition: all .15s ease;

  }
  input[type="checkbox"]:checked ~ .ais-RefinementList__itemBox {
    background: $main-color url("data:image/svg+xml;utf8,<svg viewBox=\'0 0 10 9\' xmlns=\'http://www.w3.org/2000/svg\'><path d=\'M1 4.88l2.378 2.435L9.046 1.6\' stroke-width=\'1.6\' stroke=\'%23FFF\' fill=\'none\' fill-rule=\'evenodd\' stroke-linecap=\'round\' stroke-linejoin=\'round\'/></svg>")no-repeat 50% / 10px;
    border-color: $main-color;
    box-shadow: none;
  }

  &:hover .ais-RefinementList__itemBox {
    box-shadow: inset 0 0 0 2px #d4d8e3;
  }
}

.ais-RefinementList__itemSelected {
  font-weight: 600;
}

.ais-RefinementList__itemLabel {
  cursor: pointer;
}

.ais-RefinementList__itemCount {
  @include counterStyle()
}

.ais-RefinementList__showMore {
  @include buttonTernary();
  @include buttonLink();
}

.ais-RefinementList__showMoreDisabled {
  @include  disabled();
}

.ais-RefinementList__itemLabelSelected {
}

.ais-RefinementList__itemCountSelected {
}

.ais-RefinementList__itemCheckbox{
}

.ais-RefinementList__itemCheckboxSelected{
}

.ais-RefinementList__SearchBox .ais-SearchBox__root{
  @extends .ais-SearchBox__root;
  width: 100%;
}

.ais-RefinementList__SearchBox input.ais-SearchBox__input[type="search"]{
  @extends input.ais-SearchBox__input[type="search"];
  background: url("data:image/svg+xml;utf8,<svg viewBox=\'0 0 18 18\' xmlns=\'http://www.w3.org/2000/svg\'><path d=\'M12.5 11h-.79l-.28-.27C12.41 9.59 13 8.11 13 6.5 13 2.91 10.09 0 6.5 0S0 2.91 0 6.5 2.91 13 6.5 13c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L17.49 16l-4.99-5zm-6 0C4.01 11 2 8.99 2 6.5S4.01 2 6.5 2 11 4.01 11 6.5 8.99 11 6.5 11z\' fill=\'%23BFC7D8\' fill-rule=\'evenodd\'/></svg>")no-repeat center left 5px / 18px;
  padding: 5px 44px;
  margin-bottom: 5px;
}

.ais-RefinementList__SearchBox .ais-SearchBox__reset {
  @extends .ais-SearchBox__reset;
  top: 0.3em;
  right: 0.55em;
}