.ais-StarRating__root {
  display: flex;
  flex-direction: column;
}

.ais-StarRating__ratingIcon:before {
  content: '\2605';
  color: #FBAE00;
}

.ais-StarRating__ratingIconEmpty:before {
  content: '\2605';
  color: #bfc7d8;
  opacity: 0.5;
}
.ais-StarRating__ratingLink{
  text-decoration: none;
  color: #55606e;
  font-weight: 400;
  margin-top: 6px;
}
.ais-StarRating__ratingLinkSelected{
  color: $main-color;
}

.ais-StarRating__ratingCountDisabled{
  display:none;
}

.ais-StarRating__ratingIconEmptyDisabled:before{
  color: #C9C9C9;
  opacity: 1;
}

.ais-StarRating__ratingIconDisabled:before{
  color: #A9A9A9;
}

.ais-StarRating__ratingLabel {
}

.ais-StarRating__ratingLabelDisabled {
}

.ais-StarRating__ratingLabelSelected {
  font-weight: 600;
}

.ais-StarRating__ratingIconSelected {
}

.ais-StarRating__ratingIconEmptySelected {
}

.ais-StarRating__ratingCount{
  @include counterStyle()
}

.ais-StarRating__ratingCountSelected {
  font-weight: 600;
}

.ais-StarRating__ratingLinkDisabled{
}
