.ais-Toggle__root {
  cursor: pointer;
  display: inline-block;
}

.ais-Toggle__label {
  border-radius: 31px;
  background: #ffffff url("data:image/svg+xml;utf8,<svg viewBox=\'0 0 10 11\' xmlns=\'http://www.w3.org/2000/svg\'><g stroke=\'%23bfc7d8\' stroke-width=\'1.5\' fill=\'none\' fill-rule=\'evenodd\' stroke-linecap=\'round\'><path d=\'M5 1.5v8M9 5.5H1\'/></g></svg>") ;
  border: solid 1px #d4d8e3;
  padding: 6px 16px;
  margin-right: 8px;
  padding-right: 32px;
  text-align: center;
  line-height: 3;
  color: #697782;
  transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;

  background: {
    repeat: no-repeat;
    position:  center right 12px;
    size: 13px
  }

  &:hover {
    background: {
      color: rgba($main-color, 0.1);
      image:  url("data:image/svg+xml;utf8,<svg viewBox=\'0 0 10 11\' xmlns=\'http://www.w3.org/2000/svg\'><g stroke=\'#{str-replace(#{$main-color}, '#', '%23')}\' stroke-width=\'1.5\' fill=\'none\' fill-rule=\'evenodd\' stroke-linecap=\'round\'><path d=\'M5 1.5v8M9 5.5H1\'/></g></svg>");
    }

    border-color: rgba($main-color, 0.1);
    color: $main-color;

    @supports (src: local("")) and ( not (background-blend-mode: luminosity) ) {
      background-color: rgba($main-color, 0.1)
    }
  }
}


.ais-Toggle__checkbox {
  display: none;

  &:checked ~ .ais-Toggle__label {
    background: {
      color: $main-color;
      image:  url("data:image/svg+xml;utf8,<svg viewBox=\'0 0 10 8\' xmlns=\'http://www.w3.org/2000/svg\'><title>2327B09A-11AB-4006-AA45-EF64831E05A2</title><path d=\'M1 4.28l2.378 2.435L9.046 1\' stroke-width=\'1.6\' stroke=\'%23FFF\' fill=\'none\' fill-rule=\'evenodd\' stroke-linecap=\'round\' stroke-linejoin=\'round\'/></svg>");
    }
    color: #fff;
    border-color: $main-color;

    &:hover {
      background: {
        color: darken($main-color, 7%);
        image: url("data:image/svg+xml;utf8,<svg viewBox=\'0 0 10 8\' xmlns=\'http://www.w3.org/2000/svg\'><title>2327B09A-11AB-4006-AA45-EF64831E05A2</title><path d=\'M1 4.28l2.378 2.435L9.046 1\' stroke-width=\'1.6\' stroke=\'%23FFF\' fill=\'none\' fill-rule=\'evenodd\' stroke-linecap=\'round\' stroke-linejoin=\'round\'/></svg>");
      }
      color: #fff;
      border-color: darken($main-color, 7%);
    }
  }
}