---
title: UMD
mainTitle: Examples
layout: main.pug
category: Examples
withHeadings: true
navWeight: 100
editable: true
githubSource: docs/src/examples/umd.md.hbs
---
Using the standalone build is a quick way to play with Vue InstantSearch.

Just import the library:

```html
<script src="https://cdn.jsdelivr.net/npm/vue-instantsearch@{{ pkg.version }}/dist/vue-instantsearch.js"></script>
```

<p data-height="900" data-theme-id="0" data-slug-hash="BRgyGV" data-default-tab="result" data-user="rayrutjes" data-embed-version="2" data-pen-title="Vue InstantSearch | in browser with UMD build" class="codepen">See the Pen <a href="https://codepen.io/rayrutjes/pen/BRgyGV/">Vue InstantSearch | in browser with UMD build</a> by Raymond Rutjes (<a href="https://codepen.io/rayrutjes">@rayrutjes</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
