html {
  /* force vertical scrollbar no matter the content,
  avoid container center position changes */
  overflow-y: scroll;
}

body {
  padding: 2em 0;
}

/* Hits widget */
.hit + .hit {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #bbb;
}

.hit em {
  font-style: normal;
  background-color: lightcyan;
}

/* Force widths and heights to avoid vertical size changes.
  So that pagination clicks will not jump */
.hit a {
  height: 100px;
  width: 100px;
  margin-right: 20px
}

.hit img {
  max-height: 100px;
  max-width: 100px;
  margin: 0 auto;
}

.hit p {
  max-height: 70px;
  max-width: 80%;
}

.hit {
  height: 150px;
}

#hits {
  margin-top: 20px;
}

#price .panel-body {
  padding: 45px 15px;
}

.hit h3, .hit h4 {
  margin-top: 0;
}

.panel-heading {
  background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
  border-color: #ddd;
}

.hierarchical-categories-list .hierarchical-categories-list {
  padding-left: 20px;
}
