* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  margin: 0;
}

.navigation {
  width: 300px;
  flex-shrink: 0;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
}

.navigation > .main {
  padding: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation > .headings {
  padding: 2rem;
}

.navigation ul {
  margin: -0.3em 0;
  padding: 0;
  list-style: none;
}

.navigation ul ul {
  margin: 0.3em 0 -0.3em 1em;
}

.navigation ul li {
  padding: 0.3em 0;
}

.navigation ul li a {
  text-decoration: none;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.content h1 {
  margin: 3rem 4rem 2rem;
  font-weight: normal;
}

.content h2 {
  margin: 2.5rem 4rem 1rem;
  font-weight: normal;
}

.content h3 {
  margin: 2rem 4rem 1rem;
  font-weight: 500;
}

.content h4 {
  margin: 2rem 4rem 1rem;
  font-weight: 500;
}

.content p {
  margin: 1rem 4rem;
  line-height: 1.5;
}

.content ul {
  margin: 1rem 4rem;
}

.content ul ul {
  margin-left: 1rem;
}

.content li {
  line-height: 1.5;
}

.content table {
  margin: 0 4rem;
}

.content th {
  font-weight: 600;
}

.content code,
.content pre {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
}

/* Code blocks */
.content pre {
  padding: 2rem 4rem;
  margin: 1.5rem 0;
  overflow: auto;
}

/* Inline code */
.content :not(pre) > code {
  padding: .3em .5em;
  white-space: nowrap;
}

.content pre, .content :not(pre) > code {
  border-radius: .2em;
  background-color: rgba(0, 0, 0, 0.055);
}

.content td,
.content th {
  padding: 1em;
}
