.ais-breadcrumb--label,
.ais-breadcrumb--separator,
.ais-breadcrumb--home {
  display: inline;
  color: #3369E7;
}

.ais-breadcrumb--item {
  display: inline;
}

.ais-breadcrumb--disabledLabel {
  color: rgb(68, 68, 68);
  display: inline;
}
