// sass-lint:disable no-empty-rulesets
@import "../base";
@import "variables";

@include block(current-refined-values) {
  @include element(header) {
    /* widget header */
  }

  @include element(body) {
    /* widget body */
  }

  @include element(clear-all) {
    /* widget clearAll link */
  }

  @include element(list) {
    /* widget list */
  }

  @include element(item) {
    /* widget item */
  }

  @include element(link) {
    /* widget link */
  }

  @include element(count) {
    /* widget count */
  }

  @include element(footer) {
    /* widget footer */
  }
}
