// sass-lint:disable no-empty-rulesets
@import "../base";
@import "variables";

@include block(geo-search) {
  /* root element */
  height: 100%;

  @include element(map) {
    /* map element */
    height: 100%;
  }
  @include element(controls) {
    /* map controls */
  }
  @include element(clear) {
    /* clear button */
  }
  @include element(control) {
    /* refine control */
  }
  @include element(toggle-label) {
    /* toggle label */
    display: flex;
    align-items: center;
  }
  @include element(toggle-input) {
    /* toggle input */
  }
  @include element(redo) {
    /* redo button */
  }
}
