// sass-lint:disable no-empty-rulesets
@import "../base";
@import "variables";

@include block(pagination) {
  @include element(item) {
    /* pagination item */
    display: inline-block;
    padding: 3px;
    @include modifier(disabled) {
      /* disabled pagination item */
      visibility: hidden;
    }
    @include modifier(active) {
      /* active pagination item */
    }
    @include modifier(first) {
      /* first pagination item */
    }
    @include modifier(previous) {
      /* previous pagination item */
    }
    @include modifier(page) {
      /* page pagination item */
    }
    @include modifier(next) {
      /* next pagination item */
    }
    @include modifier(last) {
      /* last pagination item */
    }
  }
  @include element(link) {
    /* pagination link */
  }
}
