@import "../base";
@import "variables";

$range-slider-handle-size: 20px;
$range-slider-target-height: 6px;
$range-slider-bg: $gray-light;
$range-slider-marker-bg: #DDD;
$range-slider-bar-color: $blue-light;
$range-slider-handle-bg: $white;

@include block(range-slider) {
  @include element(target) {
    position: relative;
    direction: ltr;
    background: $range-slider-bg;
    height: $range-slider-target-height;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  @include element(base) {
    height: 100%;
    position: relative;
    z-index: 1;
    border-top: 1px solid $range-slider-marker-bg;
    border-bottom: 1px solid $range-slider-marker-bg;
    border-left: 2px solid $range-slider-marker-bg;
    border-right: 2px solid $range-slider-marker-bg;
  }

  @include element(origin) {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }

  @include element(connect) {
    background: $range-slider-bar-color;
  }

  @include element(background) {
    background: $range-slider-bg;
  }

  @include element(handle) {
    width: $range-slider-handle-size;
    height: $range-slider-handle-size;
    position: relative;
    z-index: 1;
    background: $range-slider-handle-bg;
    border: 1px solid $range-slider-bar-color;
    border-radius: 50%;
    cursor: pointer;
  }

  @include element(handle-lower) {
    left: -($range-slider-handle-size / 2);
    bottom: ($range-slider-handle-size / 2 - $range-slider-target-height / 2);
  }

  @include element(handle-upper) {
    right: $range-slider-handle-size / 2;
    bottom: ($range-slider-handle-size / 2 - $range-slider-target-height / 2);
  }

  @include element(tooltip) {
    position: absolute;
    background: $white;
    top: -$range-slider-handle-size - 2px;
    font-size: .8em;
  }

  @include element(pips) {
    box-sizing: border-box;
    position: absolute;
    height: 3em;
    top: 100%;
    left: 0;
    width: 100%;
  }

  @include element(value) {
    width: $range-slider-handle-size * 2;
    position: absolute;
    text-align: center;
    margin-left: -$range-slider-handle-size;
    padding-top: 15px;
    font-size: .8em;
  }
  @include element(value-sub) {
    font-size: .8em;
    padding-top: 15px;
  }

  @include element(marker) {
    position: absolute;
    background: $range-slider-marker-bg;
    margin-left: -1px;
    width: 1px;
    height: 5px;
  }
  @include element(marker-sub) {
    background: $range-slider-marker-bg;
    width: 2px;
    margin-left: -2px;
    height: 7px + $range-slider-target-height;
  }
  @include element(marker-large) {
    background: $range-slider-marker-bg;
    width: 2px;
    margin-left: -2px;
    height: 12px;
    &:first-child {
      margin-left: 0;
    }
  }

}
