@import "../base";
@import "variables";

$input-min-width: 165px;

@include block(range-input) {
  @include element(fieldset) {
    /* custom fieldset */
    margin: 0;
    padding: 0;
    border: 0;
  }
  @include element(labelMin) {
    /* custom label min */
    display: inline-block;
  }
  @include element(inputMin) {
    /* custom input min */
    min-width: $input-min-width;

    &:hover:disabled {
      cursor: not-allowed;
    }
  }
  @include element(separator) {
    /* separator */
    margin: 0 5px;
  }
  @include element(labelMax) {
    /* custom label max */
    display: inline-block;
  }
  @include element(inputMax) {
    /* custom input max */
    min-width: $input-min-width;

    &:hover:disabled {
      cursor: not-allowed;
    }
  }
  @include element(submit) {
    /* custom form button */
    margin-left: 5px;

    &:disabled,
    &:hover:disabled {
      cursor: not-allowed;
      background-color: #C9C9C9;
    }
  }
}
