{
  "presets": [
    ["env", { "targets": { "browsers": ["last 2 versions", "ie >= 9"] } }],
    "react",
    "stage-2"
  ],
  "plugins": ["lodash", "inline-json-import"],
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        "react-hot-loader/babel"
      ]
    }
  }
}
