{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["last 2 versions", "ie >= 9"]
            }
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-react-constant-elements",
        "babel-plugin-transform-react-remove-prop-types",
        "babel-plugin-transform-react-pure-class-to-function"
      ]
    },
    "production": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["last 2 versions", "ie >= 9"]
            }
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-react-constant-elements",
        "babel-plugin-transform-react-remove-prop-types",
        "babel-plugin-transform-react-pure-class-to-function"
      ]
    },
    "umd": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": {
              "browsers": ["last 2 versions", "ie >= 9"]
            }
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-react-constant-elements",
        "babel-plugin-transform-react-remove-prop-types",
        "babel-plugin-transform-react-pure-class-to-function"
      ]
    },
    "cjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["last 2 versions", "ie >= 9"]
            }
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-react-constant-elements",
        "babel-plugin-transform-react-remove-prop-types",
        "babel-plugin-transform-react-pure-class-to-function",
        [
          "inline-replace-variables",
          {
            "__DEV__": {
              "type": "node",
              "replacement": "process.env.NODE_ENV === 'development'"
            }
          }
        ]
      ]
    },
    "es": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": {
              "browsers": ["last 2 versions", "ie >= 9"]
            }
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-transform-react-constant-elements",
        "babel-plugin-transform-react-remove-prop-types",
        "babel-plugin-transform-react-pure-class-to-function",
        [
          "inline-replace-variables",
          {
            "__DEV__": {
              "type": "node",
              "replacement": "process.env.NODE_ENV === 'development'"
            }
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "rewire",
        [
          "module-resolver",
          {
            "alias": {
              "preact-compat": "react"
            }
          }
        ]
      ]
    }
  }
}
