{
  "extends": [
    "eslint:recommended",
    "airbnb",
    "algolia"
  ],
  "plugins": ["react"],
  "ecmaFeatures": {
    // eslint-config-algolia disables modules because all projects are not ES6
    "modules": true
  },
  "rules": {
    "strict": [2, "never"], // babel inserts "use strict"; for us
    "react/jsx-curly-spacing": [2, "never"]
  }
}
