# Vendors
node_modules
**/node_modules/**

# Artifacts
dist
build
website
**/cjs
**/es
**/dist
**/vue2
**/vue3
coverage

# Caches
.cache
.parcel-cache
.expo
.next

# Non-lintable source files
## React-Native TypeScript wasn't supporting the mix of react 18 and 17
examples/react-hooks/react-native
## Excluded from global typescript config
examples/react-hooks/next/next-env.d.ts
## templates that don't get installed
packages/create-instantsearch-app/src/templates
## test fixtures for React InstantSearch codemods
packages/react-instantsearch-hooks/scripts/transforms/__testfixtures__
