# eslint by default only ignores root node_modules/
packages/*/node_modules
packages/react-instantsearch/examples/*/node_modules/
# generated documentation website
docs/
docs-production/
dist/

# Happo visual regression build
test/.happo
