{
  "rules": {
    "block-no-empty": 0,
    "color-no-invalid-hex": 2,
    "declaration-colon-space-after": [2, "always"],
    "declaration-colon-space-before": [2, "never"],
    "function-comma-space-after": [2, "always"],
    "function-url-quotes": [2, "double"],
    "media-feature-colon-space-after": [2, "always"],
    "media-feature-colon-space-before": [2, "never"],
    "media-feature-name-no-vendor-prefix": 2,
    "no-multiple-empty-lines": 2,
    "number-leading-zero": [2, "never"],
    "number-no-trailing-zeros": 2,
    "property-no-vendor-prefix": 2,
    "rule-no-duplicate-properties": 2,
    "rule-no-single-line": 2,
    "rule-trailing-semicolon": [2, "always"],
    "selector-list-comma-newline-after": [2, "always-multi-line"],
    "selector-no-id": 2,
    "string-quotes": [2, "double"],
    "value-no-vendor-prefix": 2
  }
}
