/* VARIABLES
// ------------------------- */
/* GENERAL
// ------------------------- */
body {
  font-family: Roboto;
  font-size: 16px;
  color: #565A5C; }

.aisdemo--left-column {
  height: 400px; }

.aisdemo--right-column {
  padding-right: 0;
  padding-left: 0; }

/* HEADER
// ------------------------- */
.aisdemo-navbar {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #DCE0E0;
  position: relative; }
  .aisdemo-navbar .is-logo {
    display: inline-block;
    position: relative;
    top: -8px;
    left: 16px; }
  .aisdemo-navbar .logo {
    display: inline-block;
    padding: 14px 22px;
    font-size: 40px;
    line-height: 1;
    font-family: Courier;
    color: #FF585B;
    border-right: 1px solid #DCE0E0; }
  .aisdemo-navbar .fa-search {
    font-size: 30px;
    position: absolute;
    top: 17px;
    left: 140px;
    color: #DCE0E0; }
  .aisdemo-navbar .ais-search-box {
    position: absolute;
    top: 0;
    left: 180px;
    height: 100%;
    width: 33%; }
    .aisdemo-navbar .ais-search-box--reset {
      fill: #BFC7D8;
      top: calc(50% - 12px / 2);
      right: 13px; }
    .aisdemo-navbar .ais-search-box #q {
      position: absolute;
      top: 15px;
      width: 300px;
      height: 40px;
      border: 0;
      box-shadow: none; }
      .aisdemo-navbar .ais-search-box #q:focus {
        outline: none;
        box-shadow: none; }

/* FILTERS
// ------------------------- */
.aisdemo-filters .aisdemo-filter {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #DCE0E0; }

.aisdemo-filters .aisdemo-filter-title {
  font-size: 1em;
  font-weight: normal;
  padding-top: 9px;
  padding-left: 30px; }

.aisdemo-filters .date, .aisdemo-filters #guests select {
  font-size: .8em;
  padding: 8px 10px;
  border: 1px solid #DCE0E0; }

.aisdemo-filters #guests select {
  width: 100%;
  padding-right: 20px;
  border-radius: 0;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .aisdemo-filters #guests select:focus {
    outline: none; }

.aisdemo-filters .guests-caret::before {
  line-height: 1;
  position: absolute;
  top: 0;
  right: 20px;
  width: 2em;
  padding-top: .8em;
  content: '\25bc';
  text-align: center;
  pointer-events: none;
  color: #82888A; }

.aisdemo-filters #room_types .ais-refinement-list--count {
  display: none; }

.aisdemo-filters #room_types .ais-refinement-list--item {
  display: inline-block;
  cursor: pointer; }
  .aisdemo-filters #room_types .ais-refinement-list--item label {
    font-size: .8em;
    font-weight: normal;
    box-sizing: border-box;
    width: 100%;
    padding: 9px 10px 7px;
    background: #EDEFED; }

.aisdemo-filters #room_types .ais-refinement-list--checkbox {
  position: relative;
  bottom: 3px;
  float: right;
  width: 1.25em;
  height: 1.25em;
  margin-left: 20px;
  vertical-align: top;
  border: 1px solid #DCE0E0;
  background: #FFFFFF;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .aisdemo-filters #room_types .ais-refinement-list--checkbox:focus {
    outline: none; }

.aisdemo-filters #room_types .ais-refinement-list--item__active .ais-refinement-list--checkbox::before {
  font-size: .85em;
  position: absolute;
  width: 1.25em;
  content: '\2713';
  text-align: center;
  color: #FF5A5F; }

.aisdemo-filters #price .ais-range-slider--target {
  margin: 30px 9px 18px; }

.aisdemo-filters #price .ais-range-slider--handle {
  border-color: #FF585B; }

.aisdemo-filters #price .rheostat-progress {
  background-color: #FF585B !important; }

.aisdemo-filters #price .ais-range-slider--tooltip:last-child {
  right: 0; }

.aisdemo-filters #price .ais-range-slider--connect {
  background-color: #FF585B; }

/* STATS
// ------------------------- */
#stats {
  font-size: 1em;
  font-weight: normal;
  position: absolute;
  bottom: 0;
  padding: 5px 15px; }

/* MAP
// ------------------------- */
#map {
  height: 400px; }

/* RESULTS
// ------------------------- */
#results {
  padding: 40px 20px;
  background: #EDEFED; }

#hits .hit .pictures-wrapper {
  position: relative; }
  #hits .hit .pictures-wrapper .picture {
    width: 100%; }
  #hits .hit .pictures-wrapper .profile {
    position: absolute;
    bottom: -16px;
    right: 12px;
    width: 60px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px; }

#hits .hit .infos {
  height: 90px;
  padding: 16px 20px; }
  #hits .hit .infos h4 {
    font-size: 1em;
    font-weight: normal; }
  #hits .hit .infos p {
    font-size: .8em;
    color: #949697; }
  #hits .hit .infos em {
    font-style: normal;
    color: #FF585B; }

/* PAGINATION
// ------------------------- */
#pagination {
  text-align: center; }
  #pagination .ais-pagination--item {
    display: inline-block;
    margin: 1px; }
  #pagination .ais-pagination--link {
    color: #FF585B;
    border-radius: 4px;
    background: transparent; }
  #pagination .pagination > .active > a {
    color: #FFFFFF;
    border-color: #FF585B;
    background: #FF585B; }
  #pagination .pagination > li > a:focus, #pagination .pagination > li > a:hover, #pagination .pagination > li > span:focus, #pagination .pagination > li > span:hover {
    color: #FFFFFF;
    border-color: #FF585B;
    background: #FF585B; }

.thank-you {
  text-align: center;
  font-size: .8em; }
  .thank-you a {
    color: #FF585B; }