<header class="header">
  <h1 class="header-title">
    <a href="/">{{name}}</a>
  </h1>
  <p class="header-subtitle">
    using
    <a href="https://github.com/algolia/angular-instantsearch">
      Angular InstantSearch
    </a>
  </p>
</header>

<div class="container">
  <ais-instantsearch [config]="config">
    <div class="search-panel">
      {{#if attributesForFaceting}}
      <div class="search-panel__filters">
        {{#each attributesForFaceting}}
        <ais-refinement-list attribute="{{this}}"></ais-refinement-list>
        {{/each}}
      </div>

      {{/if}}
      <div class="search-panel__results">
        <div class="searchbox">
          <ais-search-box placeholder="{{searchPlaceholder}}"></ais-search-box>
        </div>

        <ais-hits></ais-hits>

        <div class="pagination">
          <ais-pagination></ais-pagination>
        </div>
      </div>

    </div>
  </ais-instantsearch>
</div>
