<header class="header">
  <h1 class="header-title">
    <a href="/">{{name}}</a>
  </h1>
  <p class="header-subtitle">
    using
    <a href="https://github.com/algolia/angular-instantsearch">
      Angular InstantSearch
    </a>
  </p>
</header>

<div class="container">
  <ais-instantsearch [config]="config">
    <div class="container-app">
      <div class="filters">
        {{#each attributesForFaceting}}
        <ais-refinement-list attribute="{{this}}"></ais-refinement-list>
        {{/each}}
      </div>

      <div class="search-container">
        <div class="searchBox">
          <ais-search-box placeholder="{{searchPlaceholder}}"></ais-search-box>
        </div>

        <ais-hits></ais-hits>

        <div class="pagination">
          <ais-pagination></ais-pagination>
        </div>
      </div>

    </div>
  </ais-instantsearch>
</div>
