body {
  font-family: Roboto;
  font-size: 16px;
  color: #565a5c;
}

.ais-InstantSearch__root {
  display: flex;
  flex-direction: column;
}

.ais-SearchBox {
  margin: 10px 0;
}

.ais-GeoSearch {
  padding-right: 0;
  padding-left: 0;
  height: 700px;
}

.marker {
  transform: translate(-50%, -100%) scale(0.5, 0.5);
}
