.Menu {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 0.6em 0.8em;
}

.Menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Menu__item {
  padding: 0.2em 0;
}

.Menu__item__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.Menu__item__link:hover > .Menu__item__value {
  text-decoration: underline;
}

.Menu__item--selected > .Menu__item__link {
  font-weight: bold;
}

.Menu__item__value {
  flex: 1;
}

.Menu__item__count {
  text-decoration: none;
  color: #999;
  font-weight: normal;
  font-size: 0.8em;
}

.Menu__showMore {
  cursor: pointer;
  padding: 0.2em 0;
  font-size: 1em;
  background: transparent;
  border: none;
  color: #3E82F7;
}
