.RefinementListLinks__item > .RefinementListLinks__item__link {
  color: #1D96C7;
  text-decoration: none;
}
.RefinementListLinks__item > .RefinementListLinks__item__link:hover {
  text-decoration: underline;
}

.RefinementListLinks__item--selected > .RefinementListLinks__item__link {
  font-weight: bold;
  color: #0A1724;
}

.RefinementListLinks__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
