html,
body {
  min-height: 100%;
  font-family: Roboto;
  background: #F1F1F1;
  font-size: 14px;
}

a {
  color: #333333;
}

article hr {
  margin: 10px 14px;
  float: none;
  width: initial;
}

.is-logo {
  float: left;
  margin-left: 18px;
}

.logo {
  margin-left: 15px;
  font-size: 30px;
  font-weight: bold;
  float: left;
}

.logo:hover {
  text-decoration: none;
}

.logo i {
  margin-left: 5px;
  color: #E91D00;
}

header {
  background: #FFFFFF;
  padding: 10px;
  border-bottom: 1px solid #E8E8E8;
  position: relative;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 2;
}

.searchbox-container {
  margin-left: 240px;
  max-width: 400px;
}

.searchbox-container .input-group {
  margin-top: 5px;
}

.searchbox-container .form-control:focus {
  outline: none;
  box-shadow: none;
}

.searchbox-container button {
  padding-left: 20px;
  padding-right: 20px;
  background: #F8F8F8;
  border-radius: 0;
}

section {
  background: #F1F1F1;
  min-height: 100%;
  z-index: 1;
}

section aside {
  position: absolute;
  top: 130px;
  left: 0;
  bottom: 0;
  width: 230px;
  background: #FFFFFF;
  border-right: 1px solid #E8E8E8;
}

.nav {
  margin: 0 20px;
}

.nav li a {
  display: block;
  padding: 2px 10px;
  margin: 10px 0;
}

.nav li a:hover {
  color: #FFFFFF;
  background: #333333;
}

.nav li.separator {
  height: 1px;
  background: #E8E8E8;
}

section aside h5 {
  color: #CE1312;
  margin-left: 30px;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 20px;
}

section aside .badge {
  font-size: .8em;
  background: #BBBBBB;
  position: relative;
  top: 1px;
}

#genres .item {
  display: block;
  cursor: pointer;
  padding: 4px 4px 4px 8px;
  font-weight: normal;
  font-size: .9em;
  margin: 0 0 -1px;
}

#genres .item:hover {
  background: #333333;
  color: #FFFFFF;
  text-decoration: none;
}

#genres .active .item {
  border: 1px solid #CE1312;
  margin-top: -1px;
}

#genres .active .badge {
  background: #333333;
}

section article {
  margin-top: 67px;
  margin-bottom: 10px;
  margin-left: 237px;
  margin-right: 10px;
  padding: 10px 0;
  max-width: 100%;
  background: #FFFFFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.ais-Stats-text {
  padding-right: 14px;
  font-size: .8em;
  line-height: 24px;
}

#hits {
  padding: 0 15px;
}

.ais-Pagination {
  box-shadow: none;
  border: none;
  border-radius: initial;
  padding: 0px;
}

.ais-Pagination-item {
  display: inline-block;
  padding: 0px;
}

.ais-Pagination-item + .ais-Pagination-item {
  margin-left: 4px;
}

.ais-Pagination-item--disabled{
  display: none;
}

.ais-Pagination-link{
  display:block;
  background: #F8F8F8;
  padding: 3px 8px;
  color: #333333;
}

.ais-Pagination-item--selected .ais-Pagination-link {
  border-color: #b5b5b5;
  background: #E8E8E8;
}

.ais-Pagination-link:hover {
  text-decoration: none;
  border-color: #cfcfcf;
  background: #ebebeb;
  color: #333333;
}

.ais-Hits-list {
  margin: 0;
}

.ais-Hits-item {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  width: 100%;
}

.hit {
  margin-bottom: 10px;
  height: 130px;
  border: 1px solid #F3F3F3;
}

.hit em {
  font-style: normal;
  background: #FFFFD4;
  text-decoration: underline;
}

.hit .media-object {
  height: 130px;
  width: 130px;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.hit .media-heading {
  color: #167AC6;
  font-weight: normal;
  font-size: 18px;
}

.hit .media-body {
  padding: 10px;
}

.thank-you {
  font-size: .8em;
  margin-top: 18px;
  margin-left: 30px;
}

.thank-you a {
  color: #CE1312;
}

.stars {
  margin-left: 5px;
}

.star {
  /* item star */
  display: inline-block;
  width: 1em;
  height: 1em;
}

.star:before {
  content: '\2605';
  color: #FBAE00;
}

.star__empty {
  /* empty star */
  display: inline-block;
  width: 1em;
  height: 1em;
}

.star__empty:before {
  content: '\2606';
  color: #FBAE00;
}

.genre, .year {
  margin: 12px 0;
}

.genre .badge + .badge {
  margin-left: 4px;
}

.year {
  font-weight: bold;
}

.genre .badge {
  background: #BBBBBB;
}

.ais-RatingMenu {
  margin: 0 24px 0 28px;
}
