html {
  /* force vertical scrollbar no matter the content,
  avoid container center position changes */
  overflow-y: scroll;
}

body {
  padding: 2em 0;
}

.search {
  transition: opacity 200ms;
}

.search--hidden {
  opacity: 0;
}

.search--visible {

}

/* Hits widget */
.hit + .hit {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #bbb;
}

.hit em {
  font-style: normal;
  background-color: #ffffe5;
}

/* Force widths and heights to avoid vertical size changes.
  So that pagination clicks will not jump */
.hit a {
  height: 100px;
  width: 100px;
  margin-right: 20px
}

.hit img {
  max-height: 100px;
  max-width: 100px;
  margin: 0 auto;
}

.hit p {
  max-height: 70px;
  max-width: 80%;
}

.hit {
  height: 150px;
}

#hits {
  margin-top: 20px;
}

#price .ais-header, #price .ais-footer {
  margin-bottom: 45px;
}

.hit h3, .hit h4 {
  margin-top: 0;
}

.facet {
  margin-bottom: 20px;
}

.facet-title {
  text-transform: uppercase;
  border-bottom: 2px solid #eee;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.facet-value {
  font-size: 13px;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
}

.facet-value.facet-active label, .facet-active .facet-value, .facet-value:hover, .facet-value:hover label, .ais-hierarchical-menu--item__active > div > .facet-value {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.facet-count {
  color: #999;
  font-weight: normal;
}

.hierarchical-categories-list .hierarchical-categories-list {
  border-left: 2px solid #eee;
  padding-left: 10px;
}

.facet-value-removable:hover {
  text-decoration: line-through;
  font-weight: normal;
}

.ais-refinement-list--label,
.ais-toggle--label {
  display: block;
}

.ais-price-ranges .ais-price-ranges--input{
  width: 65px;
}

.ais-refinement-list--label input[type=radio]{
  margin: 4px 8px 0 0;
}

.ais-showmore__active, .ais-showmore__inactive {
  cursor: pointer;
}
