html {
  /* force vertical scrollbar no matter the content,
  avoid container center position changes */
  overflow-y: scroll;
}

body {
  padding: 2em 0;
}

.search {
  transition: opacity 200ms;
}

.search--hidden {
  opacity: 0;
}

.search--visible {

}

/* Hits widget */
.hit + .hit {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #bbb;
}

.hit em {
  font-style: normal;
  background-color: #ffffe5;
}

/* Force widths and heights to avoid vertical size changes.
  So that pagination clicks will not jump */
.hit a {
  height: 100px;
  width: 100px;
  margin-right: 20px
}

.hit img {
  max-height: 100px;
  max-width: 100px;
  margin: 0 auto;
}

.hit p {
  max-height: 70px;
  max-width: 80%;
}

.hit {
  height: 150px;
}

#hits {
  margin-top: 20px;
}

#price .ais-header, #price .ais-footer {
  margin-bottom: 45px;
}

.hit h3, .hit h4 {
  margin-top: 0;
}

.facet {
  margin-bottom: 20px;
}

.facet-title {
  text-transform: uppercase;
  border-bottom: 2px solid #eee;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.facet-value {
  font-size: 13px;
  line-height: 1.2;
  text-decoration: none;
  color: #000;
}

.facet-value.facet-active label, .facet-active .facet-value, .facet-value:hover, .facet-value:hover label, .ais-hierarchical-menu--item__active > div > .facet-value {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.facet-count {
  color: #999;
  font-weight: normal;
}

.hierarchical-categories-list .hierarchical-categories-list {
  border-left: 2px solid #eee;
  padding-left: 10px;
}

.facet-value-removable:hover {
  text-decoration: line-through;
  font-weight: normal;
}

.ais-refinement-list--label,
.ais-toggle--label {
  display: block;
}

.ais-price-ranges .ais-price-ranges--input{
  width: 65px;
}

.ais-refinement-list--label input[type=radio]{
  margin: 4px 8px 0 0;
}

.ais-show-more__active, .ais-show-more__inactive {
  cursor: pointer;
}


.sbx-custom {
  display: inline-block;
  position: relative;
  width: 500px;
  height: 41px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 14px;
}

.sbx-custom__input {
  display: inline-block;
  transition: box-shadow .4s ease, background .4s ease;
  border: 0;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #CCCCCC;
  background: #FFFFFF;
  padding: 0;
  padding-right: 77px;
  padding-left: 11px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  appearance: none;
}

.sbx-custom__input::-webkit-search-decoration, .sbx-custom__input::-webkit-search-cancel-button, .sbx-custom__input::-webkit-search-results-button, .sbx-custom__input::-webkit-search-results-decoration {
  display: none;
}

.sbx-custom__input:hover {
  box-shadow: inset 0 0 0 1px #b3b3b3;
}

.sbx-custom__input:focus, .sbx-custom__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 1px #3E82F7;
  background: #FFFFFF;
}

.sbx-custom__input::placeholder {
  color: #AAAAAA;
}

.sbx-custom__submit {
  position: absolute;
  top: 0;
  right: 0;
  left: inherit;
  margin: 0;
  border: 0;
  border-radius: 0 3px 3px 0;
  background-color: #3e82f7;
  padding: 0;
  width: 49px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  user-select: none;
}

.sbx-custom__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.sbx-custom__submit:hover, .sbx-custom__submit:active {
  cursor: pointer;
}

.sbx-custom__submit:focus {
  outline: 0;
}

.sbx-custom__submit svg {
  width: 21px;
  height: 21px;
  vertical-align: middle;
  fill: #FFFFFF;
}

.sbx-custom__reset {
  display: none;
  position: absolute;
  top: 10px;
  right: 56px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  user-select: none;
  fill: rgba(0, 0, 0, 0.5);
}

.sbx-custom__reset:focus {
  outline: 0;
}

.sbx-custom__reset svg {
  display: block;
  margin: 4px;
  width: 13px;
  height: 13px;
}

.sbx-custom__input:valid ~ .sbx-custom__reset {
  display: block;
  animation-name: sbx-reset-in;
  animation-duration: .15s;
}

@keyframes sbx-reset-in {
  0% {
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
