#widget-display {
  border: solid 1px #E4E4E4;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  margin: 5px 5px 0 5px;
  min-height: 200px;
  padding: 50px 40px;
}

#results-display {
  border: solid 1px #E4E4E4;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  margin: 0 5px 5px 5px;
  min-height: 200px;
  padding: 50px 40px 40px;
}

.hit {
  align-items: center;
  display: flex;
  margin: 10px 10px;
}

.hit .hit-picture img {
  height: auto;
  width: 80px;
}

.hit .hit-content {
  padding: 0 10px;
}

.hit .hit-type {
  color: #888;
  font-size: 13px;
}
