.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(284deg, #fedd4e, #fcb43a);
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

#searchbox {
  margin-bottom: 2rem;
}

#pagination {
  margin: 2rem auto;
  text-align: center;
}

#related-products,
.ais-Hits--single {
  margin-top: 1rem;
}

.ais-Hits--single article {
  display: flex;
  gap: 1rem;
}

.ais-Hits--single img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  flex-shrink: 0;
}

.ais-RelatedProducts-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.ais-RelatedProducts-item {
  align-items: start;
}

.ais-RelatedProducts-item img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.ais-RelatedProducts-item article {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
