h1 {
  margin: 1rem 0;
}

.ais-Hits-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.ais-Hits-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.ais-Hits-item img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  margin: 1.2rem 0;
}

.ais-Hits-item a {
  font-size: 1.2rem;
}
