em {
  color: rgb(0, 188, 212);;
}

.Header {
  position: relative;
  width: 100%;
  top: 60px;
  left: 0;
  z-index: 1600;
}

.Header__appBar {
  box-shadow: none !important;
}

.Sidebar__header {
  position: relative;
  z-index: 2;
}

.Sidebar__header__appBar {
  box-shadow : none !important;
}

.Sidebar__facets {
}

.Sidebar__facets span[type='button']{
  background: white!important;
  -webkit-appearance: inherit;
}

.Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 60px;
}

.Content__hits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.Header__searchBox {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
}

.Content__hits__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Content__hits__card__img {
  max-width: 120px;
  max-height: 120px;
}

.Pagination {
  margin-top: 30px;
}
