@import 'variables';
@import 'clear-all';
@import 'current-refined-values';
@import 'hierarchical-menu';
@import 'hits-per-page';
@import 'menu';
@import 'refinement-list';
@import 'numeric-selector';
@import 'pagination';
@import 'price-ranges';
@import 'range-slider';
@import 'search-box';
@import 'sort-by-selector';
@import 'star-rating';
@import 'stats';
@import 'toggle';

[class^=ais-] {
  box-sizing: border-box;

  & > *,
  & > *:after,
  & > *:before {
    box-sizing: border-box;
  }
}

.ais-header {
  border-bottom: 2px solid #EEE;
  font-size: .8em;
  margin: 0 0 6px;
  padding: 0 0 6px;
  text-transform: uppercase;
}
