.ais-breadcrumb--root {
  .ais-breadcrumb--label,
  .ais-breadcrumb--separator,
  .ais-breadcrumb--home {
    display: inline;
    color: #3369E7;

    div {
      display: inline;
    }
  }

  .ais-breadcrumb--disabledLabel {
    color: rgb(68, 68, 68);
    display: inline;
  }

  .ais-breadcrumb--separator {
    position: relative;
    display: inline-block;
    height: 14px;
    width: 14px;
    &::after {
      background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 8 13' xmlns='http://www.w3.org/2000/svg'><path d='M1.5 1.5l5 4.98-5 5.02' stroke='%23697782' stroke-width='1.5' fill='none' fill-rule='evenodd' stroke-linecap='round' opacity='.4'/></svg>") no-repeat center center / contain;
      content: ' ';
      display: block;
      position: absolute;
      top: 2px;
      height: 14px;
      width: 14px;
    }
  }
}
