.ais-clear-all {
  &--link {
    color: $white;
    display: inline-block;
    background: $blue;
    border-radius: $border-radius;
    font-size: $font-size;
    text-decoration: none;
    padding: 4px 8px;

    &:hover {
      text-decoration: none;
      color: $white;
      background: $dark-blue;
    }
  }

  &--link-disabled {
    opacity: .5;
    pointer-events: none;
  }
}
