.ais-geo-search {
  position: relative;
}

.ais-geo-search--clear {
  @extend .ais-clear-all--link;
  box-shadow: 0 1px 1px 0 rgba(85, 95, 110, 0.2);
  border: solid 1px #D4D8E3;
  border-radius: $border-radius;
  padding: 8px 15px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    cursor: pointer;
  }
}

.ais-geo-search--control {
  position: absolute;
  top: 10px;
  left: 50px;
}

.ais-geo-search--toggle-label {
  @extend .ais-current-refined-values--item;
  @extend .ais-refinement-list--label;
  font-size: $font-size;
  background: #FFFFFF;
  box-shadow: 0 1px 1px 0 rgba(85, 95, 110, 0.2);
  border: solid 1px #D4D8E3;
  border-radius: $border-radius;
  padding: 0 15px;
}

.ais-geo-search--redo {
  @extend .ais-clear-all--link;
  box-shadow: 0 1px 1px 0 rgba(85, 95, 110, 0.2);
  border: solid 1px #D4D8E3;
  border-radius: $border-radius;
  padding: 8px 15px;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    background: #A0B8F3;
  }
}
