.ais-hierarchical-menu {
  &--item {
    @extend .ais-current-refined-values--item;

    &__active > div > .ais-hierarchical-menu--link {
      font-weight: bold;

      &::after {
        transform: rotate(90deg);
      }
    }
  }

  &--link {
    @extend .ais-current-refined-values--link;
    position: relative;

    &::after {
      background: url("data:image/svg+xml;utf8,<svg viewBox='0 0 8 13' xmlns='http://www.w3.org/2000/svg'><path d='M1.5 1.5l5 4.98-5 5.02' stroke='%23697782' stroke-width='1.5' fill='none' fill-rule='evenodd' stroke-linecap='round' opacity='.4'/></svg>") no-repeat center center/contain;
      content: ' ';
      display: block;
      position: absolute;
      top: calc(50% - 14px / 2);
      right: -22px;
      height: 14px;
      width: 14px;
    }
  }

  &--count {
    @extend .ais-current-refined-values--count;
  }
}
