select.ais-hits-per-page-selector { // sass-lint:disable-line no-qualifying-elements
  appearance: none;

  background: $white url("data:image/svg+xml;utf8,<svg viewBox='0 0 12 7' xmlns='http://www.w3.org/2000/svg'><path d='M11 1L6.02 6 1 1' stroke-width='1.5' stroke='%23BFC7D8' fill='none' fill-rule='evenodd' stroke-linecap='round'/></svg>") no-repeat center right 16px/10px;
  box-shadow: 0 1px 1px 0 rgba(85, 95, 110, 0.2) !important;
  border: solid 1px #D4D8E3 !important;
  border-radius: $border-radius;
  color: $grey;
  font-size: $font-size;
  transition: background 0.2s ease, box-shadow 0.2s ease;
  padding: 8px 32px 8px 16px;
  outline: none;
}
