.ais-menu {
  &--item {
    @extend .ais-current-refined-values--item;

    &__active > div > .ais-menu--link {
      font-weight: bold;
    }
  }

  &--link {
    @extend .ais-current-refined-values--link;
  }

  &--count {
    @extend .ais-current-refined-values--count;
  }

  button {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: $font-size - 1px;
  }
}
