.ais-pagination {
  background: $white;
  box-shadow: 0 1px 1px 0 rgba(85, 95, 110, 0.2);
  border: solid 1px #D4D8E3;
  border-radius: $border-radius;
  display: inline-block;
  padding: 8px 16px;
  width: auto;

  &--item {
    border-radius: $border-radius;
    font-size: $font-size + 2px;
    text-align: center;
    width: 28px;

    &:hover {
      background: rgba(39, 81, 175, .1);
    }

    &__disabled {
      color: #BBB;
      opacity: .5;
      pointer-events: none;
      visibility: visible;
    }

    &__active {
      background: $blue;

      .ais-pagination--link {
        color: $white;
      }
    }
  }

  &--link {
    color: $grey;
    display: block;
    text-decoration: none;
    width: 100%;

    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }
}
