.ais-range-input {
  &--inputMin,
  &--inputMax {
    background: $white;
    box-shadow: inset 0 1px 1px 0 rgba(85, 95, 110, 0.2);
    border: solid 1px #D4D8E3;
    border-radius: $border-radius;
    outline: none;
  }

  &--submit {
    @extend .ais-clear-all--link;
    border: none;
    outline: none;
    margin-left: 5px;
    position: relative;
    top: -2px;
  }
}
