.ais-refinement-list {
  &--item {
    @extend .ais-current-refined-values--item;
    line-height: $font-size * 2;

    &__active > div > .ais-refinement-list--label {
      font-weight: bold;
    }
  }

  &--label {
    @extend .ais-current-refined-values--link;
    cursor: pointer;

    input[type="radio"], // sass-lint:disable-line no-qualifying-elements force-attribute-nesting
    input[type="checkbox"] { // sass-lint:disable-line no-qualifying-elements force-attribute-nesting
      margin-right: 5px;
    }
  }

  &--count {
    @extend .ais-current-refined-values--count;
  }

  div > button {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: $font-size - 1px;
  }
}
