// +--------+
// | LAYOUT |
// +--------+
$border-radius: 4px;
$font-size: 12px;

// +--------+
// | COLORS |
// +--------+
$white: #FFFFFF;
$black: #000000;
$light-blue: #3E82F7;
$blue: #3369E7;
$dark-blue: #184ECD;
$grey: #697782;
