@import 'variables';
@import 'clear-all';
@import 'current-refined-values';
@import 'hierarchical-menu';
@import 'hits-per-page';
@import 'menu';
@import 'refinement-list';
@import 'numeric-selector';
@import 'pagination';

.ais-header {
  border-bottom: 2px solid #eee;
  font-size: .8em;
  margin: 0 0 6px;
  padding: 0 0 6px;
  text-transform: uppercase;
}
