version: 2

references:
  workspace_root: &workspace_root ~/instantsearch
  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root
  install_yarn_version: &install_yarn_version
    run:
      name: Install specific Yarn version
      command: |
        curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.13.0
        echo 'export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"' >> $BASH_ENV
  restore_yarn_cache: &restore_yarn_cache
    restore_cache:
      name: Restore Yarn cache
      keys:
        - yarn-packages-{{ checksum "yarn.lock" }}
  save_yarn_cache: &save_yarn_cache
    save_cache:
      name: Save Yarn cache
      key: yarn-packages-{{ checksum "yarn.lock" }}
      paths:
        - ~/.cache/yarn
  restore_node_modules: &restore_node_modules
    restore_cache:
      name: Restore node_modules from cache
      keys:
        - node-modules-{{ checksum "yarn.lock" }}-{{ .Branch }}
  save_node_modules: &save_node_modules
    save_cache:
      name: Save node_modules in cache
      key: node-modules-{{ checksum "yarn.lock" }}-{{ .Branch }}
      paths:
        - node_modules
        - packages/create-instantsearch-app/node_modules
        - packages/instantsearch.css/node_modules
        - packages/instantsearch.js/node_modules
        - packages/react-instantsearch/node_modules
        - packages/react-instantsearch-core/node_modules
        - packages/react-instantsearch-dom/node_modules
        - packages/react-instantsearch-dom-maps/node_modules
        - packages/react-instantsearch-hooks/node_modules
        - packages/react-instantsearch-hooks-server/node_modules
        - packages/react-instantsearch-hooks-web/node_modules
        - packages/react-instantsearch-native/node_modules
        - packages/vue-instantsearch/node_modules
  run_yarn_install: &run_yarn_install
    run:
      name: Install dependencies
      command: yarn install --frozen-lockfile

defaults: &defaults
  working_directory: ~/instantsearch
  docker:
    - image: cimg/node:14.18.0

workflows:
  version: 2
  ci:
    jobs:
      - build:
          context: fx-libraries
      - test metadata
      - lint:
          requires:
            - build
      - unit tests:
          requires:
            - build
      - legacy algoliasearch:
          requires:
            - build
      - vue v3:
          requires:
            - build
      - examples:
          requires:
            - build
      - e2e tests:
          context: fx-libraries
          requires:
            - examples
      - release if needed:
          context: fx-libraries
          requires:
            - build
            - lint
            - unit tests
            - examples
            - legacy algoliasearch
            - e2e tests
          filters:
            branches:
              only:
                - master
  scheduled release:
    triggers:
      - schedule:
          cron: '0 9 * * 2'
          filters:
            branches:
              only:
                - master
    jobs:
      - prepare release:
          context: fx-libraries

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache
      - *run_yarn_install
      - *save_yarn_cache
      - *save_node_modules
      - run:
          name: Build library
          command: |
            yarn run build:ci
      - run:
          name: Test packages size
          command: yarn run test:size
      - run:
          name: Test Exports
          command: yarn run test:exports
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - packages/instantsearch.js/es
            - packages/instantsearch.js/cjs
            - packages/instantsearch.js/dist
            - packages/react-instantsearch/dist
            - packages/react-instantsearch-core/dist
            - packages/react-instantsearch-dom/dist
            - packages/react-instantsearch-dom-maps/dist
            - packages/react-instantsearch-native/dist
            - packages/react-instantsearch-hooks/dist
            - packages/react-instantsearch-hooks-web/dist
            - packages/react-instantsearch-hooks-server/dist
            - packages/vue-instantsearch/vue2
            - packages/vue-instantsearch/vue3

  test metadata:
    <<: *defaults
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - run:
          name: Test package versions
          command: yarn run test:versions

  lint:
    <<: *defaults
    resource_class: large
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache
      - *restore_node_modules
      - *run_yarn_install
      - run:
          name: Lint & Code styles
          command: yarn run lint
      - run:
          name: Type Checking
          command: yarn run type-check

  legacy algoliasearch:
    <<: *defaults
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache
      - *restore_node_modules
      - *run_yarn_install
      - run:
          name: Update dependencies
          command: |
            ./scripts/legacy/downgrade-algoliasearch-dependency.js
      - run:
          name: Type Checking
          command: yarn run type-check:v3

  vue v3:
    <<: *defaults
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache
      - *restore_node_modules
      - *run_yarn_install
      - run:
          name: Update dependencies
          command: |
            yarn run prepare-vue3
      - run:
          name: Vue Unit tests
          command: yarn run jest packages/vue-instantsearch --ci --maxWorkers=4
      - store_test_results:
          path: junit/jest/
      - run:
          name: Vue 3 Test Exports
          command: yarn workspace vue-instantsearch run test:exports:vue3

  unit tests:
    <<: *defaults
    resource_class: large
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache
      - *restore_node_modules
      - *run_yarn_install
      - run:
          name: Unit tests
          command: yarn run test:ci
      - store_test_results:
          path: junit/jest/

  examples:
    <<: *defaults
    resource_class: large
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache
      - *restore_node_modules
      - *run_yarn_install
      - run:
          name: Build examples
          command: yarn run website:examples --concurrency=1
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - website/examples

  e2e tests:
    <<: *defaults
    resource_class: large
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache
      - *restore_node_modules
      - *run_yarn_install
      - run:
          name: End-to-end tests
          command: yarn run test:e2e:saucelabs
      - store_test_results:
          path: junit/wdio/

  release if needed:
    <<: *defaults
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache
      - *restore_node_modules
      - *run_yarn_install
      - run:
          name: Trigger a release if the latest commit is a release commit
          command: |
            git config --global user.email "instantsearch-bot@algolia.com"
            git config --global user.name "InstantSearch[bot]"
            yarn shipjs trigger

  prepare release:
    <<: *defaults
    steps:
      - checkout
      - *install_yarn_version
      - *restore_yarn_cache
      - *run_yarn_install
      - run:
          name: Prepare a pull request for next release
          command: |
            git config --global user.email "instantsearch-bot@algolia.com"
            git config --global user.name "InstantSearch[bot]"
            yarn run shipjs prepare --yes --no-browse
