version: 2.1

orbs:
  slack: circleci/slack@4.12.1

references:
  workspace_root: &workspace_root ~/instantsearch
  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root
  install_yarn_version: &install_yarn_version
    run:
      name: Install specific Yarn version
      command: |
        curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.13.0
        echo 'export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"' >> $BASH_ENV
  restore_yarn_cache: &restore_yarn_cache
    restore_cache:
      name: Restore Yarn cache
      keys:
        - yarn-packages-{{ checksum "yarn.lock" }}
  save_yarn_cache: &save_yarn_cache
    save_cache:
      name: Save Yarn cache
      key: yarn-packages-{{ checksum "yarn.lock" }}
      paths:
        - ~/.cache/yarn
  run_yarn_install: &run_yarn_install
    run:
      name: Install dependencies
      command: yarn install --frozen-lockfile --prefer-offline
  restore_yarn_cache_v3: &restore_yarn_cache_v3
    restore_cache:
      name: Restore Yarn cache (v3)
      keys:
        - yarn-packages-v3-{{ checksum "yarn.lock" }}-{{ checksum "scripts/legacy/downgrade-algoliasearch-dependency.js" }}
  save_yarn_cache_v3: &save_yarn_cache_v3
    save_cache:
      name: Save Yarn cache (v3)
      key: yarn-packages-v3-{{ checksum "yarn.lock" }}-{{ checksum "scripts/legacy/downgrade-algoliasearch-dependency.js" }}
      paths:
        - ~/.cache/yarn
        - node_modules
        - packages/*/node_modules
  restore_yarn_cache_v4: &restore_yarn_cache_v4
    restore_cache:
      name: Restore Yarn cache (v4)
      keys:
        - yarn-packages-v4-{{ checksum "yarn.lock" }}-{{ checksum "scripts/legacy/downgrade-algoliasearch-v4.js" }}
  save_yarn_cache_v4: &save_yarn_cache_v4
    save_cache:
      name: Save Yarn cache (v4)
      key: yarn-packages-v4-{{ checksum "yarn.lock" }}-{{ checksum "scripts/legacy/downgrade-algoliasearch-v4.js" }}
      paths:
        - ~/.cache/yarn
        - node_modules
        - packages/*/node_modules

defaults: &defaults
  working_directory: ~/instantsearch
  docker:
    - image: cimg/node:20.10.0

workflows:
  version: 2
  ci:
    when:
      not:
        equal: [scheduled_pipeline, << pipeline.trigger_source >>]
    jobs:
      - build:
          context: fx-libraries
      - test metadata
      - lint:
          requires:
            - build
      - unit tests:
          context: fx-libraries
          requires:
            - build
      - legacy algoliasearch v3:
          requires:
            - build
      - legacy algoliasearch v4:
          context: fx-libraries
          requires:
            - build
      - vue v3:
          requires:
            - build
      - examples:
          requires:
            - build
          filters:
            branches:
              only:
                - master
      - helper docs:
          requires:
            - build
          filters:
            branches:
              only:
                - master
      - e2e tests:
          context: fx-libraries
          requires:
            - examples
          matrix:
            parameters:
              browser: [chrome, firefox, internet explorer]
          filters:
            branches:
              only:
                - master
      - e2e tests router nextjs:
          context: fx-libraries
          requires:
            - build
          filters:
            branches:
              only:
                - master
      - e2e tests app router nextjs:
          context: fx-libraries
          requires:
            - build
          filters:
            branches:
              only:
                - master
      - release if needed:
          context: fx-libraries
          requires:
            - build
            - lint
            - unit tests
            - examples
            - legacy algoliasearch v3
            - legacy algoliasearch v4
            - helper docs
            - e2e tests
          filters:
            branches:
              only:
                - master
  scheduled release:
    # This workflow is triggered by a schedule pipeline.
    # See: https://app.circleci.com/settings/project/github/algolia/instantsearch/triggers
    when:
      and:
        - equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - equal: [scheduled_release, << pipeline.schedule.name >>]
    jobs:
      - prepare release:
          context: fx-libraries
  scheduled e2e:
    # This workflow is triggered by a schedule pipeline.
    # See: https://app.circleci.com/settings/project/github/algolia/instantsearch/triggers
    when:
      and:
        - equal: [scheduled_pipeline, << pipeline.trigger_source >>]
        - equal: [scheduled_e2e, << pipeline.schedule.name >>]
    jobs:
      - build:
          context: fx-libraries
      - examples:
          requires:
            - build
      - e2e tests:
          context: fx-libraries
          requires:
            - examples
          matrix:
            parameters:
              browser: [chrome, firefox, internet explorer]
      - e2e tests router nextjs:
          context: fx-libraries
          requires:
            - build
      - e2e tests app router nextjs:
          context: fx-libraries
          requires:
            - build

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache
      - *run_yarn_install
      - *save_yarn_cache
      - run:
          name: Build library
          command: |
            yarn run build:ci
      - run:
          name: Test packages size
          command: yarn run test:size
      - run:
          name: Test Exports
          command: yarn run test:exports
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - packages/*/dist
            - packages/instantsearch.js/es
            - packages/instantsearch.js/cjs
            - packages/vue-instantsearch/vue2
            - packages/vue-instantsearch/vue3

  test metadata:
    <<: *defaults
    steps:
      - checkout
      - *install_yarn_version
      - run:
          name: Test package versions
          command: yarn run test:versions

  lint:
    <<: *defaults
    resource_class: large
    environment:
      NODE_OPTIONS: '--max-old-space-size=4096'
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache
      - *run_yarn_install
      - run:
          name: Lint & Code styles
          command: yarn run lint
      - run:
          name: Type Checking
          command: yarn run type-check

  legacy algoliasearch v3:
    <<: *defaults
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache_v3
      - run:
          name: Update dependencies
          command: |
            ./scripts/legacy/downgrade-algoliasearch-dependency.js
      - *save_yarn_cache_v3
      - run:
          name: Unit & Integration tests
          command: yarn run test:v3
      - run:
          name: Type Checking
          command: yarn run type-check:v3

  legacy algoliasearch v4:
    <<: *defaults
    resource_class: large
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache_v4
      - run:
          name: Update dependencies
          command: |
            ./scripts/legacy/downgrade-algoliasearch-v4.js
      - *save_yarn_cache_v4
      - run:
          name: Unit & Integration tests
          command: yarn run test:ci:v4
      - store_test_results:
          path: junit/jest/
      - run:
          name: Type Checking
          command: yarn run type-check:v4

  vue v3:
    <<: *defaults
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache
      - *run_yarn_install
      - run:
          name: Update dependencies
          command: |
            yarn run prepare-vue3
      - run:
          name: Vue Unit tests
          command: yarn run jest packages/vue-instantsearch --ci --maxWorkers=4
      - store_test_results:
          path: junit/jest/
      - run:
          name: Vue 3 Test Exports
          command: yarn workspace vue-instantsearch run test:exports:vue3

  unit tests:
    <<: *defaults
    resource_class: large
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache
      - *run_yarn_install
      - run:
          name: Unit tests
          command: yarn run test:ci
      - store_test_results:
          path: junit/jest/

  examples:
    <<: *defaults
    resource_class: large
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache
      - *run_yarn_install
      - run:
          name: Build examples
          command: yarn run website:examples --concurrency=1
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - website/examples

  helper docs:
    <<: *defaults
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache
      - *run_yarn_install
      - run:
          name: Build helper documentation
          command: yarn workspace algoliasearch-helper run doc
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - website/algoliasearch-helper-js

  e2e tests:
    <<: *defaults
    parameters:
      browser:
        type: string
    environment:
      E2E_BROWSER: << parameters.browser >>
    resource_class: large
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache
      - *run_yarn_install
      - run:
          name: End-to-end tests
          command: yarn run test:e2e:saucelabs
      - store_test_results:
          path: junit/wdio/
      - slack/notify:
          channel: $SLACK_E2E_NOTIF_CHANNEL
          event: fail
          # See: https://app.slack.com/block-kit-builder/
          custom: |
            {
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": ":warning: End-to-end tests failed",
                    "emoji": true
                  }
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Project*: $CIRCLE_PROJECT_REPONAME"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Browser*: << parameters.browser >>"
                    }
                  ]
                },
                {
                  "type": "actions",
                  "elements": [
                    {
                      "type": "button",
                      "text": {
                        "type": "plain_text",
                        "text": "CircleCI"
                      },
                      "url": "$CIRCLE_BUILD_URL"
                    },
                    {
                      "type": "button",
                      "text": {
                        "type": "plain_text",
                        "text": "SauceLabs"
                      },
                      "url": "https://app.saucelabs.com/dashboard/tests/vdc"
                    }
                  ]
                }
              ]
            }

  e2e tests router nextjs:
    <<: *defaults
    resource_class: large
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache
      - *run_yarn_install
      - run:
          name: End-to-end tests
          command: yarn workspace react-instantsearch-router-nextjs run test:e2e:saucelabs
      - store_test_results:
          path: packages/react-instantsearch-router-nextjs/junit/wdio/

  e2e tests app router nextjs:
    <<: *defaults
    resource_class: large
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache
      - *run_yarn_install
      - run:
          name: End-to-end tests
          command: yarn workspace react-instantsearch-nextjs run test:e2e:saucelabs
      - store_test_results:
          path: packages/react-instantsearch-nextjs/junit/wdio/

  release if needed:
    <<: *defaults
    steps:
      - checkout
      - *attach_workspace
      - *install_yarn_version
      - *restore_yarn_cache
      - *run_yarn_install
      - run:
          name: Trigger a release if the latest commit is a release commit
          command: |
            git config --global user.email "instantsearch-bot@algolia.com"
            git config --global user.name "InstantSearch[bot]"
            yarn shipjs trigger

  prepare release:
    <<: *defaults
    steps:
      - checkout
      - *install_yarn_version
      - *restore_yarn_cache
      - *run_yarn_install
      - run:
          name: Prepare a pull request for next release
          command: |
            git config --global user.email "instantsearch-bot@algolia.com"
            git config --global user.name "InstantSearch[bot]"
            yarn run shipjs prepare --yes --no-browse
