include ../common/meta.pug
body.documentation
  include ../common/header.pug
  include ../common/hero-doc.pug

  section.documentation-section
    .container
      nav.sidebar.pos-abt.z-100
        block navigation

      a.sidebar-opener
      .documentation-container
        if(editable)
          a.btn.btn-static-theme.elevation0.pull-right(href=`http://github.com/algolia/vue-instantsearch/edit/master/${githubSource}`) Edit this page
        block content

  include ../common/footer.pug
  script(src=webpack.assets['js/main.js'])
  include ../common/analytics.pug
