body {
  min-height: 100%;
  font-family: Roboto;
  background: #F1F1F1; }

a {
  color: #333333; }

hr {
  margin: 10px 14px; }

.is-logo {
  float: left;
  margin-left: 18px; }

.logo {
  margin-left: 15px;
  font-size: 30px;
  font-weight: bold;
  float: left; }
  .logo:hover {
    text-decoration: none; }
  .logo i {
    margin-left: 5px;
    color: #E91D00; }

header {
  background: #FFFFFF;
  padding: 10px;
  border-bottom: 1px solid #E8E8E8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; }
  header .searchbox-container {
    margin-left: 240px;
    max-width: 400px; }
    header .searchbox-container .ais-search-box {
      max-width: inherit; }
      header .searchbox-container .ais-search-box #q {
        border-radius: 0;
        padding-bottom: 7px; }
    header .searchbox-container .input-group {
      margin-top: 5px; }
      header .searchbox-container .input-group .form-control:focus {
        outline: none;
        -webkit-box-shadow: none;
                box-shadow: none; }
      header .searchbox-container .input-group .input-group-btn button {
        padding-left: 20px;
        padding-right: 20px;
        background: #F8F8F8;
        border-radius: 0; }

section {
  background: #F1F1F1;
  min-height: 100%;
  z-index: 1; }
  section aside {
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 10px;
    width: 230px;
    background: #FFFFFF;
    border-right: 1px solid #E8E8E8; }
    section aside .nav {
      margin: 0 20px; }
      section aside .nav li a {
        display: block;
        padding: 2px 10px;
        margin: 10px 0; }
        section aside .nav li a:hover {
          color: #FFFFFF;
          background: #333333; }
      section aside .nav li.separator {
        height: 1px;
        background: #E8E8E8; }
    section aside h5 {
      color: #CE1312;
      margin-left: 30px;
      text-transform: uppercase;
      font-size: 10px;
      margin-top: 20px; }
    section aside .badge {
      font-size: .8em;
      background: #BBBBBB;
      position: relative;
      top: 1px; }
    section aside #genres label {
      display: block;
      cursor: pointer;
      padding: 4px 4px 4px 8px;
      font-weight: normal;
      font-size: .9em;
      margin: 0 0 -1px; }
      section aside #genres label:hover {
        color: #FFFFFF;
        background: #333333; }
      section aside #genres label input {
        display: none; }
    section aside #genres .active label {
      border: 1px solid #CE1312;
      margin-top: -1px; }
    section aside #genres .active .badge {
      background: #333333; }
    section aside #ratings {
      margin-left: 10px; }
      section aside #ratings .ais-stars-list--link {
        font-size: .9em; }
        section aside #ratings .ais-stars-list--link:hover, section aside #ratings .ais-stars-list--link:active, section aside #ratings .ais-stars-list--link:focus {
          text-decoration: none; }
      section aside #ratings .ais-stars-list--count {
        font-size: 8px; }
      section aside #ratings .ais-star-rating--item {
        margin-bottom: 6px; }
      section aside #ratings .ais-star-rating--item__active a {
        color: #CE1312; }
  section article {
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: 237px;
    margin-right: 10px;
    padding: 10px 0;
    max-width: 100%;
    background: #FFFFFF;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
    section article #stats {
      padding-right: 14px;
      font-size: .8em;
      line-height: 24px; }
    section article #hits {
      padding: 0 15px; }
    section article #pagination .pagination a {
      background: #F8F8F8;
      padding: 3px 8px;
      color: #333333;
      margin-right: 4px; }
      section article #pagination .pagination a.active {
        border-color: #b5b5b5;
        background: #E8E8E8; }
      section article #pagination .pagination a:hover {
        border-color: #cfcfcf;
        background: #ebebeb; }
    section article .hit {
      margin-bottom: 10px;
      height: 130px;
      border: 1px solid #F3F3F3; }
      section article .hit em {
        font-style: normal;
        background: #FFFFD4;
        text-decoration: underline; }
      section article .hit .media-object {
        height: 130px;
        width: 130px;
        overflow: hidden;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center; }
      section article .hit .media-heading {
        color: #167AC6;
        font-weight: normal;
        font-size: 18px; }
  section .thank-you {
    font-size: .8em;
    margin-top: 18px;
    margin-left: 30px; }
    section .thank-you a {
      color: #CE1312; }

.ais-search-box--input {
  padding-left: 14px; }

.genre, .year {
  margin: 12px 0; }

.year {
  font-weight: bold; }

.genre .badge {
  background: #BBBBBB; }