section.footer-new-cta.footer-new.h300.pos-rel
  .container.color-white.stellar-container.vh-center
    .col-md-5
      .spacer120.hidden-sm
      .spacer32.visible-xs
      header
        h2.text-normal.m-t-none
          | Start creating stellar search,
          span.cf.hidden-xs
          | no strings attached.
        p
          | Dive into Algolia with our 14-day trial - No credit card required. Plenty of time to see how Algolia can change your business.
    .col-md-7.pos-rel.z-10
      .spacer120.inline.hidden-sm
      .spacer32.inline.hidden-sm
      .spacer16.visible-sm
      .button-holder.h200.p-r-large
        .spacer16.hidden-md.hidden-sm
        span.inline.pos-rel
          a.btn.btn-static-primary.btn-static-shadow-dark(href='/users/sign_up')
            | Get Started
            i.icon.icon-arrow-right.color-white
          i.icon.icon-search.text-xl.color-bunting.m-l-large.hidden-sm
#footer
  .credits
    .container.pos-rel
      .row

        .col-md-12.text-center
          a(data-no-turbolink='true', href='/')
            img(width='40', src='https://www.algolia.com/static_assets/images/flat2/algolia/algolia-logo_badge-598a1fe6.svg')
      .spacer40
