#footer
  .credits
    .container.pos-rel
      .row

        .col-md-12.text-center
          a(data-no-turbolink='true', href='/')
            img(width='40', src='https://www.algolia.com/static_assets/images/flat2/algolia/algolia-logo_badge-598a1fe6.svg')
      .spacer40
