footer.ac-footer
  .ac-footer-container
    p.ac-footer-links
      | Code licensed under
      a.ac-footer-link-item(href='https://github.com/algolia/react-instantsearch/blob/master/LICENSE') MIT
      br
      a.ac-footer-link-item(href='https://github.com/algolia/react-instantsearch/') GitHub
      a.ac-footer-link-item(href='https://github.com/algolia/react-instantsearch/issues') issues
      a.ac-footer-link-item(href = 'https://www.algolia.com/policies/privacy') Privacy policy
  .ac-footer-container.ac-footer-brand
    p This project is part of
    img.ac-footer-brand-icon(src="images/community-badge.svg")
    figure
      img.ac-footer-brand-logo(src='https://res.cloudinary.com/hilnmyskv/image/upload/v1484219849/algolia-community-logo-words-darkbg.svg')
      figcaption Algolia Community
    a.ac-footer-btn.ac-footer-btn-cta(href='https://community.algolia.com/') See More
    span.ac-icon.ac-icon-love-dark
  p.ac-footer-version Latest version: #{pkg.version}
  .ac-footer-actions
    .footer-container
      p Build unique search experiences with Algolia
      a.ac-footer-btn.ac-footer-btn-ghost-grey(href='https://www.algolia.com/why?utm_medium=social-owned&utm_source=react%20instantsearch%20website&utm_campaign=homepage&utm_term=why')
        | See Why
        span.ac-icon-triangle
      a.ac-footer-btn.ac-footer-btn-ghost-blue(href='https://www.algolia.com/users/sign_up?utm_medium=social-owned&utm_source=react%20instantsearch%20website&utm_campaign=homepage&utm_term=get_started') Get Started For Free

script(src="https://cdn.jsdelivr.net/g/jquery@3(jquery.slim.min.js),docsearch.js@2,underscorejs@1")
script.
  docsearch({
    apiKey: '5cb6763f264e31381e18639a1147634c',
    indexName: 'react-instantsearch',
    inputSelector: '#searchbox',
    debug: true
  });
  window.twttr = (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
              t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function (f) {
          t._e.push(f);
      };

      return t;
  }(document, "script", "twitter-wjs"));

if navPath === 'index.html'
  script.
    $(function () {

      var ACTIONS = {
          PREV: 'PREV',
          NEXT: 'NEXT'
      };
      var $prevBtn = $('.press__tweet__arrow--prev');
      var $nextBtn = $('.press__tweet__arrow--next');
      var $tweets = $('.press__tweet');
      var $tweetsContainer = $('.press__tweets');

      var currentIndex = Math.floor($tweets.length / 2);
      function setCurrentTweet(action) {
          switch (action) {
          case ACTIONS.PREV:
              if (currentIndex <= $tweets.length) {
                  currentIndex--;
              }
              break;
          case ACTIONS.NEXT:
              if (currentIndex >= 0) {
                  currentIndex++;
              }
              break;
          default:
              currentIndex = action;
          }
          centerTweets(action);
      }
      function centerTweets() {
          var action = arguments.length <= 0 || arguments[0] === undefined ? ACTIONS.PREV : arguments[0];
          var $centerElement = $($tweets[currentIndex]);
          var tweetSize = $(_.first($tweets)).width();
          var _$centerElement$posit = $centerElement.position();
          var left = _$centerElement$posit.left;
          var containerSize = $tweetsContainer.width();
          var gap = action === ACTIONS.NEXT ? tweetSize / 3 : tweetSize - 325;
          var offset = -(containerSize / 2) + left + gap;
          $tweets.removeClass('press__tweet--current');
          $centerElement.addClass('press__tweet--current');
          removeClickableTweets();
          $(_.first($tweetsContainer)).css('transform', 'translateX(' + (offset > 0 ? '-' + (offset + 150) : 0) + 'px)');
      }
      function loadTweets() {
          var promises = [];
          $tweets.each(function (index, tweet) {
              var $tweet = $(tweet);
              var tweetId = $tweet.attr('data-tweet-id');
              promises.push(twttr.widgets.createTweet(tweetId, tweet, {
                  cards: 'hidden',
                  conversation: 'none'
              }));
          });
          return promises;
      }
      function removeLoadingClass() {
          $tweetsContainer.removeClass('press__tweets--loading');
      }
      function bindEvents() {
          $prevBtn.on('click', _.partial(setCurrentTweet, ACTIONS.PREV));
          $nextBtn.on('click', _.partial(setCurrentTweet, ACTIONS.NEXT));
          $(window).on('resize', _.debounce(centerTweets, 100));
      }

      function showTab(e) {
          window.location.hash = e.target.hash;
          window.scrollTo(0, 0);
          centerTweets();
      }

      function removeClickableTweets() {
          $tweets.find('iframe').contents().find('.EmbeddedTweet').removeClass('js-clickToOpenTarget');
          $tweets.nextAll('.press__tweet--current').find('iframe').contents().find('.EmbeddedTweet').addClass('js-clickToOpenTarget');
      }
      twttr.ready(function () {
          Promise.all(loadTweets()).then(removeLoadingClass).then(centerTweets).then(removeClickableTweets);
      });
      bindEvents();
    });
include ./marketing.pug
