section.ac-footer
  .ac-footer-container
    p.ac-footer-links
      | Code licensed under
      a.ac-footer-link-item(href='https://raw.githubusercontent.com/algolia/instantsearch.js/develop/LICENSE') MIT
      br
      a.ac-footer-link-item(href='https://github.com/algolia/instantsearch.js') GitHub
      a.ac-footer-link-item(href='https://github.com/algolia/instantsearch.js/issues') issues
  .ac-footer-container.ac-footer-brand
    p This project is part of
    img.ac-footer-brand-icon(src='https://res.cloudinary.com/hilnmyskv/image/upload/logo-community.svg')
    figure
      img.ac-footer-brand-logo(src='https://res.cloudinary.com/hilnmyskv/image/upload/v1463417234/algolia-community_n6tixd.svg')
      figcaption Algolia Community
    a.ac-footer-btn.ac-footer-btn-cta(href='https://community.algolia.com/') See More
    span.ac-icon.ac-icon-love-dark
  p.ac-footer-version Latest version: #{pkg.version}
  .ac-footer-actions
    .footer-container
      p Build unique search experiences with Algolia
      a.ac-footer-btn.ac-footer-btn-ghost-grey(href='https://www.algolia.com/why?utm_medium=social-owned&utm_source=instantsearchjs%20website&utm_campaign=homepage&utm_term=why')
        | See Why
        span.ac-icon-triangle
      a.ac-footer-btn.ac-footer-btn-ghost-blue(href='https://www.algolia.com/users/sign_up?utm_medium=social-owned&utm_source=instantsearchjs%20website&utm_campaign=homepage&utm_term=get_started') Get Started For Free

<svg width="0" height="0">
  <defs>
    <symbol viewBox="0 0 15 15" id="search-icon">
      <path d="M10.052 10.88c-1.1.91-2.483 1.406-3.91 1.403C2.75 12.283 0 9.533 0 6.14 0 2.75 2.75 0 6.142 0c3.392 0 6.14 2.75 6.14 6.142 0 1.485-.526 2.847-1.403 3.91l3.95 3.95c.227.227.228.596-.002.826-.228.227-.597.228-.826 0l-3.95-3.95zm-3.91.234c2.745 0 4.972-2.227 4.972-4.972 0-2.747-2.227-4.972-4.972-4.972-2.747 0-4.972 2.225-4.972 4.972 0 2.745 2.225 4.972 4.972 4.972z" fill-rule="evenodd"/>
    </symbol>

    <symbol viewBox="0 0 13 13" id="cancel-icon">
      <path d="M5.274 6.5L.614 1.84 0 1.225 1.226 0l.613.613 4.66 4.66 4.66-4.66.614-.613L13 1.226l-.613.613-4.66 4.66 4.66 4.66.613.614L11.774 13l-.613-.613-4.66-4.66-4.66 4.66-.614.613L0 11.774l.613-.613" fill-rule="evenodd"/>
    </symbol>

    <symbol viewBox="0 0 91 29" id="logo-algolia">
      <path d="M54.778 11.404l-1.194 4.068 3.845-2.026c-.56-.985-1.512-1.73-2.652-2.042zm-7.33-3.334c-.592-.546-1.555-.546-2.15 0l-.267.247c-.593.546-.593 1.43 0 1.977l.286.263c.62-.908 1.392-1.702 2.286-2.346l-.153-.14zm8.74-1.274c0-.03.01-.06.01-.093v-.737c0-.813-.66-1.473-1.472-1.473H52.15c-.81 0-1.47.66-1.47 1.473v.724c1.807-.508 3.723-.47 5.507.107z"/><path d="M53.584 9.964c3.2 0 5.805 2.584 5.805 5.76 0 3.176-2.605 5.76-5.806 5.76-3.2 0-5.805-2.584-5.805-5.76 0-3.176 2.603-5.76 5.804-5.76zm-8.128 5.76c0 4.453 3.64 8.064 8.128 8.064 4.49 0 8.128-3.61 8.128-8.063 0-4.453-3.64-8.065-8.128-8.065-4.49 0-8.128 3.612-8.128 8.064zM16.484 23.5c-.337-.886-.65-1.756-.948-2.612-.302-.872-.608-1.742-.918-2.61H5.32l-1.865 5.22H.465c.73-2.004 1.47-4.005 2.22-6.003.658-1.752 1.334-3.498 2.03-5.236.66-1.655 1.317-3.233 1.968-4.738.65-1.504 1.332-2.994 2.043-4.47h2.636c.71 1.476 1.39 2.966 2.043 4.47.678 1.57 1.334 3.15 1.968 4.736.695 1.74 1.37 3.484 2.03 5.237.69 1.84 1.43 3.84 2.22 6.004h-3.14zm-2.695-7.583c-.615-1.662-1.242-3.32-1.882-4.972-.62-1.603-1.268-3.142-1.94-4.618C9.26 7.844 8.605 9.384 8 10.945c-.64 1.65-1.256 3.306-1.85 4.972h7.64zM26.503 23.5c-1.654-.04-2.828-.4-3.52-1.085-.694-.684-1.04-1.748-1.04-3.196V.93l2.683-.47v18.32c0 .45.04.82.116 1.113.077.293.202.527.375.704.173.175.404.307.693.395.29.088.646.162 1.07.22l-.376 2.286zm13.047-1.852c-.232.156-.684.355-1.354.598-.67.244-1.454.366-2.348.366-.913 0-1.773-.147-2.58-.438-.8-.288-1.522-.752-2.113-1.36-.603-.61-1.08-1.376-1.43-2.29-.35-.915-.524-2.005-.524-3.27 0-1.11.166-2.128.497-3.053.33-.923.81-1.722 1.443-2.394.63-.672 1.403-1.197 2.317-1.577.915-.38 1.945-.57 3.092-.57 1.262 0 2.365.093 3.308.278.942.186 1.734.355 2.375.51V22c0 2.337-.602 4.03-1.807 5.08-1.206 1.052-3.032 1.577-5.482 1.577-.904.005-1.806-.073-2.696-.232-.845-.157-1.58-.34-2.2-.555l.495-2.365c.544.213 1.21.404 1.996.57.81.167 1.635.25 2.463.248 1.613 0 2.774-.32 3.484-.963.71-.642 1.064-1.665 1.064-3.066v-.642zm-1.12-11.49c-.46-.07-1.076-.103-1.853-.103-1.458 0-2.58.477-3.368 1.43-.788.955-1.18 2.22-1.18 3.797 0 .875.11 1.625.334 2.25.224.62.525 1.137.904 1.546.362.397.81.706 1.312.905.496.195 1.007.292 1.53.292.72 0 1.38-.102 1.983-.306.602-.206 1.08-.444 1.43-.717v-8.876c-.273-.078-.637-.15-1.093-.22zm30.454 13.34c-1.655-.038-2.83-.398-3.52-1.083-.694-.684-1.04-1.75-1.04-3.196V.93l2.684-.47v18.32c0 .45.04.82.116 1.114.077.293.2.528.375.704.17.175.4.308.69.396.29.087.645.16 1.07.22l-.376 2.286zm5.02-18.305c-.485 0-.897-.162-1.235-.484-.34-.324-.508-.76-.508-1.307 0-.548.17-.984.507-1.306.337-.323.75-.485 1.232-.485.484 0 .895.16 1.234.485.338.323.508.758.508 1.305 0 .547-.17.982-.508 1.306-.34.323-.75.484-1.234.484zM72.567 7.95h2.7v15.262h-2.7V7.95zm12.294-.29c1.097 0 2.022.144 2.777.43.752.287 1.36.692 1.82 1.215.46.524.79 1.147.985 1.87.195.72.294 1.516.294 2.386v9.636l-.985.162c-.474.076-.95.14-1.426.193-.53.06-1.103.115-1.72.164-.617.05-1.23.074-1.836.074-.862 0-1.655-.09-2.38-.267-.725-.177-1.352-.458-1.88-.844-.53-.385-.94-.894-1.235-1.526-.295-.633-.442-1.394-.442-2.283 0-.85.17-1.58.515-2.194.332-.602.812-1.112 1.395-1.482.588-.374 1.274-.65 2.057-.83.81-.18 1.638-.27 2.47-.266.273 0 .557.015.85.044.295.03.574.07.84.12.264.048.494.093.69.133.195.04.333.07.41.088v-.77c0-.454-.05-.904-.146-1.35-.092-.426-.272-.83-.53-1.184-.254-.345-.602-.622-1.043-.83-.44-.208-1.014-.312-1.72-.312-.9 0-1.688.065-2.365.194-.675.128-1.18.262-1.512.4l-.323-2.283c.353-.158.94-.312 1.763-.46.823-.148 1.715-.222 2.674-.222h-.002zm.235 13.815c.573.002 1.147-.013 1.72-.045.498-.03.915-.083 1.248-.163v-4.595c-.197-.098-.515-.182-.955-.25-.442-.07-.975-.105-1.602-.105-.41 0-.847.03-1.307.09-.46.058-.882.182-1.263.37-.374.18-.7.444-.955.77-.254.326-.382.756-.382 1.29 0 .988.313 1.674.94 2.06.627.386 1.48.58 2.557.58v-.002z"/>
    </symbol>

    <symbol viewBox="0 0 40 39" id="github-icon">
      <path d="M19.998,0 C8.955,0 0,8.954 0,20 C0,28.837 5.73,36.333 13.678,38.977 C14.678,39.161 15.043,38.544 15.043,38.013 C15.043,37.538 15.026,36.281 15.016,34.613 C9.453,35.82 8.28,31.93 8.28,31.93 C7.37,29.62 6.058,29.005 6.058,29.005 C4.242,27.765 6.195,27.79 6.195,27.79 C8.203,27.93 9.259,29.85 9.259,29.85 C11.042,32.907 13.939,32.024 15.079,31.512 C15.259,30.222 15.777,29.339 16.349,28.839 C11.907,28.334 7.239,26.617 7.239,18.954 C7.239,16.771 8.019,14.984 9.297,13.587 C9.091,13.081 8.404,11.047 9.493,8.294 C9.493,8.294 11.173,7.756 14.993,10.344 C16.624924,9.89926425 18.308563,9.672627 20,9.67 C21.7,9.68 23.41,9.9 25.008,10.345 C28.826,7.757 30.502,8.295 30.502,8.295 C31.592,11.048 30.907,13.082 30.702,13.588 C31.984,14.985 32.757,16.772 32.757,18.955 C32.757,26.638 28.081,28.329 23.627,28.823 C24.343,29.441 24.983,30.661 24.983,32.526 C24.983,35.201 24.958,37.358 24.958,38.013 C24.958,38.549 25.318,39.171 26.334,38.976 C34.274,36.326 40,28.836 40,20 C40,8.955 31.045,0 19.998,0" id="Shape" ></path>
    </symbol>
  </defs>
</svg>

script(type="text/javascript", src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js")
script.
  docsearch({
    appId: 'EH63NL34B6',
    apiKey: '36b645758ad4f948b134e396f277ad7d',
    indexName: 'DOC',
    inputSelector: '#searchbox'
  });

