div !{header}
  .marketing-banner
    .banner__description
      a(href='http://react-instantsearch-beta.netlify.com')
        p
          strong Check out React InstantSearch V5! Our new and improved React InstantSearch version →
