div !{header}
  .marketing-banner
    .banner__description
      a(href='guide/Migration_guide_package_import.html')
        p
          strong React InstantSearch has new packages! Want to learn more? Go check out our migration guide →
