div !{header}
  .marketing-banner
    .banner__description
      a(href='guide/Migration_guide_v5.html')
        p
          strong This is the documentation of React InstantSearch v5. Coming from the v4? Go check out our migration guide →
