div !{header}
  .marketing-banner
    .banner__description
      a(href='http://react-instantsearch-beta.netlify.com/react-instantsearch/guide/migration_guide_v5.html')
        p
          strong This is the documentation of the new beta of React InstantSearch. Coming from the v4? Go check out our migration guide →
