
script(src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js")

section.hero.fill-titan
  .container.z-10
    .spacer80
    h1.heading-text Build website search the right way
    h2.color-logan.text-lg.text-thin InstantSearch.js makes it easy to design the perfect search experience using prepackaged search widgets or by creating your own!
    .spacer80
  .row.z-10.m-l-none.m-r-none
    .spacer40
    figure
      img(src="assets/img/instantsearch-medal.svg")
    .spacer40
  .spacer120
  .spacer120



