script(src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js")

section.hero.fill-titan
  .container.z-10
    .spacer80
    h1.heading-text Lightning-fast search for React and React Native apps

    h2.color-logan.text-lg.text-thin React-InstantSearch makes it easy to design the perfect search experience using prepackaged search components or creating your own!

    .spacer32
    a.btn.btn-static-theme.elevation0(href="Getting_started.html", title="Start with React").
      Get started with React
      <i class="icon icon-arrow-right"></i>
    .inline.m-l-small.m-r-small.hidden-xs
    a.btn.btn-static-theme.elevation0(href="Getting_started_React_native.html", title="Start with React-Native").
      Get started with React-Native
      <i class="icon icon-arrow-right"></i>

    .spacer80.hidden-sm
  .row.z-10.m-l-none.m-r-none
    .spacer40
    .spacer40.hidden-md
    figure
      img(src="assets/img/InstantSearch-React-medal.svg")
    .spacer40.hidden-sm
  .spacer120
  .spacer40.hidden-sm
