section.hero-section.shrink
  .container
    .hero-container
      if navPath !== 'index.html'
        .fl-left.article-title.doc-only
          figure
            img(src="images/react-instant-search-logo.svg", width="46")
            figcaption
              if mainTitle
                h1
                  | #{mainTitle + ' > '}
                  span=title
              else
                h1=title
      else
        .hero-content
          h1.project-title=title
          h2.tagline.
            ⚡ Lightning-fast search for React apps
          a(href="Getting_started.html", class="btn btn-cta btn-fat-uc") Get Started
