
script(src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js")

section.hero-section.shrink
  .container
    .hero-container.text-left
      if navPath !== 'index.html'
        figcaption
          if mainTitle
            h1
              | !{'<span style="font-weight: normal">' + mainTitle + ' /</span> '}
              span=title
          else
            h1=title
      else
        .hero-content.text-center
          h2.tagline
            <img src="assets/img/logo-instantsearch.svg" width="390px" class="instantsearch-logo"/>

          h3 A library of UI widgets to help you build the best instant-search experience.

          a(href="getting-started.html", class="btn btn-static-primary btn-lg btn-shadow-dark").
            Get Started <i class="icon icon-arrow-right"></i>
