section.hero-section.shrink
  .container
    .hero-container

      .fl-left.article-title.doc-only
        a(href='https://www.algolia.com/?utm_medium=social-owned&utm_source=algoliasearch-helper%20website&utm_campaign=homepage', title='Algolia built this', class='algolia-website-logo-link')
          span#icon-algolia.icon.icon-algolia-small_white.no-mobile
        figure
          img(src="images/react-instant-search-logo.svg", width="46")
          figcaption
            if mainTitle
              h1
                | #{mainTitle + ' > '}
                span=title
            else
              h1=mainTitle

      .fl-left.article-title
        a(href='https://www.algolia.com/?utm_medium=social-owned&utm_source=algoliasearch-helper%20website&utm_campaign=homepage', title='Algolia built this', class='algolia-website-logo-link')
          span#icon-algolia.icon.icon-algolia-small_white.no-mobile
        figure
          img(src="images/react-instant-search-logo-text.svg")
          figcaption
            h1=title
        h2.tagline.
          Create instant-search experiences using #[a(href="https://facebook.github.io/react/") React]
          and #[a(href="https://www.algolia.com/") Algolia]
      .fl-left.project-logo
        <svg version="1.1" id="manatSVG" class="is-react-logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 400 400" style="enable-background:new 0 0 400 400;" xml:space="preserve"> <style type="text/css"> .st0{fill:none;stroke:#FFFFFF;stroke-width:16;stroke-linecap:round;stroke-miterlimit:10;} </style> <g> <g> <g> <path class="st0" d="M266.3,120.2c71.5,11.8,122.7,43.5,122.7,80.6c0,23.1-19.8,44.2-52,59.5"/> <path class="st0" d="M214.4,58.8c31-22.5,60.9-30.5,81.8-18.3c31.3,18.1,33.9,75.4,10.6,140.8"/> <path class="st0" d="M321.6,284.7c3.1,36.5-5,64.9-25.4,76.7c-31,17.9-81.3-7.8-126.2-59.9"/> </g> <g> <path class="st0" d="M133.7,120.2C62.2,132.1,11,163.8,11,200.8c0,23.1,19.8,44.2,52,59.5"/> <path class="st0" d="M185.7,58.8c-31-22.5-60.9-30.5-81.8-18.3C72.6,58.6,70,115.9,93.3,181.3"/> <path class="st0" d="M78.4,284.7c-3.1,36.5,5,64.9,25.4,76.7c31,17.9,81.3-7.8,126.2-59.9"/> </g> </g> </g> <g> <circle class="st0" cx="200.9" cy="121.6" r="39.3"/> <circle class="st0" cx="271.9" cy="244.5" r="39.3"/> <circle class="st0" cx="130" cy="244.5" r="39.3"/> <g> <line class="st0" x1="233.4" y1="177.8" x2="220.5" y2="155.6"/> <line class="st0" x1="233.4" y1="177.8" x2="239.3" y2="188.3"/> <line class="st0" x1="207" y1="244.5" x2="232.5" y2="244.5"/> <line class="st0" x1="149.5" y1="210.6" x2="162.4" y2="188.3"/> <line class="st0" x1="162.4" y1="188.3" x2="168.5" y2="177.8"/> <line class="st0" x1="195" y1="244.5" x2="207" y2="244.5"/> </g> </g> </svg>
