
section.hero.fill-titan
  .container.z-10
    .spacer80
    h1.heading-text Build website search the right way
    h2.color-logan.text-lg.text-thin InstantSearch.js makes it easy to design the perfect search experience using prepackaged search widgets or by creating your own!
    .spacer32
    a.btn.btn-static-theme.elevation0(href="getting-started.html").
      Get started
      <svg> <use xlink:href="#arrow-right"></svg>

    .spacer80.hidden-sm
  .row.z-10.m-l-none.m-r-none
    .spacer40
    .spacer40.hidden-md
    figure
      img(src="assets/img/instantsearch-medal.svg")
    .spacer40.hidden-sm
  .spacer120
  .spacer40.hidden-sm
