
section.hero.hero-doc.fill-titan
  .spacer120
  .container
    .col-md-12.h200.text-left
      if mainTitle
        h1.text-heading.color-white
          | !{'<span class="text-thin">' + mainTitle + '  <span class="text-xl vertical-align-middle"><svg width="28"  viewBox="0 0 84 85" xmlns="http://www.w3.org/2000/svg"><path d="M80.267 47.867L8.683 83.657c-2.964 1.483-6.568.282-8.05-2.682C.217 80.142 0 79.223 0 78.292V6.708c0-3.314 2.686-6 6-6 .93 0 1.85.217 2.683.634l71.584 35.79c2.964 1.483 4.165 5.087 2.683 8.05-.58 1.162-1.522 2.104-2.683 2.685z" fill="#FFF" fill-rule="evenodd"/></svg></span> </span> '}
          span.text-normal=title
      else
        h1.text-heading.text-thin.color-white=title



