body {
  font-family: $font-settings;
}

.container {
  width: 100%;
  height: 100%;
  margin: $navigation-height auto;
}

.welcome {
  padding: 2em 0;
  text-align: center;
  border: 1px solid rgba(black, 0.1);
  max-width: $max-container-width;
  margin: 6em auto 0;
}
