input {
  outline: none;
  border-radius: 4px;

  @include appearance(none !important);
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none !important;
  }
}
