@charset 'utf-8';
// ------------------------------------
// Functions
// ------------------------------------
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// ------------------------------------
// Mixins
// ------------------------------------

@mixin closedCaret() {
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: -22px;
    width: 14px;
    height: 14px;
    background: url("data:image/svg+xml;utf8,<svg viewBox=\'0 0 8 13\' xmlns=\'http://www.w3.org/2000/svg\'><path d=\'M1.5 1.5l5 4.98-5 5.02\' stroke=\'%23697782\' stroke-width=\'1.5\' fill=\'none\' fill-rule=\'evenodd\' stroke-linecap=\'round\' opacity=\'.4\'/></svg>")no-repeat center center / contain;
    transform: translateY(-50%)
  }
}

@mixin openCaret() {
  &:after {
    top: 25%;
    transform: rotate(90deg)
  }
}

@mixin button(){
  background-color: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(85, 95, 110, 0.2) !important;
  border: solid 1px #d4d8e3 !important;
  padding: 6px 8px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: #697782;
  border-radius: 4px;
  outline: none;

  &:focus {
    background: darken(white, 5%)
  }

}

@mixin counterStyle() {
  border-radius: 31px;
  background-color: rgba(#2751af, 0.1);
  color: $main-color;
  font-size: 12px;
  padding: 2px 10px;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

// ------------------------------------
// Variables
// ------------------------------------
$main-color: #3369e7;


// ------------------------------------
// Import
// ------------------------------------

@import 'styles/ClearAll',
'styles/CurrentRefinements',
'styles/HierarchicalMenu',
'styles/Hits',
'styles/HitsPerPage',
'styles/InfiniteHits',
'styles/Menu',
'styles/MultiRange',
'styles/Pagination',
'styles/PoweredBy',
'styles/RangeInput',
'styles/StarRating',
'styles/RefinementList',
'styles/SearchBox',
'styles/SortBy',
'styles/Stats',
'styles/Toggle',
'styles/widgets';
