@import "modules/base";

.modal-hint {
  position: fixed;
  width: 380px;
  height: auto;
  top: 16px;
  right: 16px;
  background: $white;
  padding: 2em 2em 1.5em;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 16px 32px 0 rgba($bunting, 0.2);
  border: 1px solid rgba(0,0,0,0.1);
  will-change: opacity, transform;
  opacity: 0;
  z-index: -1;
  visibility: hidden;


  h3 {
    margin-top: 0;
  }

  .col-md-6 {
    text-align: center;

    a {
      padding: 8px 0;
      display: inline-block;
      margin-right: 8px;
      color: #7485AA;
    }
  }

  .img-thumbnail {
    max-width: 100%;
    position: relative;
    display: inline-block;
  }

  .icon {
    display: inline-block;
    max-width: 16px;
    max-height: 16px;
    fill: #667492;
    position: relative;
    top: 4px;
  }

  .btn {
    width: 100%;
  }


  #closeHintAssets {
    position: absolute;
    top: 0;
    right: 0;

    width: 32px;
    height: 32px;
    display: block;

    svg {
      width: 28px;
      height: 28px;
      padding: 8px;

      path {
        fill: #667492
      }
    }

    &:hover {
      svg path {
        fill: #FF2060
      }
    }
  }
}


/// ANIMATION
.animated {
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  100% {
    transform: none;
  }
}

.bounceInRight {
  animation-name: bounceInRight;
}