---
import '../styles/index.scss';
import Header from '../components/Header.astro';

const { title } = Astro.props;
const { BASE_URL } = import.meta.env;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href={`${BASE_URL}/themes/satellite-min.css`}
      id="js-customTheme"
    />
    <title>{`InstantSearch specs ${title ? `| ${title}` : ''}`}</title>
    <script>
      import '../main.js';
    </script>
  </head>

  <body>
    <Header />
    <slot />
  </body>
</html>
