@import 'reset.scss';

// Colors

$algolia-blue: rgb(0, 174, 255);
$ghost: rgb(196, 200, 216);
$east-bay: rgb(73, 85, 136);
$koromiko: rgb(255, 193, 104);
$port-gore: rgb(58, 69, 112);

// Global

[class^='ais-'] {
  font-size: 1rem;
  box-sizing: border-box;
}

a[class^='ais-'] {
  text-decoration: none;
}

.ais-Breadcrumb,
.ais-ClearRefinements,
.ais-CurrentRefinements,
.ais-HierarchicalMenu,
.ais-Highlight,
.ais-Hits,
.ais-Results,
.ais-HitsPerPage,
.ais-ResultsPerPage,
.ais-InfiniteHits,
.ais-InfiniteResults,
.ais-Menu,
.ais-MenuSelect,
.ais-NumericMenu,
.ais-NumericSelector,
.ais-Pagination,
.ais-Panel,
.ais-PoweredBy,
.ais-RangeInput,
.ais-RangeSlider,
.ais-RatingMenu,
.ais-RefinementList,
.ais-SearchBox,
.ais-Snippet,
.ais-SortBy,
.ais-Stats,
.ais-Toggle {
  color: $port-gore;
}

// Widgets

.ais-Breadcrumb-item--selected,
.ais-HierarchicalMenu-item--selected,
.ais-Menu-item--selected {
  font-weight: bold;
}

.ais-Breadcrumb-separator {
  margin: 0 0.3em;
  font-weight: normal;
}

.ais-Breadcrumb-link,
.ais-HierarchicalMenu-link,
.ais-Menu-link,
.ais-Pagination-link,
.ais-RatingMenu-link {
  color: $algolia-blue;
  transition: color 0.2s ease-out;

  &:hover,
  &:focus {
    color: darken($algolia-blue, 10%);
  }
}

.ais-ClearRefinements-button,
.ais-CurrentRefinements-reset,
.ais-HierarchicalMenu-showMore,
.ais-InfiniteHits-loadMore,
.ais-InfiniteResults-loadMore,
.ais-Menu-showMore,
.ais-RefinementList-showMore {
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  color: #fff;
  background-color: $algolia-blue;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
  outline: none;

  &:hover,
  &:focus {
    background-color: darken($algolia-blue, 10%);
  }
}

.ais-ClearRefinements-button--disabled,
.ais-HierarchicalMenu-showMore--disabled,
.ais-InfiniteHits-loadMore--disabled,
.ais-InfiniteResults-loadMore--disabled,
.ais-Menu-showMore--disabled,
.ais-RefinementList-showMore--disabled {
  opacity: 0.6;
  cursor: not-allowed;

  &:hover,
  &:focus {
    background-color: $algolia-blue;
  }
}

.ais-CurrentRefinements {
  display: flex;
  flex-wrap: wrap;
}

.ais-CurrentRefinements-list {
  display: flex;

  + .ais-CurrentRefinements-reset {
    margin-left: 0.3rem;
  }
}

.ais-CurrentRefinements-item + .ais-CurrentRefinements-item {
  margin-left: 0.3rem;
}

.ais-CurrentRefinements-button {
  padding: 0.3rem 0.5rem;
  display: flex;
  background-color: $east-bay;
  transition: 0.2s ease-out;
  outline: none;
  border-radius: 5px;

  &:hover,
  &:focus {
    background-color: darken($east-bay, 10%);
  }
}

.ais-CurrentRefinements-count,
.ais-CurrentRefinements-delete {
  margin-left: 0.3rem;
}

.ais-CurrentRefinements-label,
.ais-CurrentRefinements-delete,
.ais-CurrentRefinements-count {
  font-size: 0.8rem;
  color: #fff;
}

.ais-CurrentRefinements-reset {
  display: flex;

  + .ais-CurrentRefinements-list {
    margin-left: 0.3rem;
  }
}

.ais-HierarchicalMenu-link,
.ais-Menu-link {
  display: block;
  line-height: 1.5;
}

.ais-HierarchicalMenu-list,
.ais-Menu-list,
.ais-NumericMenu-list,
.ais-RatingMenu-list,
.ais-RefinementList-list {
  font-weight: normal;
  line-height: 1.5;
}

.ais-HierarchicalMenu-link {
  &:after {
    margin-left: 0.3em;
    content: '';
    width: 10px;
    height: 10px;
    display: none;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27%3E%3Cpath d=%27M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z%27 fill%3D%22%233A4570%22 /%3E%3C/svg%3E');
    background-size: 100% 100%;
  }

  .ais-HierarchicalMenu-item--parent > &:after {
    display: inline-block;
  }

  .ais-HierarchicalMenu-item--selected > &:after {
    transform: rotate(90deg);
  }
}

.ais-CurrentRefinements-count,
.ais-HierarchicalMenu-count,
.ais-Menu-count,
.ais-RatingMenu-count,
.ais-RefinementList-count,
.ais-Toggle-count {
  font-size: 0.8rem;

  &:before {
    content: '(';
  }

  &:after {
    content: ')';
  }
}

.ais-HierarchicalMenu-count,
.ais-Menu-count {
  color: $port-gore;
}

.ais-HierarchicalMenu-showMore,
.ais-Menu-showMore,
.ais-RefinementList-showMore {
  margin-top: 0.5rem;
}

.ais-Highlight-highlighted,
.ais-Snippet-highlighted {
  background-color: $koromiko;
}

.ais-InfiniteHits-header,
.ais-InfiniteResults-header,
.ais-Hits-header,
.ais-Results-header {
  margin-bottom: 1rem;
}

.ais-InfiniteHits-footer,
.ais-InfiniteResults-footer,
.ais-Hits-footer,
.ais-Results-footer {
  margin-top: 1rem;
}

.ais-InfiniteHits-list,
.ais-InfiniteResults-list,
.ais-Hits-list,
.ais-Results-list {
  margin-top: -1rem;
  margin-left: -1rem;
  display: flex;
  flex-wrap: wrap;
}

.ais-InfiniteHits-item,
.ais-InfiniteResults-item,
.ais-Hits-item,
.ais-Results-item {
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  width: calc(25% - 1rem);
  border: 1px solid $ghost;
  box-shadow: 0 2px 5px 0px lighten($ghost, 10%);
}

.ais-InfiniteHits-loadMore,
.ais-InfiniteResults-loadMore {
  margin-top: 1rem;
}

.ais-MenuSelect-select,
.ais-NumericSelector-select,
.ais-HitsPerPage-select,
.ais-ResultsPerPage-select,
.ais-SortBy-select {
  appearance: none;
  padding: 0.3rem 2rem 0.3rem 0.3rem;
  background-color: #fff;
  background-image: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27%3E%3Cpath d=%27M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z%27 fill%3D%22%233A4570%22 /%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 92% 50%;
  border: 1px solid $ghost;
  border-radius: 5px;
}

.ais-Panel-header {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid $ghost;
}

.ais-Panel-footer {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.ais-RangeInput-input {
  padding: 0 0.2rem;
  width: 5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}

.ais-RangeInput-separator {
  margin: 0 0.3rem;
}

.ais-RangeInput-submit {
  margin-left: 0.3rem;
  appearance: none;
  padding: 0 0.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
  color: #fff;
  background-color: $algolia-blue;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-out;
  outline: none;

  &:hover,
  &:focus {
    background-color: darken($algolia-blue, 10%);
  }
}

.ais-Pagination-list {
  justify-content: center;
}

.ais-Pagination-item {
  + .ais-Pagination-item {
    margin-left: 0.3rem;
  }
}

.ais-Pagination-link {
  padding: 0.3rem 0.6rem;
  display: block;
  border: 1px solid $ghost;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;

  &:hover,
  &:focus {
    background-color: lighten($ghost, 10%);
  }

  .ais-Pagination-item--disabled & {
    opacity: 0.6;
    cursor: not-allowed;
    color: darken($ghost, 10%);

    &:hover,
    &:focus {
      color: darken($ghost, 10%);
      background-color: #fff;
    }
  }

  .ais-Pagination-item--selected & {
    color: #fff;
    background-color: $algolia-blue;
    border-color: $algolia-blue;

    &:hover,
    &:focus {
      color: #fff;
    }
  }
}

.ais-PoweredBy-text,
.rheostat-tooltip,
.rheostat-value,
.ais-Stats-text {
  font-size: 0.8rem;
}

.ais-PoweredBy-logo {
  margin-left: 0.3rem;
}

.ais-RangeSlider {
  .rheostat-progress {
    background-color: $east-bay;
  }

  .rheostat-background {
    border-color: darken($ghost, 20%);
    box-sizing: border-box;
  }
}

.rheostat-handle {
  border-color: darken($ghost, 20%);
}

.rheostat-marker {
  background-color: darken($ghost, 20%);
}

.ais-RatingMenu-count,
.ais-RatingMenu-label {
  .ais-RatingMenu-item--disabled & {
    color: $ghost;
  }
}

.ais-RatingMenu-item--selected {
  font-weight: bold;
}

.ais-RatingMenu-link {
  line-height: 1.5;

  > * + * {
    margin-left: 0.3rem;
  }
}

.ais-RatingMenu-starIcon {
  position: relative;
  top: -1px;
  width: 15px;
  fill: $koromiko;

  .ais-RatingMenu-item--disabled & {
    fill: $ghost;
  }
}

.ais-HierarchicalMenu-searchBox,
.ais-Menu-searchBox,
.ais-RefinementList-searchBox {
  > * {
    margin-bottom: 0.5rem;
  }
}

.ais-SearchBox-form {
  display: block;
  position: relative;
}

.ais-SearchBox-input {
  appearance: none;
  padding: 0.3rem 1.7rem;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid $ghost;
  border-radius: 5px;

  &::-webkit-input-placeholder {
    color: lighten($port-gore, 40%);
  }

  &::-moz-placeholder {
    color: lighten($port-gore, 40%);
  }

  &:-ms-input-placeholder {
    color: lighten($port-gore, 40%);
  }

  &:-moz-placeholder {
    color: lighten($port-gore, 40%);
  }
}

.ais-SearchBox-submit,
.ais-SearchBox-reset,
.ais-SearchBox-loadingIndicator {
  appearance: none;
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 0.3rem;
  transform: translateY(-50%);
}

.ais-SearchBox-submit {
  left: 0.3rem;
}

.ais-SearchBox-reset {
  right: 0.3rem;
}

.ais-SearchBox-submitIcon,
.ais-SearchBox-resetIcon,
.ais-SearchBox-loadingIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.ais-SearchBox-submitIcon,
.ais-SearchBox-resetIcon {
  path {
    fill: $east-bay;
  }
}

.ais-SearchBox-submitIcon {
  width: 14px;
  height: 14px;
}

.ais-SearchBox-resetIcon {
  width: 12px;
  height: 12px;
}

.ais-SearchBox-loadingIcon {
  width: 16px;
  height: 16px;
}
