@import 'instantsearch-reset.scss';

// Colors

$algolia-blue: rgb(0, 174, 255);
$ghost: rgb(196, 200, 216);
$east-bay: rgb(73, 85, 136);

// Global

a[class^='ais-'] {
  color: $algolia-blue;
}

// Templates

.ais-header {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
}

.ais-footer {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  font-size: 0.8rem;
  border-top: 1px solid #ccc;
}

// Widgets

.ais-ClearAll-button,
.ais-CurrentRefinedValues-reset {
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  color: #fff;
  background-color: $algolia-blue;
  border-radius: 5px;
}

.ais-CurrentRefinedValues-list + .ais-CurrentRefinedValues-reset {
  margin-top: 0.5rem;
}

.ais-CurrentRefinedValues-item {
  display: inline-block;
  vertical-align: middle;
}

.ais-CurrentRefinedValues-button {
  padding: 0.3rem 0.5rem;
  display: block;
  font-size: 0.8rem;
  color: #fff;
  background-color: $east-bay;
  border-radius: 5px;
}
