body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}
