.ais-Highlight-highlighted,
.ais-Snippet-highlighted {
  background-color: rgba(
    var(--ais-primary-color-rgb),
    var(--ais-primary-color-alpha)
  );
  color: rgba(
    var(--ais-button-text-color-rgb),
    var(--ais-button-text-color-alpha)
  );
  border-radius: var(--ais-radius-xs);
  padding: calc(var(--ais-spacing) * 0.125);
}
