.ais-HitsPerPage {
  &:after {
    transition: transform var(--ais-transition-duration)
      var(--ais-transition-timing-function);
    background-image: var(--ais-chevron-icon);
    background-repeat: no-repeat;
    content: '';
    display: inline-block;
    height: 1rem;
    margin-left: calc(var(--ais-spacing) * -1 - 1rem);
    transform: translateY(0.2rem);
    user-select: none;
    width: 1rem;
  }
  .ais-HitsPerPage-select {
    color: rgba(var(--ais-text-color-rgb), var(--ais-text-color-alpha));
    font: inherit;
    padding: calc(var(--ais-spacing) / 2) calc(var(--ais-spacing) * 2 + 0.5rem)
      calc(var(--ais-spacing) / 2) var(--ais-spacing);
    border-radius: var(--ais-radius-xs);
    border: 1px solid
      rgba(var(--ais-border-color-rgb), var(--ais-border-color-alpha));
    &:focus-visible {
      outline-offset: -1px;
    }
  }
}
