/* RefinementList */
.ais-RefinementList-item {
  margin-bottom: calc(var(--ais-spacing));
  color: rgba(var(--ais-text-color-rgb), 0.9);

  &:last-child {
    margin-bottom: 0;
  }
}

.ais-RefinementList-item--selected {
  color: rgba(var(--ais-primary-color-rgb), var(--ais-primary-color-alpha));
}

.ais-RefinementList-label {
  display: flex;
  align-items: center;
  transition: color var(--ais-transition-duration)
    var(--ais-transition-timing-function);
}

@media (hover: hover) {
  .ais-RefinementList-label:hover {
    color: rgba(var(--ais-primary-color-rgb), var(--ais-primary-color-alpha));

    .ais-RefinementList-checkbox {
      background-color: rgba(var(--ais-primary-color-rgb), 0.1);
    }
  }
}

.ais-RefinementList-checkbox {
  border-radius: calc(var(--ais-spacing) / 4);
  background-color: rgba(
    var(--ais-background-color-rgb),
    var(--ais-background-color-alpha)
  );
  border: 1px solid rgba(var(--ais-border-color-rgb), 0.5);
  appearance: none;
  width: var(--ais-spacing);
  height: var(--ais-spacing);
  transition: background-color var(--ais-transition-duration)
    var(--ais-transition-timing-function);
  margin-right: calc(var(--ais-spacing-half) * 1.25);
}
