.ais-ClearRefinements-button {
  appearance: none;
  color: rgb(var(--ais-text-color-rgb));
  cursor: pointer;
  height: 2rem;
  user-select: none;
  background-color: rgb(var(--ais-background-color-rgb));
  justify-content: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: inline-flex;
  border: 1px solid rgb(var(--ais-border-color-rgb));
  border-radius: var(--ais-radius-xs);
  place-items: center;
  padding: 0.3rem 0.5rem;
  text-decoration: none;

  &:disabled[disabled] {
    color: rgba(var(--ais-text-color-rgb), 0.2);
    border-color: rgba(var(--ais-border-color-rgb), 0.2);
  }
}

.ais-CurrentRefinements-list {
  display: flex;
  gap: calc((var(--ais-spacing) / 2));
  flex-wrap: wrap;
  margin-block-end: 1rem;
}

.ais-CurrentRefinements-item {
  min-height: 1.5rem;
  background-color: rgb(var(--ais-background-color-rgb));
  align-items: center;
  font-size: 0.875rem;
  display: inline-flex;
  border: 1px solid rgb(var(--ais-border-color-rgb));
  border-radius: var(--ais-radius-xs);
  padding: 0.3rem 0.5rem;
  color: rgb(var(--ais-text-color-rgb));
}

.ais-CurrentRefinements-label {
  text-transform: capitalize;
}

.ais-CurrentRefinements-category {
  margin-left: calc((var(--ais-spacing) / 2));
  display: flex;
  align-items: center;
}

.ais-CurrentRefinements-delete {
  color: rgb(var(--ais-muted-color-rgb));
  margin-left: calc((var(--ais-spacing) / 3));
}
