/* CSS Variables */
:root {
  /* Text colors */
  --ais-text-color-rgb: 38, 38, 38;
  --ais-text-color-alpha: 1;
  --ais-primary-color-rgb: 31, 111, 242;
  --ais-primary-color-alpha: 1;
  --ais-muted-color-rgb: 109, 115, 151;
  --ais-muted-color-alpha: 0.6;
  --ais-button-text-color-rgb: 255, 255, 255;
  --ais-button-text-color-alpha: 1;

  /* Border color */
  --ais-border-color-rgb: 109, 115, 151;
  --ais-border-color-alpha: 0.25;

  /* Background color */
  --ais-background-color-rgb: 250, 250, 250;
  --ais-background-color-alpha: 1;

  /* Shadow color */
  --ais-shadow-color-rgb: 34, 46, 58;
  --ais-shadow-color-alpha: 0.1;

  /* Size and spacing */
  --ais-spacing: 1rem;
  --ais-icon-stroke-width: 1.6;

  /* Font */
  --ais-font-family: inherit;
  --ais-font-weight-medium: 500;
  --ais-font-weight-semibold: 600;
  --ais-font-weight-bold: 700;

  /* Shadows */
  --ais-shadow-xs: 0 1px 2px 0
    rgba(var(--ais-shadow-color-rgb), var(--ais-shadow-color-alpha));
  --ais-shadow-md: 0 4px 6px -1px rgba(var(--ais-shadow-color-rgb), var(--ais-shadow-color-alpha)),
    0 2px 4px -2px rgba(var(--ais-shadow-color-rgb), var(--ais-shadow-color-alpha));

  /* Border radius */
  --ais-radius-xs: 4px;

  /* Transitions */
  --ais-transition-duration: 0.2s;
  --ais-transition-timing-function: ease-out;

  /* SVG icons */
  /* Use --ais-text-color-rgb: 38, 38, 38; and stroke-width: 1.6; */
  --ais-chevron-icon: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23262626%22%20stroke-width%3D%221.6%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpolyline%20points%3D%226%209%2012%2015%2018%209%22%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E');
  /* Use --ais-primary-color-rgb: 31, 111, 242; and stroke-width: 1.6; */
  --ais-selected-chevron-icon: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%231f6ff2%22%20stroke-width%3D%221.6%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpolyline%20points%3D%226%209%2012%2015%2018%209%22%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E');
    /* Use --ais-button-text-color-rgb: 255, 255, 255; and stroke-width: 1.6; */
  --ais-check-icon: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20aria-hidden%3D%22true%22%20viewBox%3D%220%200%2016%2012%22%3E%3Cpath%20stroke%3D%22%23fff%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.6%22%20d%3D%22M1%205.917%205.724%2010.5%2015%201.5%22%2F%3E%3C%2Fsvg%3E');
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* Text colors */
    --ais-text-color-rgb: 235, 235, 235;
    --ais-primary-color-rgb: 91, 150, 245;
    --ais-muted-color-rgb: 150, 150, 150;

    /* Border color */
    --ais-border-color-rgb: 135, 145, 171;

    /* Background color */
    --ais-background-color-rgb: 18, 18, 18;

    /* SVG icons */
    /* Use --ais-text-color-rgb: 235, 235, 235; and stroke-width: 1.6; */
    --ais-chevron-icon: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%23ebebeb%22%20stroke-width%3D%221.6%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpolyline%20points%3D%226%209%2012%2015%2018%209%22%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E');
    /* Use --ais-primary-color-rgb: 91, 150, 245; and stroke-width: 1.6; */
    --ais-selected-chevron-icon: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%235B96F5%22%20stroke-width%3D%221.6%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%3Cpolyline%20points%3D%226%209%2012%2015%2018%209%22%3E%3C%2Fpolyline%3E%3C%2Fsvg%3E');
  }
}
