.code-sample {
  position: relative;
  margin: 15px 0 15px 0;
  background-color: #fff;
  white-space: normal;

  .code-wrap {
    padding: 15px 0 15px 15px;
    overflow-x: auto;
    overflow-scrolling: touch;
  }

  code {
    cursor: text;
    color: #333;
    background-color: #fff;
    text-indent: 0;
    tab-size: 4;
    // for source code reading,
    // `antialiased` smoothing (our default) does not looks good (too thin)
    -webkit-font-smoothing: auto;
    hyphens: none;
    font-size: 14px;
    line-height: 23px;
    text-size-adjust: 100%;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    padding: 0;
    font-family: "Operator Mono", "Fira Code", "Ubuntu Mono", "Droid Sans Mono", "Liberation Mono", "Source Code Pro", Menlo, Consolas, Courier, monospace;

    span {
      -webkit-font-smoothing: auto;
    }

    .cs-keyword {
      color: #a71d5d;
    }

    .cs-comment {
      color: #969896;
    }

    .cs-string {
      color: #183691;
    }

    .cs-property {
      color: #795da3;
    }

    .cs-number {
      color: #0086b3;
    }

    .cs-tag.cs-bracket {
      color: #a71d5d;
    }

    .cs-variable {
      color: #795da3;
    }
  }

  .clipboard {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 22px;
    text-align: center;
    padding: 0 1em;
    width: 13em;
    background-color: rgb(235, 235, 235);
    z-index: 20;
    color: #999;

    &.clipboard-done {
      color: #555;
    }
  }

  .heading {
    position: relative;
    padding: 3px 7px;
    color: #999;
    background-color: rgba(240, 240, 240, .8);
    z-index: 10;
  }
}
