// This file is defining code snippets styling for the homepage

$light-theme: (
  ('keyword', '#8e43e7'),
  ('operator', '#f95faa'),
  ('property', '#75de00'),
  ('variable', '#3369e7'),
  ('string', '#00aeff'),
  ('comment', '#bbbbbb')
);



$size: 13px;
$line-height: round(($size / 2)*2.6999999);
$gutter-width: 3.5em;
$padding: 13px;
$line-number-size: round(($size / 2)*1.538462);

pre.al-snippet code {
  transform: scale(0.765);
  font-size: $size;
}
pre {
  &.al-snippet {
    color: $bunting;
    box-sizing: border-box;
    line-height: initial;
    word-break: initial;
    word-wrap: initial;
    border-radius: 5px;
    display: inline-block;
    margin: initial !important;
    line-height: $line-height*1.02;
    font-size: 12px;
    border: none;


    code {
      position: relative;
      top: -0.5em;
    }

    // Theme
    &[data-snippet-theme="dark"] {

      // Now, let' give it colors
      // Namespace : sn-
      @each $name, $color in $light-theme {
        .sn-#{$name} {
          color: #{$color}
        }
      }
    }
  }
}

[debug-code-snippet] pre.al-snippet {
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-size: $size $size;
  background-origin: content-box;
}