$light-theme: (
  ('keyword', '#8e43e7'),
  ('operator', '#f95faa'),
  ('property', '#75de00'),
  ('variable', '#3369e7'),
  ('string', '#00aeff'),
  ('comment', '#bbbbbb')
);



$size: 13px;
$line-height: round(($size / 2)*2.6999999);
$gutter-width: 3.5em;
$padding: 13px;
$line-number-size: round(($size / 2)*1.538462);

pre.al-snippet code {
  transform: scale(0.765);
  font-size: $size;
}
pre {
  &.al-snippet {
    box-sizing: border-box;
    line-height: initial;
    word-break: initial;
    word-wrap: initial;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: initial !important;
    position: relative;
    line-height: $line-height*1.02;
    font-size: $size;

    &:before {
      content: '1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28';
      display: block;
      padding: 0 0  !important;
      position: absolute;
      width: $gutter-width;
      top: 0;
      left: 2em;
      z-index: 9;
      height: 100%;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      word-spacing: $gutter-width;
      white-space: pre-line;
      line-height: $line-height*1.02;
      font-size:  $size;
      text-align: center;
      transform: scale(0.765);
      opacity: 0.2;
      top: -0.5em;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to left, #1b192b, rgba(#1b192b, 0));
      pointer-events: none;
    }

    code {
      position: relative;
      top: -0.5em;
    }

    // Theme
    &[data-snippet-theme="dark"] {

      // Now, let' give it colors
      // Namespace : sn-
      @each $name, $color in $light-theme {
        .sn-#{$name} {
          color: #{$color}
        }
      }
    }
  }
}

[debug-code-snippet] pre.al-snippet {
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
  background-size: $size $size;
  background-origin: content-box;
}