// Avoid horizontal flickering when scrollbar appears
body {
  overflow-y: scroll;
  background: linear-gradient(to right, #ffffff, #ebf1f5);
}

/* Containers
================*/
.container {
  margin: auto;
  width: 100%;
  max-width: $max-container-width;
  float: none;
}
.row {
  float: left;

  body.example &{
    float: inherit
  }
}
.text-right {
  text-align: right;
}
body:not(.example) section {
  min-height: 550px;
  width: 100%;
  float: left;
  position: relative;
  z-index: 1;

  &.oddbg {
    background-color: #f9fafb
  }

  @include medium-mq {
    padding: 0 16px;
  }
}
