.documentation-section,
.examples-section {
  .container {
    article {
      width: 100%;
      position: relative;
      margin-top: 60px;
    }
  }


  p,
  ul,
  ol {
    font-size: 16px;
    line-height: 22px;
  }

  ul {
    margin: 0;
    padding: 0;

    position: relative;
    left: 1em;

    li {
      padding: 0;
    }

    ul {
      padding: 0 1em;
    }
  }

  h2 {
    color: $bunting;
    font-size: 28px;
    padding-right: 1em;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 32px;
    padding-bottom: 8px;

    &:first-of-type {
      margin-top: 0;
    }

    @include small-mq {
      font-size: 22px;
    }
  }

  h3 {
    margin-top: 32px;
  }

  h4 {
    font-weight: normal;
    text-decoration: underline;
  }


  .api tr td:first-child {
    vertical-align: top;

    p, ul {
      font-size: 90%;
      margin: .5em 0;
      line-height: 1.5em;
    }
    ul {
      padding-left: 1.5em;
    }
    em {
      text-decoration: underline;
      font-style: normal;
    }
  }


  .documentation-container {
    float: left;
    position: relative;
    left: #{$sidebar-width};
    width: calc(100% - #{$sidebar-width});
    min-height: 1000px;
    padding-left: 30px;
    padding-bottom: 300px;
    padding-top: 120px;

    p, li {
      color: darken($logan, 15%);
      line-height: 2;
      font-size: 16px;
      font-family: 'Open Sans', Helvetica Neue, helvetica, sans-serif;
      clear: both;
    }

    ul,
    ol {
      font-size: 16px;
      line-height: 22px;

      li {
        clear: both;
        margin-bottom: 10px;
      }

      ul {
        font-weight: normal;
        font-size: 14px;
        position: relative;

        li {
          line-height: 26px;

          &:before {
            content: '-';
            float: left;
            margin-right: 6px;
            color: $logan
          }
        }
      }
    }

    .content {
      & p:first-child {
        margin-top: 0;
      }
    }

    pre {
      margin: .5em 0px .5em 0px;
      line-height: 23px;
      white-space: pre;
      overflow-x: auto;
      word-break: inherit;
      word-wrap: inherit;
      border: 1px solid #d8d8d8;
      border-radius: 2px;
      padding: 0.5em 0;
      position: relative;
      z-index: 1; // avoid scroll bar being unusable because <code></code><h2></h2> used and headers have :content that will be over

      code {
        display: block;
        width: calc(100% - 4em);
        margin: auto;
      }
    }


    h2, h3, .api-entry, .css-class {
      &:before {
        content: "";
        display: block;
        height: $offset-height;
        margin: -$offset-height 0 0;
      }
    }

    .anchor {
      margin-left: .2em;
      display: inline;
      visibility: hidden;
    }



    h2, h3 {
      .anchor {
        text-decoration: none;
      }
      .anchor:after{
        content: '#';
        color: $accent-color;
      }


      &:hover {
        .anchor {
          visibility: visible;
        }
      }

      &:target {
        .anchor {
          visibility: visible;
        }
      }
    }


  }


  @include small-mq {
    padding-top: 32px;

    .container {

      .documentation-container {
        left: 0;
        width: 100%;
        padding: 32px 1em;
      }

      article {
        float: left;
        margin-top: 40px;
      }
    }

    .documentation .hero-section {
      .fl-left {
        max-width: 300px !important;
        width: 300px !important;
      }
    }
  }
}

.examples-section > .container {
  padding-top: 120px;
}

.storybook-section {
  min-height: 120px;
  text-align: center;
  line-height: 120px;
}


.img-object {
  padding: 6px;
  border: 1px solid rgba(black, 0.1);
  margin: 16px 0;
  margin-right: 26px;
  max-width: 100%;
  max-height: 500px;
  margin: auto;

  &[align="right"] {
    float: right;
    margin-right: 0;
    margin-left: 26px;
    &+p:not(.cb) {
      clear: none !important
    }

    &~ p:not(.cb) {
      clear: none !important
    }
  }

  &[align="left"] {
    float: left;
    margin: 18px 0 16px;
    margin-right: 26px;

    &+p {
      clear: none !important
    }

    &~ p {
      clear: none !important
    }
  }
}

.documentation-container {

  table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #d8d8d8;
    color: darken($logan, 15%);
  }

  td,th {
    padding: 0;
  }

  table,th,td {
  }

  table {
    width: 100%;
    display: table
  }

  table.bordered>thead>tr,table.bordered>tbody>tr {
    border-bottom: 1px solid #d0d0d0;
  }

  table.striped>tbody>tr:nth-child(odd) {
    background-color: #f2f2f2
  }

  table.striped>tbody>tr>td {
    border-radius: 0;
    padding: 0  8px !important;
  }

  table.highlight>tbody>tr {
    transition: background-color .25s ease
  }

  table.highlight>tbody>tr:hover {
    background-color: #f2f2f2
  }

  table.centered thead tr th,table.centered tbody tr td {
    text-align: center;
  }

  thead,
  tbody>tr:not(:last-child) {
    border-bottom: 1px solid #d0d0d0
  }

  thead th {
    color: darken($logan, 35%);
  }
  td,th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px
  }

  td,
  th {
    padding: 15px 16px;
    border-left: 1px solid #d0d0d0;
  }

  @media only screen and (max-width: 992px) {
    table.responsive-table {
      width:100%;
      border-collapse: collapse;
      border-spacing: 0;
      display: block;
      position: relative
    }

    table.responsive-table td:empty:before {
      content: '\00a0'
    }

    table.responsive-table th,table.responsive-table td {
      margin: 0;
      vertical-align: top
    }

    table.responsive-table th {
      text-align: left
    }

    table.responsive-table thead {
      display: block;
      float: left
    }

    table.responsive-table thead tr {
      display: block;
      padding: 0 10px 0 0
    }

    table.responsive-table thead tr th::before {
      content: "\00a0"
    }

    table.responsive-table tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap
    }

    table.responsive-table tbody tr {
      display: inline-block;
      vertical-align: top
    }

    table.responsive-table th {
      display: block;
      text-align: right
    }

    table.responsive-table td {
      display: block;
      min-height: 1.25em;
      text-align: left
    }

    table.responsive-table tr {
      padding: 0 10px
    }

    table.responsive-table thead {
      border: 0;
      border-right: 1px solid #d0d0d0
    }

    table.responsive-table.bordered th {
      border-bottom: 0;
      border-left: 0
    }

    table.responsive-table.bordered td {
      border-left: 0;
      border-right: 0;
      border-bottom: 0
    }

    table.responsive-table.bordered tr {
      border: 0
    }

    table.responsive-table.bordered tbody tr {
      border-right: 1px solid #d0d0d0
    }
  }
}

@import "docs/method";
