.documentation-section,
.examples-section {
  .container {
    article {
      width: 100%;
      position: relative;
      margin-top: 60px;
    }
  }

  .guide-nav {
    padding: 1em 0;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
  }

  .guide-nav:after {
    clear: both;
    content: '';
    display: block;
  }

  .guide-nav-left {
    float: left
  }

  .guide-nav-right {
      float: right
  }

  p,
  ul,
  ol {
    font-size: 16px;
    line-height: 22px;
  }

  h2 {
    color: $charcoal-grey;
    font-size: 28px;
    padding-right: 1em;
    border-bottom: 1px solid #d8d8d8;
    margin-top: 32px;
    padding-bottom: 8px;

    &:first-of-type {
      margin-top: 0;
    }

    @include small-mq {
      font-size: 22px;
    }
  }

  h3 {
    margin-top: 32px;
  }

  h4 {
    font-weight: normal;
    text-decoration: underline;
  }

  .api-entry {
    font-weight: bold;

    code {
      font-size: 100%;
      font-weight: bold;
    }
  }

  .api tr td:first-child {
    vertical-align: top;

    p, ul {
      font-size: 90%;
      margin: .5em 0;
      line-height: 1.5em;
    }
    ul {
      padding-left: 1.5em;
    }
    em {
      text-decoration: underline;
      font-style: normal;
    }
  }


  .css-class {
    white-space: nowrap;
  }

  .chapter-summary {
    background: $bg-pale-accent;
    padding: 10px;
    border-radius: 4px;
  }

  .documentation-container {
    float: left;
    position: relative;
    left: #{$sidebar-width};
    width: calc(100% - #{$sidebar-width});
    min-height: 1000px;
    padding-left: 30px;
    padding-bottom: 200px;
    padding-top: 120px;



    p,
    ul,
    ol {
      font-size: 16px;
      line-height: 22px;

      li {
        clear: both;
        margin-bottom: 10px;
      }

      ul {
        font-weight: normal;
        font-size: 14px;
        position: relative;

        li {
          height: 26px;
          line-height: 26px;

          &:before {
            content: '-';
            float: left;
            margin-right: 6px;
            color: $greyish
          }
        }
      }
    }

    .content {
      & p:first-child {
        margin-top: 0;
      }
    }

    pre {
      margin: .5em 0px .5em 0px;
      line-height: 23px;
      white-space: pre;
      overflow-x: auto;
      word-break: inherit;
      word-wrap: inherit;
      border: 1px solid #d8d8d8;
      border-radius: 2px;
      padding: 0.5em 0;
      position: relative;
      z-index: 1; // avoid scroll bar being unusable because <code></code><h2></h2> used and headers have :content that will be over

      code {
        display: block;
        width: calc(100% - 4em);
        margin: auto;
      }
    }


    h2, h3, .api-entry, .css-class {
      &:before {
        content: "";
        display: block;
        height: $offset-height;
        margin: -$offset-height 0 0;
      }
    }

    // API tables
    table.api {
      padding: 0;
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      display: table;
      table-layout: fixed;
      margin: 0;

      tbody {
        border: 1px solid #ccc;

      }

      tr {
        background-color: white;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &:not(:last-child),
        &:not(:only-child) {
          border-bottom: 1px solid #ccc;
        }

        &:nth-child(2n) {
          background-color: #f8f8f8;
        }

        th {
          font-weight: bold;
          text-align: left;
          margin: 0;
          padding: 6px 13px;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        td {
          text-align: left;
          margin: 0;
          padding: 13px 13px;
          flex: 1;
          white-space: normal;


          &:first-child {
            margin-top: 0;
            flex-grow: 1;
            min-width: 170px;
            border-right: 1px solid #CCC;
            white-space: normal;

            &:only-child {
              border: none;

            }

            &[colspan] {
              flex: 100%;
              border-right: none;
            }
          }

          &:nth-child(3) {
            margin-bottom: 0;
          }

          &+ td:empty {
            display: none;
          }
          &+ td:nth-child(3):not(:empty) {
            border-left: 1px solid #CCC;
          }
        }
      }
      &+ h2,
      &+ h3 {
        margin-top: 2em;
      }

      tr, td {
        white-space: nowrap;
      }

      @include small-mq {
        display: block;
        float: left;
        margin-bottom: 2em;

        thead, tbody, th, td, tr {
          display: block;
          float: left;
          width: 100%;
        }
        tbody {

        }
        tr {


          border-left: 1px solid #ccc;

          th {
            border: none;

            &:nth-of-type(2) {
              border-left: 1px solid #cccccc;
            }
          }
        }
        tr td  {
          border: none;
          overflow: auto;


          &:nth-of-type(2) {
           border-left: 1px solid #cccccc;
         }
       }

       th, td {
        width: 50%;
        float: left;
      }

      tr:nth-child(even) {
        background: #f8f8f8
      }
    }
  }


  .anchor {
    margin-left: .2em;
    display: inline;
    visibility: hidden;
  }

  .algolia-places {
    color: #000000;
  }


  h2, h3, .api-entry {
    .anchor {
      text-decoration: none;
    }
    .anchor:after{
      content: '#';
      color: $accent-color;
    }

    &:hover {
      .anchor {
        visibility: visible;
      }
    }

    &:target {
      .anchor {
        visibility: visible;
      }
    }
  }

  img {
    max-width: 50%;
    margin: 0 25%;
  }
}

tr.api-entry-values {
  .api-entry-type {
    white-space: nowrap;
  }
}

tr.api-entry-description {

}

.DocProps {
  .Prop,
  .Type .Entry {
    padding: 1.2em 0.8em;
    background-color: #EEE;
  }

  .Prop:nth-child(even),
  .Type .Entry:nth-child(even) {
    background-color: #E5E5E5;
  }

  .Entry__head {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
  }

  .Entry__badge {
    padding: .3em .5em;
    font-size: 0.8em;
    background-color: #7FDBFF;
    margin-right: 0.5em;
  }

  .Entry__name {
    font-weight: 700;
    margin-right: 0.5em;
  }

  .Entry__description ~ .Entry__default {
    padding-top: 1em;
  }

  .Entry__description p {
    margin: 0;
  }

  .Entry__link {
    display: none;
    margin-left: 0.5em;
  }

  .Entry__head:hover .Entry__link {
    display: inline;
  }

  .Prop__types {
    padding-top: 1em;
  }

  .Type__head {
    padding-bottom: 0.7em;
  }

  .Type__name {
    font-weight: 700;
  }

  .Type__link {
    display: none;
  }

  .Type__head:hover .Type__link {
    display: inline;
  }

  .Type__entries {
    font-size: 0.9em;
    border: 1px solid #BBB;
  }
}

@include small-mq {
    padding-top: 32px;

    .container {

      .documentation-container {
        left: 0;
        width: 100%;
        padding: 32px 0;
      }

      article {
        float: left;
        margin-top: 40px;
      }
    }

    .documentation .hero-section {
      .fl-left {
        max-width: 300px !important;
        width: 300px !important;
      }
    }
  }
}

.examples-section > .container {
  padding-top: 120px;
}

.storybook-section {
  min-height: 120px;
  text-align: center;
  line-height: 120px;
}

@import "docs/method";
