.examples-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  padding: 40px 0 60px;

  .example-tile {
    flex: 0 1 47%;
    margin-bottom: 4em;
    padding: 1em;
    background: #fefefe;
    border: 1px solid #ebebeb;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    position: relative;
    text-align: center;

    a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;


      @include small-mq {
        figcaption {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          display: block;
          height: 50px;
          line-height: 1;
          font-size: 12px;
          top: 30px;
        }
      }
    }

    &:after {
      content:'';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba($accent-color-darkish, 0.95);
      opacity: 0;
      z-index: 0;
      border-radius: 3px;
      transition: opacity 0.2s ease;
      pointer-events: none;
    }

    figure {
      img {
        width: 100%;
      }
    }

    figcaption {
      width: 100%;
      text-indent: 0;
      color: inherit;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      text-transform: uppercase;
      font-size: 1.6em;
      font-weight: bold;
      color: #fff;
      transform: scale(0);
      z-index: 2;
      line-height: 0;
      transition: transform 0.2s ease;
    }

    &:hover {
      &:after {
        opacity: 1;
      }

      figcaption {
        transform: scale(1)
      }
    }
  }
}



.form-control {
  width: 100%;
  box-sizing: border-box;
  padding-left: 16px;
  line-height: 40px;
  height: 40px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  outline: none;
}

.form-group {
  margin-bottom: 1em;
  clear: both;

  label {
    display: block;
    font-weight: bold;
    font-size: .8em;
  }
}

#map-example-container,
#map-example-container-paris {
  // trigger zindex value otherwise
  // map goes hover other elements (like header)
  position: relative;
  z-index: 0;
}


body.example {
  .cm-navigation {
    z-index: 99999;
    top: 0;
    border-bottom: 1px solid darken(#1d2f40, 10%);
  }

  aside {
    float: left;
    top: 130px;
  }
  .content-wrapper {
    top: $nav-height;
  }

  #results-topbar {
    min-height: 60px;
  }

  .btn{
    color: black;
  }

}

#examples {
    ul {
        margin-top: 20px;
    }
    ul > li {
        clear: none;
    }
    h2 {
        clear: both;
    }
}
