p a,
a {
  color: $java;
  text-decoration: none;
}

/* heading settings
=======================*/
h1,h2,h3,h4 {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Helvetica Neue, helvetica, sans-serif;
}

h1 {
  font-size: 46px;
}

h3 {
  font-size: 20px;
  color: $bunting;
}

h3 {
  font-size: 18px;
}

/* Paragraphs
======================*/
p {
  font-family: 'Open Sans', Helvetica Neue, helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.8;
  color: $logan;

  @include small-mq {
    font-size: 16px;
  }

  &+ul,
  &+ol {
    line-height: 32px;
    color: $logan;
  }

  &.muted {
    opacity: 0.5;
  }
}


/* Lists
======================*/
ul.bullets,
.bullets {
  list-style: none;

  li {
    position: relative;

  }
  li:before {
   content: '';
   position: absolute;
   width: 13px;
   height: 13px;
   background: url('../images/arrow-list-icon.svg') no-repeat center center / 12px;
   display: block;
   left: -20px;
   top: 50%;
   transform: translateY(-50%)
  }
}
/* Big titles
======================*/
h2.title {
  text-align: center;
  width: 100%;
  font-size: 1.8em;
  color: $bunting;
  display: block;
  position: relative;
  margin-top: 120px;
  margin-bottom: 80px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;

  &:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: $java;
    top: 2.8em;
    left: 0;
    right: 0;
    margin: auto;
  }

  ~ p {

    font-size: 1.3em;
    text-align: center;
    margin: 1em;

    @include small-mq {
      font-size: 16px;
    }
  }

  @include small-mq {
    margin-top: 60px;
    font-size: 22px;
  }
}

/* Small titles
======================*/
h3.title {
  font-size: 20px;
  color: $bunting;
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  font-family: 'Montserrat', $font-fallback;
  font-weight: 600;

  ~ p {
    font-size: 14px;
    margin: 1em 0;
    padding: 8px 0 0;
  }
}

h4 {
  font-size: 18px;
}

/* Anchors / links
====================*/
.link {
  text-transform: uppercase;
  font-size: 16px;
  color: $accent-color;
  font-weight: 600;
  text-decoration: none;
  padding: 0 8px;
}

/* Glyphs
====================*/
.glyph {
  opacity: 0.8;
  font-size: 0.75em;
}


/* codes
====================*/

p > code,
code  {
  border: 1px dotted rgba(black, 0.15);
  padding: 4px 8px;
  border-radius: 3px;

  @include small-mq {
    word-break: break-all;
  }
}

pre code {
  border: none;
  padding: inherit;
  border-radius: none
}