@import './../vendors/_variables';

#footer {
    position: relative;
    float: left;
    width: 100%;
    height: 200px;
    margin-top: 50px;
    background: $deep-cove;
    z-index: 1000;

    @media (max-width: $screen-md){
        margin-top: 60px;
    }

    @media (max-width: 440px) {
        margin-top: 150px;
    }

    @include diagonal(-3deg, $deep-cove, 200px, 'true', before) {
        top: -50px;
        z-index: 0;
    }


    @media (max-width: $screen-sm) {
        .row {
            margin: 0;
        }
    }
}


@media (min-width: 1200px) {
    #footer:before {
        -webkit-transform:skewY(-2deg);
        transform: skewY(-2deg)
    }
}


@media (min-width: 1200px) {
    #footer:after {
        -webkit-transform:skewY(-2deg);
        transform: skewY(-2deg)
    }
}

#footer .credits {
    margin-top: 80px;
    text-align: center;
    position: relative;
    color: #8995c7;
    z-index: 99;
    line-height: 40px
}


