.tagline a {
  color: $denim-blue;
}

// Start the hero
$css: ".st0{ fill:none; stroke:%23FFF; stroke-miterlimit:10;}";

.hero-section {
  background: url('../images/react-atom.svg'), linear-gradient(to bottom right, #322f4c, #1c1b2f);
  background-repeat: no-repeat, repeat;
  background-position:  top center, top left;
  background-size: 800px, 100%;
  color: $hero-color-accent;
  padding-top: $nav-height*1.5;
  overflow: hidden;
  position: relative;
  z-index: 5;
  height: 500px;
  margin-top: $nav-height;
  text-align: center;



  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    background: {
      image: url("data:image/svg+xml;utf8,<?xml version=\'1.0\' encoding=\'utf-8\'?> <!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --> <svg version=\'1.1\' baseProfile=\'basic\' id=\'Layer_1\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\' x=\'0px\' y=\'0px\' viewBox=\'0 0 52.2 90.4\' xml:space=\'preserve\'> <style type=\'text/css\'> .st0{fill:none;stroke:%23FFF;stroke-miterlimit:10;} </style> <polygon class=\'st0\' points=\'0,90.4 52.2,0 0,0 52.2,90.4 \'/> <line class=\'st0\' x1=\'0\' y1=\'45.2\' x2=\'52.2\' y2=\'45.2\'/> </svg>");
      position:  center center;
      size: 60px;
      // blend-mode: overlay;
    }
    opacity: 0.05;
  }


  .container,
  .hero-container {
    position: relative;
    z-index: 5;
  }

  .relative {
    margin-top: 4em;
    float: left;
    width: 100%;
    display: none;

    body.index &{
      display: block;
    }

  }


  .btn.btn-fat-uc {
    max-width: 230px;
    margin-top: 2.25em;

    &:hover {
      font-size: 16px
    }
  }



  .article-title  {
    width: 70%;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);

    a {
      text-shadow: 1px 1px 3px rgba(255,255,255,0.2)
    }

    .algolia-website-logo-link {
      width: 20px;
      display: inline-block;
      position: relative;
      z-index: 9;
    }

    figure {
      margin-top: 1em;

      img {
        max-width: 500px;
        margin: 0.5em 0;
      }
    }



    h2 {
      font-weight: 300;
    }

    &.doc-only {
      width: 100%;
    }
  }

  h1.project-title {
    position: relative;
    top: -10px;
    font-size: 14px !important;
    font-weight: 800;
    text-transform: uppercase;
  }

  h2 {
    font-size: 42px;
    font-weight: 300;
  }

  .icon {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;

    &:after {
      position: absolute;
      display: block;
      content: '';
      width: 16px;
      height: 2px;
      background: $hero-color-accent;
      top: 30px;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 0.5;
    }
  }



  @include small-mq {
    text-align: center;
    padding-top: 16px;
    position: relative;
    max-width: 100%;
    background-position: center center, center center;
    background-size: 500px, 100%;

    .hero-container {
      top: 70px;
    }

    .fl-left {
      width: 100%;
      margin-top: $nav-height * 1.5;
      padding-left: 2em;
      max-width: 500px;
      float: none;


       body.documentation &{
        margin-top: 0;
      }
    }

    .fl-left.project-logo {
      display: none;
    }

    .fl-right {
      display: none;
    }

    .small-illustration {
      max-width: 30%;
      display: block;
      margin: auto;

      img {
        width: 100%;
      }
    }

    h1.project-title {
      font-size: 28px;
    }

    .btn {
      max-width: 100%;
    }

    #json-response-text {
      text-align: left;
    }
  }


  &.shrink {
    min-height: 314px;
  }

  .fl-right svg {
    max-width: 260px;
    position: relative;
    top: -20px;

    path,
    ellipse {
      transform: translateY(12px);
    }
  }

  body.documentation &{
    min-height: 150px;
    height: 150px;
    line-height: 150px;
    padding: 0;
    background-size: 250px, 100%;
    background-position: center right 10vw, center center;
    text-align: left;

    .doc-only {
      display: block;

      figure {
        line-height: 150px;

        img {
          max-width: 46px;
          margin-right: 16px;
          vertical-align: middle;
        }

        figcaption {
          position: relative;
          vertical-align: middle;
          text-indent: inherit;
          top: inherit;
          color: #fff;
          display: inline-block;

          @include small-mq {
            width: calc(100% - 90px);

            h1 {
              font-size: 28px;
              line-height: 1.2;
            }
          }
        }
      }
    }

    .btn {
      display: none;

    }

    .fl-left {
      height: 150px;
      line-height: 150px;
      padding-top: 0 !important;
    }

    figure {
      margin-top: 0;
      height: 150px;
    }

    h1.project-title {
      font-size: 2.6em !important;
      font-weight: 600;
      text-transform: none;
    }

    .tagline {
      display: none;
    }


    &:before {
      z-index: -1;
      transform: translateZ(0);
    }

    .container,
    .relative {
      margin-top: 0;
    }

    .fl-right,
    .fl-left {
      padding-top: 2.5em;
    }

    .project-logo svg{
      max-width: 20% !important;
      top: 0px
    }

    .article-title h1.project-title {
      padding-top: 0.25em;
    }
  }
}

@keyframes fill {
  0% {
    fill-opacity: 0;
  }

  100% {
    fill-opacity: 1;
  }
}



@keyframes swan-dash {
  100% {
    stroke-dashoffset: 0;
  }
}

.documentation .hero-container {
  top: 0;
}

