.doc-only {
  display: none;
}

.tagline a {
  color: $denim-blue;
}

// Start the hero
.hero-section {
  background: linear-gradient(to right, mix(#895cf2, #fff, 95%) 0%,  mix(#2faddc, #fff, 95%) 90%) mix(#3066BE, #fff, 95%);
  color: $hero-color-accent;
  padding-top: $nav-height*1.5;
  overflow: hidden;
  position: relative;
  z-index: 5;
  perspective: 300px;
  margin-top: $nav-height;

  &:before {
    content: '';
    display: block;
    user-select: none;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &:before {
    background: {
      image: url("data:image/svg+xml;utf8,<svg viewBox=\'0 0 357 1282\' xmlns=\'http://www.w3.org/2000/svg\'><title>pattern</title><g transform=\'translate(1 1)\' stroke=\'%23FFF\' fill=\'none\' fill-rule=\'evenodd\'><path d=\'M0 51v103M0 51L88.8.2M177.5 51v103m0-103L266.3.2M177.5 51L88.8.2M355.1 51L266.3.2M88.8 204.8v103m0-103l88.7-50.8m-88.7 50.8L0 154m266.3 50.8v103M88.8 1125v103m177.5-103v103m0-1023.2l88.8-50.8m-88.8 50.8L177.5 154M0 358.5v103m0-103l88.8-50.7m88.7 50.7v103m0-103l88.8-50.7m-88.8 50.7l-88.7-50.7m266.3 50.7l-88.8-50.7M88.8 512.2v103m0-103l88.7-50.7m-88.7 50.7L0 461.5m266.3 50.7v103m0-103l88.8-50.7m-88.8 50.7l-88.8-50.7M0 666v103m0-103l88.8-50.8m88.7 50.8v103m0-103l88.8-50.8M177.5 666l-88.7-50.8M355.1 666l-88.8-50.8M88.8 819.8v103m0-103l88.7-50.8m-88.7 50.8L0 769m266.3 50.8v103m0-103l88.8-50.8m-88.8 50.8L177.5 769M0 973.5v103m0-103l88.8-50.7m88.7 50.7v103m0-103l88.8-50.7m-88.8 50.7l-88.7-50.7m266.3 50.7l-88.8-50.7M88.8 1127.2l88.7-50.7m-88.7 50.7L0 1076.5m266.3 50.7l88.8-50.7m-88.8 50.7l-88.8-50.7\' stroke-width=\'2\'/><path d=\'M88.8 102.8L0 51.5m88.8 51.3l88.7-51.3m88.8 51.3l-88.8-51.3m88.8 51.3l88.8-51.3M88.8 102.8v102.4M0 256.5l88.8-51.3m88.7 51.3l-88.7-51.3m177.5-102.4v102.4m-88.8 51.3l88.8-51.3m88.8 51.3l-88.8-51.3M0 256.5V359m88.8 51.2L0 359m177.5-102.5V359m-88.7 51.2l88.7-51.2m88.8 51.2L177.5 359m88.8 51.2l88.8-51.2M88.8 410.2v102.6M0 564l88.8-51.2m88.7 51.2l-88.7-51.2m177.5-102.6v102.6M177.5 564l88.8-51.2m88.8 51.2l-88.8-51.2M0 564v102.5m88.8 51.3L0 666.5M177.5 564v102.5m-88.7 51.3l88.7-51.3m88.8 51.3l-88.8-51.3m88.8 51.3l88.8-51.3M88.8 717.8v102.4M0 871.5l88.8-51.3m88.7 51.3l-88.7-51.3m177.5-102.4v102.4m-88.8 51.3l88.8-51.3m88.8 51.3l-88.8-51.3M0 871.5V974m0 205v102.5m88.8-256.3L0 974m177.5-102.5V974m0 205v102.5m-88.7-256.3l88.7-51.2m88.8 51.2L177.5 974m88.8 51.2l88.8-51.2m-266.3 51.2v102.6M0 1179l88.8-51.2m88.7 51.2l-88.7-51.2m177.5-102.6v102.6m-88.8 51.2l88.8-51.2m88.8 51.2l-88.8-51.2\' stroke-dasharray=\'6\'/><circle stroke-width=\'2\' cx=\'88.8\' cy=\'102.5\' r=\'5.3\'/><circle stroke-width=\'2\' cx=\'89.1\' cy=\'408.8\' r=\'10.6\'/><circle stroke-width=\'2\' cx=\'88.7\' cy=\'718\' r=\'16\'/><circle stroke-width=\'2\' cx=\'88.6\' cy=\'1025\' r=\'21.3\'/></g></svg>");
      repeat:  repeat, no-repeat;
      position:  center center, center left ;
      size:  200px, 100%;
      blend-mode: overlay;
    }
    z-index: -1;
    height: 1000px;
    width: 300vw;
    left: -130vw;
    top: -370px;
    opacity: 0.35;
    transform: translateZ(0);

    @media (max-width: 1400px) {
      background-repeat:  repeat, no-repeat;
      background-position:  center center, center center;
      background-size:  200px, 100%;
      background-blend-mode: overlay;
      left: -100vw;
      transform: translateZ(0);
    }
  }

  .container,
  .hero-container {
    position: relative;
    z-index: 5;
  }

  .relative {
    margin-top: 4em;
    float: left;
    width: 100%;
    display: none;

    body.index &{
      display: block;
    }
  }

  .article-title  {
    width: 70%;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);

    a {
      text-shadow: 1px 1px 3px rgba(255,255,255,0.2)
    }

    .algolia-website-logo-link {
      width: 20px;
      display: inline-block;
      position: relative;
      z-index: 9;
    }

    figure {
      margin-top: 1em;

      img {
        max-width: 500px;
        margin: 0.5em 0;
      }
    }

    h2 {
      font-weight: 300;
    }

    &.doc-only {
      width: 100%;
    }
  }

  .icon {
    width: 20px;
    height: 20px;
    display: block;
    position: relative;

    &:after {
      position: absolute;
      display: block;
      content: '';
      width: 16px;
      height: 2px;
      background: $hero-color-accent;
      top: 30px;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 0.5;
    }
  }

  .project-logo {
    width: 30%;

     svg {
      max-width: 50% !important;
      display: block;
      margin: auto;
    }
  }


  .is-react-logo {
    stroke-dasharray: 1400;
    stroke-dashoffset: 1800;
    animation: swan-dash #{$hero-logo-anim-length} ease-out forwards #{$hero-logo-anim-delay};
  }


  h3 {
    font-size: 20px;
    color: $hero-color-accent;
    font-weight: 400;
    padding: 8px 0;
  }


  @include small-mq {
    text-align: center;
    padding-top: 16px;
    position: relative;
    max-width: 100%;

    .fl-left {
      width: 100%;
      margin: auto;
      margin-top: $nav-height * 1.5;
      max-width: 500px;
      float: none;


       body.documentation &{
        margin-top: 0;
      }
    }

    .fl-right {
      display: none;
    }

    .small-illustration {
      max-width: 30%;
      display: block;
      margin: auto;

      img {
        width: 100%;
      }
    }

    h1 {
      font-size: 28px;
    }

    .btn {
      max-width: 100%;
    }

    #json-response-text {
      text-align: left;
    }
  }


  &.shrink {
    min-height: 314px;
  }

  .fl-right svg {
    max-width: 260px;
    position: relative;
    top: -20px;

    path,
    ellipse {
      transform: translateY(12px);
    }
  }

  body.documentation &{
    min-height: 150px;
    height: 150px;
    padding: 0;

    .fl-left:not(.doc-only) {
      display: none;
    }

    .doc-only {
      display: block;

      a {
        display: none;
      }

      figure {
        img {
          max-width: 46px;
          margin: 6px 14px -6px;
        }

        figcaption {
          position: relative;
          text-indent: inherit;
          top: inherit;
          color: #fff;
          display: inline-block;
        }
      }
    }

    &:after {
      display: none;
    }
    &:before {
      z-index: -1;
      transform: translateZ(0);
    }

    .container,
    .relative {
      margin-top: 0;
    }

    .fl-right,
    .fl-left {
      padding-top: 2.5em;
    }

    .project-logo svg{
      max-width: 20% !important;
      top: 0px
    }

    .article-title h1 {
      padding-top: 0.25em;
    }
  }
}

@keyframes fill {
  0% {
    fill-opacity: 0;
  }

  100% {
    fill-opacity: 1;
  }
}



@keyframes swan-dash {
  100% {
    stroke-dashoffset: 0;
  }
}
