.live-example {
  border: 1px solid #d8d8d8;
  padding: 20px;

  h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .live-example-helpers {
    border-top: 1px solid #d8d8d8;
    padding-top: 10px;
    margin-top: 20px;

    // SEARCHBOX
    .ais-search-box input {
      width: 100%;
      padding: 10px 0 6px;
      border: none;
      border-radius: 0;
      border-bottom: 2px solid #eee;
      margin-bottom: 20px;

      &:focus {
        border-color: #ed5565;
        transition: border-color .3s ease-in;
        outline: 0;
      }
    }
  }

  .ais-hierarchical-menu--item__active > div > .ais-hierarchical-menu--link,
  .ais-menu--item__active .ais-menu--link {
    color: #444;
  }
}
