

.algc-dropdownroot .algc-dropdownroot__dropdownarrow
  background: #F7F7FF

.algc-navigation
  background: $white
  box-shadow: 0 10px 40px 0 rgba($bunting,0.07), 0 2px 9px 0 rgba($bunting,0.06)


.algc-navigation__brands a,
.algc-navigation__menu .algc-menu__list a
  color: $bunting
  font-weight: 400

  &:hover
    color: $deep-cove
    text-decoration: none


.algc-menu__search .algc-search__input button svg path
  fill: $bunting !important


.algc-menu__search--holder.open input[type="search"]
  background: rgba($bunting, 0.1)
  color: $bunting

  &::-webkit-input-placeholder
    color: $bunting
  &:-moz-placeholder
    color: $bunting
  &::-moz-placeholder
    color: $bunting
  &:-ms-input-placeholder
    color: $bunting

.algc-navigation__brands svg.algc-arrowseparator path
  fill: $logan