nav.sidebar {
  float: left;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: $sidebar-width;
  border-right: 1px solid #d8d8d8;
  padding-top: 120px;
  overflow: auto;

  .sidebar-container {
    width: 100%;
    max-width: $sidebar-width;

    &.fixed {
      position: fixed;
      top: ($nav-height + 40px);
      z-index: 9;
      max-height: calc(100vh - #{$nav-height});
      overflow: auto;
    }

    h2.sidebar-header {
      font-weight: normal;
      font-size: 1.8em;
      line-height: 1.5em;
      padding-bottom: 5px;
    }

    ul {
      list-style: none;
      padding: 0;
    }

    .sidebar-elements {
      .sidebar-element {
        width: 100%;
        line-height: 32px;
        margin-bottom: 1em;

        &.level-h2 {}
        &.level-h3 {
          line-height: 24px;
          font-size: 12px;
          padding-left: 12px;
          font-family: "Open sans";
        }

        a {
          text-decoration: none;
          display: block;
          width: 100%;
          color: $charcoal-grey-75;
          font-weight: 400;
          padding: 0 0.15em;
          line-height: 1.5;
          transition: color 0.2s ease, box-shadow 0.2s ease, font-weight 0.2s ease;

          &:focus,
          &:target {
            @extend %active-links;
          }
          &.active{
            transition: color 0.2s ease, box-shadow 0.2s ease;
            @extend %active-links;
          }
          &.navItem-active{
            @extend %active-links;
          }
        }
      }
    }
  }

  @include small-mq {
    width: calc(100% + 16px);
    max-width: calc(100% + 16px);
    position: absolute;
    max-height: 46px;
    left: 0;
    top: 16px;
    border: none;
    padding-top: 0;
    display: none;

    select {
      width: calc(100% - 32px);
      margin: 8px  8px;
      visibility: hidden;
    }

    &.fixed {
      background: $brand-primary;
      color: #fff;
      top: 50px;
      display: block;

      select {
        visibility: visible;
      }
    }
  }
}
