.sidebar
  width: $sidebar-width
  overflow: scroll
  height: calc(100% - 476px)
  padding-top: 60px

  ul
    list-style: none
    padding: 0 !important
    margin: 0 !important

  li
    display: inline-block
    height: 40px
    margin: 0
    padding: 0
    width: 100%

    ul
      padding-left: 1em !important

    a
      height: 40px
      display: inline-block
      width: 100%
      line-height: 40px
      text-decoration: none
      font-weight: 300
      color: rgba(32, 28, 56, 0.8)
      font-family: OpenSans, helvetica, sans-serif

      &.navItem-active
        color: #201c38
        font-weight: 600




