---
# this ensures Jekyll reads the file to be transformed into CSS later
---

$white: #FFFFFF;
$youtube-red: #E91D00;
$youtube-red-dark: #CE1312;
$youtube-gray: #E8E8E8;
$youtube-gray-light: #F8F8F8;
$youtube-bg: #F1F1F1;
$youtube-text-color: #333333;
$youtube-blue: #167AC6;
$header-height: 56px;
$highlight-color: #FFFFE4;
$shadow-color: rgba(0, 0, 0, .1);

body {
  min-height: 100%;
  font-family: Roboto;
}

a {
  color: $youtube-text-color;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo {
  margin-left: 15px;
  font-size: 30px;
  font-weight: bold;
  line-height: 20px;
  i {
    margin-left: 5px;
    color: $youtube-red;
  }
}

header {
  background: $white;
  padding: 10px;
  border-bottom: 1px solid $youtube-gray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .input-group {
    margin-top: 5px;

    .form-control {
      height: 28px;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .input-group-btn button {
      padding-left: 30px;
      padding-right: 30px;
      background: $youtube-gray-light;
    }
  }
}

section {
  background: $youtube-bg;
  min-height: 100%;
  z-index: 1;

  aside {
    position: fixed;
    top: $header-height;
    left: 0;
    bottom: 0;
    width: 230px;
    background: $white;
    border-right: 1px solid $youtube-gray;

    .nav {
      margin: 10px 20px;
      li {
        a {
          display: block;
          padding: 2px 10px;
          margin: 10px 0;
          &:hover {
            color: $white;
            background: $youtube-text-color;
          }
        }

        &.separator {
          height: 1px;
          background: $youtube-gray;
        }
      }
    }

    h5 {
      color: $youtube-red-dark;
      margin-left: 30px;
      text-transform: uppercase;
      font-size: 10px;
      margin-top: 20px;
    }

    #genres {
      label {
        display: block;
        cursor: pointer;
        padding: 2px 10px;
        font-weight: normal;
        font-size: .9em;
        &:hover {
          color: $white;
          background: $youtube-text-color;
        }
        input {
          display: none;
        }
      }
      .active label {
        border: 1px solid $youtube-red-dark;
      }
      .badge {
        font-size: 8px;
      }
    }

    #ratings {
      margin-left: 10px;
      .ais-stars-list--link {
        font-size: .9em;
      }
      .ais-stars-list--link:hover, .ais-stars-list--link:active, .ais-stars-list--link:focus {
        text-decoration: none;
      }
      .ais-stars-list--count {
        font-size: 8px;
      }
    }

  }

  article {
    margin-top: $header-height + 10px;
    margin-bottom: 50px;
    margin-left: 400px;
    padding: 10px 0;
    width: 700px;
    background: $white;
    box-shadow: 0 1px 2px $shadow-color;

    #stats {
      padding-right: 10px;
      font-size: .8em;
    }

    #hits {
      padding: 0 15px;
    }

    #pagination {
      .pagination a {
        background: $youtube-gray-light;
        padding: 3px 8px;
        color: $youtube-text-color;
        margin-right: 4px;
        &.active {
          border-color: darken($youtube-gray, 20%);
          background: $youtube-gray;
        }
        &:hover {
          border-color: darken($youtube-gray, 10%);
          background: darken($youtube-gray-light, 5%);
        }
      }
    }

    .hit {
      margin-bottom: 10px;

      em {
        font-style: normal;
        background: $highlight-color;
      }

      .media-object {
        height: 130px;
        width: 210px;
        overflow: hidden;

        img {
          margin-top: -30px;
          width: 100%;
        }
      }

      .media-heading {
        color: $youtube-blue;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
}
