@media (prefers-reduced-motion: reduce) {
  [class^='ais-'] {
    transition: none !important;
  }
}

a[class^='ais-']:focus-visible,
button[class^='ais-']:focus-visible,
input[class^='ais-']:not(.ais-AutocompleteInput):focus-visible,
select[class^='ais-']:focus-visible {
  outline: 2px solid
    rgba(var(--ais-primary-color-rgb), var(--ais-primary-color-alpha));
  outline-offset: 2px;
}

[class^='ais-'][class*='-showMore'],
[class^='ais-'][class*='-button'] {
  border-radius: var(--ais-border-radius-sm);
  font-size: 0.9em;
  font-weight: var(--ais-font-weight-medium);
  color: rgba(
    var(--ais-button-text-color-rgb),
    var(--ais-button-text-color-alpha)
  );
  padding: calc(var(--ais-spacing) / 2) var(--ais-spacing)
    calc(var(--ais-spacing) / 2) var(--ais-spacing);
  background-color: rgba(
    var(--ais-primary-color-rgb),
    var(--ais-primary-color-alpha)
  );
  transition: background-color var(--ais-transition-duration)
    var(--ais-transition-timing-function);
  box-shadow: var(--ais-shadow-xs);
}

[class^='ais-'][class*='-showMore'] {
  margin-top: calc(var(--ais-spacing) * 0.75);
}

@media (hover: hover) {
  [class^='ais-'][class*='-showMore']:not([class^='ais-'][disabled]):hover {
    background-color: rgba(var(--ais-primary-color-rgb), 0.85);
  }
}

[class^='ais-'][disabled] {
  opacity: 0.75;
  cursor: not-allowed;
}

[class^='ais-'][class*='-count'] {
  margin-left: auto;
  color: rgba(var(--ais-text-color-rgb), 0.7);
  border-radius: calc(infinity * 1px);
  padding: calc(var(--ais-spacing) * 0.125) calc(var(--ais-spacing) * 0.625);
  border: 1px solid rgba(var(--ais-muted-color-rgb), 0.3);
  background-color: rgba(
    var(--ais-background-color-rgb),
    var(--ais-background-color-alpha)
  );
  white-space: nowrap;
  font-size: 0.75em;
}

input[class^='ais-'][type='checkbox']:checked {
  background-image: var(--ais-check-icon);
  background-repeat: no-repeat;
  background-size: calc(var(--ais-spacing) * 0.625);
  background-position: 50%;
  background-color: rgba(
    var(--ais-primary-color-rgb),
    var(--ais-primary-color-alpha)
  );
  border-color: rgba(
    var(--ais-primary-color-rgb),
    var(--ais-primary-color-alpha)
  );
}

