.container {
  padding: 50px 40px 40px;
  border-radius: 5px;
  position: relative;
  overflow-x: hidden;
  clear: left;
}

.container:after{
  font-size: 11px;
  top: 0;
  left: 0;
  color: #999999;
  padding: 4px 6px;
  line-height: 1em;
  position: absolute;
  background-color: #F3F3F3;
  border: solid 1px #E4E4E4;
  border-width: 0 1px 1px 0;
  border-radius: 5px 0 3px;
}

.widgetContainer {
  border: solid 1px #E4E4E4;
}

.widgetContainer:after {
  content: "Widget display";
}

.hitsContainer {
  border-bottom: solid 1px #E4E4E4;
  border-left: solid 1px #E4E4E4;
  border-right: solid 1px #E4E4E4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.hitsContainer:after {
  content: "Results";
}

.hit {
  margin: 10px 10px;
  display: flex;
  align-items: center;
}

.hitActions {
  display:flex;
}

.hitContent {
  padding: 0px 10px;
}

.hitPicture img{
  width: 80px;
  height: 80px;
}

.hitType {
  color: #888888;
  font-size: 13px;
}

.hitPagination {
  align-self: center;
}

em {
  color: #3e82f7;
  font-weight: 700;
  font-style: normal;
}
