header.site-header
  nav.navbar
    margin-bottom: 0
    .navbar-brand
      font-weight: 600
    .navbar-right
      position: absolute
      right: 15px
      & > li
        display: inline-block
        font-size: 30px
        a
          line-height: 50px
          height: 50px
          width: 50px
          padding: 0
          text-align: center
        span
          display: none

.main-content
  margin-top: $navbar-height
