header.site-header
  position: fixed
  top: 0
  width: 100%
  z-index: 99
  nav.navbar
    margin-bottom: 0
    .navbar-brand
      font-weight: 600
    .fa-github
      font-size: 160%

.main-content
  margin-top: $navbar-height