html, body
  height: 100%
  width: 100%
  background-attachment: fixed
  position: relative

.logo
  svg
    height: 70px

.navbar
  background-color: #0B1724
  border-radius: 0
.navbar-brand
  color: white !important
.navbar-nav > .active > a
  color: #1D96C7 !important


.presented-by
  color: rgba(white,.5)
  font-size: .9em
  img
    position: relative
    top: -5px
    margin-right: 4px

#space
  position: fixed
  top: 0
  left: 0
  z-index: -1
  opacity: 0
  animation: fadeIn 3s ease-in-out

#space-overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: -2
  background: linear-gradient(-30deg, rgba(#182848,0.4) 0%, rgba(#182848,1) 90%) #1D96C7
  &:after // scroll down
    animation: arrow 1s ease-in-out infinite alternate
    background: transparent url("../img/arrow.svg") no-repeat center bottom
    background-size: contain
    bottom: 24px
    height: 19px
    content: ''
    display: block
    left: 50%
    margin-left: -32px
    position: fixed
    width: 64px
    z-index: 99


.window
  padding: 400px 0 200px
  width: 100%
  display: block
  color: white
  &.hero
    padding-top: 100px
    opacity: 1

.vp
  font-size: 1.4em
  font-weight: 300
  color: rgba(white,.7)
  a
    color: white
    border-bottom: solid 1px rgba(#1D96C7,.7)
    &:hover
    text-decoration: none


#curveUpColor
  z-index: 99
  display: block
  path
    fill: white

h2
  font-size: 1.8em
  font-weight: normal
  letter-spacing: 1px
  margin-bottom: 1em

.lead
  font-size: 1.2em
  opacity: .8
  font-weight: 300

.anim-container
  position: fixed
  top: 240px
  width: 100%
  perspective: 700px
  perspective-origin: 55% 75%
  color: white
  pointer-events: none


#anim-overlay
  position: absolute
  top: 0
  left: 0
  z-index: 9999
  opacity: 0
  .widget-intro
    font-weight: 300
    position: absolute
    width: 240px
    img
      position: relative
      float: left
      top: -6px
  .w-1
    top: -60px
    left: 340px
  .w-2
    top: 440px
    left: 60px
  .w-3
    top: -40px
    left: 40px
  .w-4
    top: 140px
    left: 450px

.illus-sync
  opacity: 0
  position: absolute
  top: 350px
  left: 350px
  .path
    stroke-dasharray: 10
    animation: dash 20s linear infinite reverse
  .path2
    stroke-dasharray: 10
    animation: dash 20s linear infinite


.screen
  opacity: 0
  z-index: 1200
  width: 420px
  height: 400px
  background-color: white
  border-radius: 10px
  position: absolute
.screen-1
  top: 0
  left: 460px
.screen-2
  top: 440px
  left: 0
.screen-3
  top: 440px
  left: 460px

#anim
  opacity: 0
  z-index: 1200
  width: 420px
  height: 400px
  background-color: white
  border-radius: 10px
  position: relative
  perspective: 1200px
  transform-style: preserve-3d
  img
    border-radius: 10px
  .widget
    background-color: rgba(#1D96C7,.4)
    position: absolute
    transform-style: preserve-3d
  .legend
    font-size: 1.2em
    border-left: solid 2px white
    padding: 0 0 60px 10px

.widget-1
  //searchbox
  width: 280px
  height: 30px
  top: 10px
  right: 10px
.widget-2
  //results
  width: 280px
  height: 270px
  top: 70px
  right: 10px
.widget-3
  //facet
  width: 110px
  height: 50px
  top: 50px
  left: 10px
.widget-4
  //facet
  width: 110px
  height: 70px
  top: 110px
  left: 10px
.widget-5
  //facet
  width: 110px
  height: 110px
  top: 190px
  left: 10px
.widget-6
  //facet
  width: 110px
  height: 80px
  top: 310px
  left: 10px
.widget-7
  //pagination
  width: 170px
  height: 20px
  top: 350px
  right: 60px





//keyframes

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0

@keyframes fadeInUp
  0%
    opacity: 0
    transform: translateY(20px)
  100%
    opacity: 1
    transform: translateY(0)

@keyframes arrow
  0%
    opacity: 0
    transform: translateY(-16px)
  100%
    opacity: 1
    transform: translateY(0)

@keyframes dash
  100%
    stroke-dashoffset: 700