/* SEARCH BOX */
.ais-search-box--input {
  width: 100%;
  padding: 2px 3px;
}

/* STATS */
.ais-stats {
}
.ais-stats--header {
}
.ais-stats--body {
}
.ais-stats--time {
  font-size: 0.8em;
}
.ais-stats--footer {
}

/* INDEX SELECTOR */
.ais-index-selector {
}
.ais-index-selector--item {
}

/* HITS */
.ais-hits {
}
.ais-hits--item {
}
.ais-hits__empty {
}
.ais-hits em {
}

/* PAGINATION */
.ais-pagination {
}
.ais-pagination--item {
}
.ais-pagination--item__disabled {
}
.ais-pagination--item-first {
}
.ais-pagination--item-previous {
}
.ais-pagination--item-page {
}
.ais-pagination--item-page__active {
  color: black;
}
.ais-pagination--item-next {
}
.ais-pagination--item-last {
}

/* REFINEMENT LIST */
.ais-refinement-list {
}
.ais-refinement-list--header {
}
.ais-refinement-list--body {
}
.ais-refinement-list--list {
}
.ais-refinement-list--item {
}
.ais-refinement-list--item__active {
}
.ais-refinement-list--label {
}
.ais-refinement-list--checkbox {
}
.ais-refinement-list--count {
}
.ais-refinement-list--footer {
}

/* MENU */
.ais-menu {
}
.ais-menu--header {
}
.ais-menu--body {
}
.ais-menu--list {
}
.ais-menu--item {
}
.ais-menu--item__active {
}
.ais-menu--item__active .ais-menu--link {
  color: black;
}
.ais-menu--link {
}
.ais-menu--count {
}
.ais-menu--footer {
}

/* TOGGLE */
.ais-toggle {
}
.ais-toggle--header {
}
.ais-toggle--body {
}
.ais-toggle--list {
}
.ais-toggle--item {
}
.ais-toggle--item__active {
}
.ais-toggle--label {
}
.ais-toggle--checkbox {
}
.ais-toggle--count {
}
.ais-toggle--footer {
}

/* HIERARCHICAL MENU */
.ais-hierarchical-menu {
}
.ais-hierarchical-menu--header {
}
.ais-hierarchical-menu--body {
}
.ais-hierarchical-menu--list {
}
.ais-hierarchical-menu--list__lvl0 {
}
.ais-hierarchical-menu--list__lvl1 {
}
.ais-hierarchical-menu--item {
}
.ais-hierarchical-menu--item__active {
}
.ais-hierarchical-menu--link {
}
.ais-hierarchical-menu--count {
}
.ais-hierarchical-menu--footer {
}

/* RANGE SLIDER */
.ais-range-slider--target,
.ais-range-slider--target * {
  box-sizing: border-box;
}
.ais-range-slider--target {
  position: relative;
  direction: ltr;
  background: #f3f4f7;
  height: 18px;
}
.ais-range-slider--base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; /* Fix 401 */
}
.ais-range-slider--origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.ais-range-slider--state-tap .ais-range-slider--origin {
  transition: left .3s, top .3s;
}
.ais-range-slider--state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.ais-range-slider--base {
  transform: translate3d(0, 0, 0);
}

.ais-range-slider--connect {
  background: #46aeda;
  transition: background 450ms;
}

.ais-range-slider--background {
  background: #f3f4f7;
}

.ais-range-slider--handle {
  width: 1px;
  height: 28px;
  position: relative;
  z-index: 1;
  background: #8191b1;
  cursor: pointer;
}

.ais-range-slider--handle-lower {
  bottom: 10px;
}

.ais-range-slider--active {
  background: #1f3b5d;
}

.ais-range-slider--tooltip {
  position: absolute;
  color: #1f3b5d;
  border: 1px solid #8191b1;
  background: #ffffff;
  padding: 2px 3px;
}

.ais-range-slider--handle:hover {
  background: #1f3b5d;
}

.ais-range-slider--active .ais-range-slider--tooltip, .ais-range-slider--handle:hover .ais-range-slider--tooltip {
  background: #46aeda;
  color: #ffffff;
  border-color: #1f3b5d;
}

.ais-range-slider--handle-lower .ais-range-slider--tooltip {
  border-radius: 5px 5px 5px 0;
  top: -24px;
}

.ais-range-slider--handle-upper .ais-range-slider--tooltip {
  bottom: -24px;
  border-radius: 5px 0 5px 5px;
  right: 0;
}
