@use '../../shared/_common';
@use '../../shared/_variables';

.ais-ChatPromptSuggestions {
  display: flex;
  flex-direction: column;
  gap: calc(var(--ais-spacing) * 0.5);
}

.ais-ChatPromptSuggestions-suggestion {
  font-size: revert;
  width: fit-content;
  border-radius: var(--ais-border-radius-lg);
  padding-left: calc(var(--ais-spacing) * 0.75);
  padding-right: calc(var(--ais-spacing) * 0.75);
}

