@use '../../shared/_variables';

.ais-ChatOverlayLayout {
  /* stylelint-disable-next-line length-zero-no-unit */
  --ais-chat-trigger-offset: 0px;

  position: fixed;
  justify-content: flex-end;
  gap: var(--ais-spacing);
  align-items: flex-end;
  right: var(--ais-chat-margin);
  bottom: calc(var(--ais-chat-margin) + var(--ais-chat-trigger-offset));
  width: var(--ais-chat-width);
  height: var(--ais-chat-height);
  max-width: calc(100% - var(--ais-chat-margin) * 2);
  max-height: calc(
    100% - var(--ais-chat-margin) * 2 - var(--ais-chat-trigger-offset)
  );
  z-index: var(--ais-z-index-chat);
  pointer-events: none;

  transition:
    width var(--ais-transition-duration) var(--ais-transition-timing-function),
    height var(--ais-transition-duration) var(--ais-transition-timing-function);

  &--maximized {
    width: var(--ais-chat-maximized-width);
    height: var(--ais-chat-maximized-height);
  }

  .ais-Chat-container {
    box-shadow: var(--ais-shadow-md);
    opacity: 0;
    transform-origin: bottom right;
    transform: scale(0.95) translateY(var(--ais-spacing));

    transition:
      opacity var(--ais-transition-duration)
        var(--ais-transition-timing-function),
      transform var(--ais-transition-duration)
        var(--ais-transition-timing-function);
  }

  .ais-Chat-container--open {
    pointer-events: auto;
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

body:has(.ais-ChatToggleButton--floating) .ais-ChatOverlayLayout {
  --ais-chat-trigger-offset: calc(var(--ais-spacing) * 4);
}

@media (max-width: variables.$ais-chat-breakpoint) {
  .ais-ChatOverlayLayout {
    inset: 0;
    height: 100%;
    width: 100%;
    transition: none;
    max-width: initial;
    max-height: initial;
    gap: 0;
  }

  .ais-ChatOverlayLayout .ais-Chat-container {
    border-radius: 0;
    transition: none;
  }
}
