.ais-ChatGreeting {
  --ais-chat-greeting-padding: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--ais-chat-greeting-padding);
  flex: 1;
  gap: calc(var(--ais-spacing) * 0.5);
}

.ais-ChatGreeting-heading {
  font-size: 1.25em;
  font-weight: 700;
  margin: 0;
}

.ais-ChatGreeting-subheading {
  font-size: 0.875em;
  opacity: 0.7;
  margin: 0;
  line-height: 1.5;
}
