em {
  color: rgb(0, 188, 212);
}

html,
body {
  -webkit-overflow-scrolling : touch !important;
  overflow: auto !important;
  height: 100% !important;
  padding: 0;
  margin: 0;
}

.cm-navigation {
  top: 0px
}

.Header__appBar {
  box-shadow: none !important;
  position: fixed !important;
  top: 56px;
}

span[type='button'] {
  background: white!important;
  -webkit-appearance: inherit!important;
}
