.search {
  text-align: center;
  background: lightblue;
}

#q {
  width: 500px;
  margin: 10px auto;
  padding: 5px;
}

.code{
  font-family: 'inconsolata', monospace;
  background: #eee;
}

em{
  background: #eee;
  font-weight: bold;
}

.refined a {
  font-weight: bold;
}
