* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui,
    -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.topbar {
  background: rgb(254, 207, 80);
  padding: 10px;
  height: 60px;
  width: 100%;
}

.topbar .title {
  margin-right: 16px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(62, 57, 107);
}

.wrapper {
  display: flex;
  height: calc(100% - 60px);
}

.left {
  border-right: 1px solid #eee;
  padding: 20px;
  min-width: 320px;
}

.right {
  flex-grow: 1;
  padding: 20px;
}

.ais-header {
  color: #888;
  font-size: 1.2em;
  margin: 0 0 8px;
}

.left .ais-root {
  margin-bottom: 20px;
}

.ais-hits {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.ais-hits--item {
  flex: 0 0 30%;
  padding: 10px 20px 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: solid 1px #eee;
  box-shadow: 0 0 3px #f6f6f6;
  color: #333;
}

.ais-hits--item em {
  font-style: normal;
  background-color: rgba(254, 207, 80, .3);
}
