---
const { BASE_URL } = import.meta.env;
---

<header class="main-header">
  <h1>
    <a href={BASE_URL}><strong>InstantSearch</strong> specs</a>
  </h1>
  <div class="main-header-right">
    <nav>
      <ul>
        <li>
          <a href={`${BASE_URL}widgets/breadcrumb/`}>Widgets</a>
        </li>
        <li><a href={`${BASE_URL}demo/`}>Demo</a></li>
        <li>
          <a
            href="https://github.com/algolia/instantsearch/edit/master/packages/instantsearch.css"
          >
            View on Github
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
