---
import MainLayout from '../layouts/MainLayout.astro';

const { BASE_URL } = import.meta.env;
---

<MainLayout>
  <div class="intro">
    <h1>Common specifications for InstantSearch</h1>
    <a href={`${BASE_URL}/widgets/breadcrumb/`} class="cta">View widgets</a>
  </div>
</MainLayout>
