@import "base";
@import "variables";

@include block(range-slider) {
  @include element(target) {
    position: relative;
    direction: ltr;
    background: $gray-light;
    height: 4px;
    &, * {
      box-sizing: border-box;
    }
  }

  @include element(base) {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }

  @include element(origin) {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }

  @include element(state-tap) {
    @include block(range-slider) {
      @include element(origin) {
        transition: left .3s, top .3s;
      }
    }
  }

  @include element(state-drag) {
    * {
      cursor: inherit;
    }
  }

  // Painting and performance;
  // Browsers can paint handles in their own layer.
  //
  @include element(base) {
    transform: translate3d(0, 0, 0);
  }

  @include element(connect) {
    background: $blue-light;
    transition: background 450ms;
  }

  @include element(background) {
    background: $gray-light;
  }

  @include element(handle) {
    border: 1px solid #CCC;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #FFF;
    position: relative;
    z-index: 1;
    cursor: pointer;
  }

  @include element(handle-lower) {
    bottom: 7px;
  }

  @include element(handle-upper) {
    bottom: 7px;
  }

  @include element(tooltip) {
    position: absolute;
    top: -20px;
  }

  @include element(active) {
    @include block(range-slider) {
      @include element(tooltip) {
        background: $blue-light;
        color: $white;
        border-color: $blue-dark;
      }
    }
  }

  @include element(handle-upper) {
    @include block(range-slider) {
      @include element(tooltip) {
        right: 0;
      }
    }
  }
}
