.header {
  align-items: center;
  background-image: linear-gradient(73deg, #3369e7, #1cc7d0);
  color: #fff;
  display: flex;
  margin-bottom: 1rem;
  min-height: 50px;
  padding: 0.5rem 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-subtitle::before {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  margin: 0 auto;
  max-width: 460px;
  padding: 1rem;
}

#searchBox {
  margin-bottom: 2rem;
}

.ais-SearchBox-form:before {
  z-index: 1;
}

.ais-SearchBox-input {
  min-height: 2.5rem;
}

.algolia-autocomplete {
  width: 100%;
}

.algolia-autocomplete .aa-input,
.algolia-autocomplete .aa-hint {
  width: 100%;
}

.algolia-autocomplete .aa-hint {
  color: #999;
}

.algolia-autocomplete .aa-dropdown-menu {
  background-color: #fff;
  border: 1px solid rgba(150, 150, 150, 0.16);
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(35, 38, 59, 0.05),
    0 8px 16px -4px rgba(35, 38, 59, 0.25);
  margin-top: 5px;
  width: 100%;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  color: #23263b;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-style: normal;
  font-weight: normal;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #f5f5fa;
}
