{
  "extends": ["plugin:@next/next/recommended"],
  "rules": {
    // This rule is not able to find the `pages/` folder in the monorepo.
    "@next/next/no-html-link-for-pages": ["off"],
    "react/react-in-jsx-scope": "off",
    "spaced-comment": ["error", "always", { "markers": ["/"] }],
    // conflict with other rules
    "@typescript-eslint/consistent-type-assertions": "off",
    "deprecation/deprecation": "off"
  }
}
