div !{header}
  .marketing-banner
    .banner__description
      a(href='https://www.algolia.com/doc/guides/building-search-ui/what-is-instantsearch/vue/')
        p
          strong We just reintegrated the Vue InstantSearch content on algolia.com/doc, check it out →
