div !{header}
  .marketing-banner
    .banner__description
      a(href='getting-started/migration.html')
        p
          strong Welcome to the V2 beta of Vue InstantSearch. Read the migration guide →
