script(src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js")

section.hero.fill-titan
  .container.z-10
    .spacer80
    h1.heading-text Build search into your Vue.js app
    h2.color-logan.text-lg.text-thin Vue InstantSearch makes it easy to design the perfect search experience using prepackaged search components or creating your own!

    .spacer32
    a.btn.btn-static-theme.elevation0(href="getting-started/getting-started.html").
      Get started
      <svg> <use xlink:href="#arrow-right"></svg>

    .spacer80.hidden-sm
  .row.z-10.m-l-none.m-r-none
    .spacer40
    .spacer40.hidden-md
    figure
      img(src="assets/img/instantsearch-Vue-medal.svg")
    .spacer40.hidden-sm
  .spacer120
  .spacer40.hidden-sm
