$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 14px;

$headings-font-family: "Raleway";
$headings-font-weight: 300;

$brand-primary: #1D96C7;
$code-color: #65717D;

$text-color: rgba(#000000, .75);

$anchor-offset: 70px;
$community-color: #674492;
$success-color: #58D158;
$gray-light: #F3F3F3;
$dark-blue: #0D1D30;
$light-blue: lighten($dark-blue, 70%);

$secondary-color: #008000;


// Breakpoints
$bp-huge: 2000px;
$bp-big: 1440px;
$bp-medium: 960px;
$bp-small: 768px;

// Dimensions
$max-container-width: 940px;
$navigation-height: 50px;
$margin: 16px;

// Colors
$red-pink: #FB366E;
$steel: #788795;
$black: #0A1724;
$white-75: rgba(#FFFFFF, .75);

// Fonts
$font-name: "Raleway";
$font-fallback: Helvetica Neue, helvetica;
$font-settings:  $font-name, $font-fallback;
