code {
  word-wrap: break-word;
}

// Navigation
.widget-nav {
  padding: 0;
  padding-left: 15px;
  font-weight: lighter;
  background-color: $gray-light;
  position: fixed;
  @include position($navbar-height, null, 0, 0);
}

.documentation-menu {
  height: 100%;
  overflow-y: auto;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
  > ul {
    line-height: 2em;
    list-style: none;
    margin: 0;
    padding: 15px 0;
    ul ul li {
      font-weight: normal;
      &:before {
        display: inline-block;
        content: "";
        width: 8px;
        height: 8px;
        background-color: $brand-primary;
        border-radius: 1px;
        margin-right: 4px;
      }
    }
    a {
      color: #242424;
      &:hover {
        color: $brand-primary;
        text-decoration: none;
      }
    }
    ul {
      font-size: .85em;
      padding: 0 0 5px 10px;
      line-height: 1.7em;
      list-style: none;
    }
  }
}

// Left panel
.widget-description {
  padding-right: 0;
}

.main-documentation {
  height: 100%;
  padding-top: $navbar-height;
  .description {
    min-height: 84px;
  }
}

.shameless-marketing {
  float: right;
  width: 43%;
  color: rgba(#FFFFFF, .75);
  font-size: .9em;
  img {
    position: relative;
  }
  .sticker {
    @include size(60px, 60px);
    margin: 0 auto;
    border-radius: 50%;
    opacity: 0;
    animation: arrow 1s ease-in-out;
    animation-fill-mode: forwards;
    border: solid 2px rgba(#FFFFFF, .5);
    margin-bottom: 10px;
    p {
      height: 100%;
      padding: 0;
      margin: 0;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .sticker-algolia {
    animation-delay: .5s;
    margin-top: -2px;
  }
  .sticker-open-source {
    animation-delay: 1s;
  }
  .sticker-ux {
    animation-delay: 1.5s;
  }
}

.documentation-content {
  padding: 30px;
  font-size: 14px;
  color: rgba(0, 0, 0, .75);
  p {
    line-height: 1.8em;
  }
  h1, h2, h3 {
    &[id] {
      clear: both;
    }
  }
  h1, h2, h3, h4, h5 {
    &[id] {
      &:before {
        content: "";
        display: block;
        height: $anchor-offset;
        margin: -$anchor-offset 0 0;
      }
    }
    .anchor {
      display: inline-block;
      font-size: .7em;
      visibility: hidden;
      padding-right: .2em;
      margin-top: -.5em;
      color: inherit;
      &:hover, &:active, &:focus {
        color: inherit;
        text-decoration: none;
      }
    }
    &:hover {
      .anchor {
        visibility: visible;
      }
    }
  }
  > p, > h1, > h2, > h3, > h4, > h5, > pre, > .highlight, > ul, > .row {
    margin-right: 50%;
    max-width: 50%;
  }
  > div {
    &[id] {
      margin-right: 50%;
      max-width: 50%;
    }
  }
  ul {
    padding: 0 10px 0 30px;
  }
  li {
    padding-bottom: 6px;
  }
  .highlight, .row .highlight {
    pre {
      border: 0;
      .o {
        color: inherit;
      }
    }
  }
  h2, .h2 {
    margin-top: 3em;
    font-size: 2em;
    font-weight: normal;
    text-transform: uppercase;
    clear: both;
    &:first-child {
      margin-top: 0;
    }
  }
  h3, .h3 {
    margin: 2em 0 .8em;
    font-size: 1.7em;
    font-weight: bold;
    clear: both;
  }
  h4, .h4 {
    border-bottom: dashed 1px #CCCCCC;
    padding: 0 0 8px;
    margin: 2em 0 1em;
    font-size: 1.3em;
    font-weight: bold;
    clear: both;
  }
  code {
    background-color: #F3F3F3;
    border: 1px solid darken(#F3F3F3, 7%);
    color: $code-color;
    font-weight: bold;
  }
  .code-box {
    .text-#FFFFFF code {
      color: #FFFFFF;
    }
    code {
      background: transparent;
      border: 0;
      font-weight: normal;
    }
  }
  .version {
    font-size: .9em;
    margin-top: 2em;
    strong {
      color: #FFFFFF;
    }
  }
}

.widget-icon {
  margin: 4px 20px 20px 0;
}

.html-container {
  border: 0;
  color: #A3B6CB;
  padding: 9.5px;
  margin: 0 0 10px;
  background-color: #0A1724;
  word-wrap: normal;
  white-space: pre;
  overflow-x: auto;
}

.widget-container {
  padding: 50px 40px 40px;
  border: solid 1px #E4E4E4;
  border-radius: 5px;
  position: relative;
  overflow-x: hidden;
  clear: left;
  &:after {
    font-size: 11px;
    content: "Widget display";
    top: 0;
    left: 0;
    color: #999999;
    padding: 4px 6px;
    line-height: 1em;
    position: absolute;
    background-color: $gray-light;
    border: solid 1px #E4E4E4;
    border-width: 0 1px 1px 0;
    border-radius: 5px 0 3px;
  }
}

.codebox-combo {
  clear: both;
  & > p, & > ul {
    float: left;
    max-width: 50%;
    clear: left;
  }
  .code-box {
    float: right;
  }
}

// Code box

.code-samples {
  background-color: #172C4F;
  background: linear-gradient(to bottom, #0A1724 0%, #172C4F 100%);
  position: absolute;
  width: 46%;
  @include position(0, 0, 0, null);
}

.code-box {
  position: relative;
  width: 44%;
  float: right;
  clear: right;
  .btn-group {
    position: absolute;
    right: 0;
    top: -3em;
    .toggle-doc-button {
      text-align: right;
      color: $brand-primary;
      background-color: #0A1724;
      border: 0;
      transition: color .2s, background-color .2s;
      &:hover {
        color: #FFFFFF;
      }
      &:active, &:focus {
        outline: 0;
      }
      &.active {
        background: #163350;
      }
    }
  }
  .copy-btn {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0;
    font-size: .9em;
    background-color: rgba($brand-primary, .1);
    border: 0;
    text-transform: uppercase;
    color: rgba(#FFFFFF, .4);
    transition: opacity .2s;
    &:active, &:focus {
      outline: 0;
    }
    &:active {
      color: #0A1724;
      background-color: $brand-primary;
      border-color: #0A1724;
    }
  }
  &:hover {
    .copy-btn {
      display: block;
      opacity: 1;
    }
  }
  .jsdoc {
    border: 0;
    color: #A3B6CB;
    padding: 9.5px;
    margin: 0 0 10px;
    background-color: #0A1724;
    code {
      background-color: #0A1724;
    }
    .attr-optional code {
      color: #46AEDA;
    }
    .attr-required code {
      color: $success-color;
    }
    .attr-infos {
      display: block;
      font-size: .8em;
      margin-left: 10px;
    }
    h5 {
      text-decoration: underline;
      color: #DDDDDD;
    }
    pre {
      background: transparent;
      border: 0;
      padding: 0;
      margin-bottom: 1.5em;
    }
    table {
      table-layout: fixed;
      margin-top: 1em;
      width: 100%;
      th {
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: solid 1px #758393;
      }
      td {
        padding: .5em;
        border-bottom: solid 1px #162B50;
        code {
          color: #FFFFFF;
        }
      }
    }
    .attr-legend {
      padding: 10px;
      margin: 0;
      text-align: right;
      span {
        font-size: 10px;
        color: #58D158;
      }
    }
  }
  .requirements {
    display: none;
    border: 0;
    color: #A3B6CB;
    padding: 9.5px;
    margin: 0 0 10px;
    background-color: #0A1724;
    code {
      font-size: 1em;
      background: none;
      color: #58D158;
    }
  }
}

// Widgets
#q input {
  width: 100%;
  padding: 2px 3px;
}

.ais-hierarchical-menu--item__active > div > a,
.ais-menu--item__active > div > a,
.ais-pagination--item__active a {
  font-weight: bold;
  color: #0A1724;
}


@media (max-width: $screen-sm-max) {
  .main-documentation {
    padding: 60px 0 0;
    .row {
      margin: 0;
    }
    img {
      max-width: 100%;
    }
  }
  .documentation-content {
    padding: 60px 0 0;
    font-size: .95em;
  }
  .toc-menu {
    position: fixed;
    top: $navbar-height;
    left: 0;
    width: 100%;
    background: $gray-light;
    padding: 8px 10px;
    z-index: 2;
  }
  .widget-description {
    p, h1, h2, h3, h4 {
      padding: 0 0 0 20px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .widget-container {
    clear: both;
  }
  .code-box {
    width: 100%;
    background: #172C4F;
    margin-bottom: 1em;
    .btn-group {
      position: static;
    }
    .copy-btn {
      display: none;
      visibility: hidden;
    }
    .btn-group {
      .toggle-doc-button {
        background: #163350;
        &.active {
          background: #0A1724;
        }
      }
    }
    .jsdoc {
      margin: 0;
    }
  }
  .widget-description {
    padding: 0;
    p, h1, h2, h3, h4, ul, .highlight {
      margin-right: 0;
      width: 100%;
      max-width: 100%;
    }
    p, h1, h2, h3, h4 {
      padding: 9.5px;
    }
    div {
      &[id] {
        margin-right: 0;
        width: 100%;
        max-width: 100%;
      }
    }
  }
  .highlight pre {
    margin: 0;
    border-radius: 0;
  }
}
