html, body {
  position: relative;
  @include size(100%, 100%);
  background-attachment: fixed;
}

h2 {
  font-size: 1.8em;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 1em;
}

.lead {
  font-size: 1.2em;
  opacity: .8;
  font-weight: 300;
}

#space {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity ease-in-out 3s;
  &.loaded {
    opacity: 1;
  }
}

#space-overlay {
  position: fixed;
  @include size(100%, 100%);
  top: 0;
  left: 0;
  z-index: -2;
  background: linear-gradient(-30deg, rgba(#182848, .4) 0%, rgba(#182848, 1) 90%) #1D96C7;
  &:after {
    content: "";
    display: block;
    @include size(64px, 19px);
    position: fixed;
    z-index: 99;
    bottom: 24px;
    left: 50%;
    margin-left: -32px;
    //background: transparent url(asset_path("img/arrow.svg")) no-repeat center bottom;
    background-size: contain;
    animation: arrow 1s ease-in-out infinite alternate;
  }
}

.window {
  padding: 400px 0 200px;
  width: 100%;
  display: block;
  color: #FFFFFF;
}

.hero {
  padding-top: 100px;
  opacity: 1;
}

.logo {
  svg {
    height: 70px;
  }
}

.vp {
  font-size: 1.4em;
  font-weight: 300;
  color: rgba(#FFFFFF, .7);
  a {
    color: #FFFFFF;
    border-bottom: solid 1px rgba(#1D96C7, .7);
    text-decoration: none;
  }
}

.presented-by {
  color: rgba(#FFFFFF, .5);
  font-size: .9em;
  img {
    position: relative;
    top: -5px;
    margin-right: 4px;
  }
}
.github-button iframe {
  border: none;
  overflow: hidden;
}

#curveUpColor {
  z-index: 99;
  display: block;
  width: 100%;
  overflow: hidden;
  @media (max-width: 800px){
    height: 40px;
  }
  path {
    fill: #FFFFFF;
  }
}

.illus-wrapper {
  min-height: 40px;
}

#panel-get-started {
  background-color: #EFEFEF;
  padding: 4em 2em;
}

.anim-container {
  position: fixed;
  top: 240px;
  width: 100%;
  perspective: 700px;
  perspective-origin: 55% 75%;
  color: #FFFFFF;
  pointer-events: none;
}

#anim-overlay {
  position: absolute;
  @include position(0, null, null, 0);
  z-index: 9999;
  opacity: 0;
  .widget-intro {
    font-weight: 300;
    position: absolute;
    width: 240px;
    img {
      position: relative;
      float: left;
      top: -6px;
    }
  }
  .w-1 {
    @include position(-60px, null, null, 340px);
  }
  .w-2 {
    @include position(440px, null, null, 60px);
  }
  .w-3 {
    @include position(-40px, null, null, 40px);
  }
  .w-4 {
    @include position(140px, null, null, 450px);
  }
}

.illus-sync {
  position: absolute;
  @include position(350px, null, null, 350px);
  opacity: 0;
  .sync-path-out {
    stroke-dasharray: 10;
    animation: dash 20s linear infinite reverse;
  }
  .sync-path-in {
    stroke-dasharray: 10;
    animation: dash 20s linear infinite;
  }
}

// We're using a hack from http://stackoverflow.com/a/27065674
// for anti-aliasing (`outline: 1px solid transparent`)
#anim {
  position: relative;
  @include size(420px, 400px);
  z-index: 1200;
  opacity: 0;
  background-color: #FFFFFF;
  border-radius: 10px;
  perspective: 1200px;
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  img {
    border-radius: 10px;
  }
  .widget {
    background-color: rgba(#1D96C7, .4);
    position: absolute;
    transform-style: preserve-3d;
    outline: 1px solid transparent;
  }
  .legend {
    font-size: 1.2em;
    border-left: solid 2px #FFFFFF;
    padding: 0 0 60px 10px;
  }
  //searchbox
  > .widget-1 {
    @include size(280px, 30px);
    @include position(10px, 10px);
  }
  //results
  > .widget-2 {
    @include size(280px, 270px);
    @include position(70px, 10px);
  }
  //facet
  > .widget-3 {
    @include size(110px, 50px);
    @include position(50px, null, null, 10px);
  }
  > .widget-4 {
    @include size(110px, 70px);
    @include position(110px, null, null, 10px);
  }
  > .widget-5 {
    @include size(110px, 110px);
    @include position(190px, null, null, 10px);
  }
  > .widget-6 {
    @include size(110px, 80px);
    @include position(310px, null, null, 10px);
  }
  //pagination
  > .widget-7 {
    @include size(170px, 20px);
    @include position(350px, 60px);
  }
}

.screen {
  position: absolute;
  @include size(420px, 400px);
  z-index: 1200;
  opacity: 0;
  background-color: #FFFFFF;
  border-radius: 10px;
  outline: 1px solid transparent;
}

#screen-1 {
  @include position(0, null, null, 460px);
  //searchbox
  .widget-1 {
    @include size(400px, 50px);
    @include position(10px, 10px);
  }
  //results
  .widget-2 {
    @include size(200px, 270px);
    @include position(70px, 10px);
  }
  //facet
  .widget-3 {
    @include size(190px, 320px);
    @include position(70px, null, null, 10px);
  }
  //pagination
  .widget-4 {
    @include size(200px, 40px);
    @include position(350px, 10px);
  }
}

#screen-2 {
  @include position(440px);
  //searchbox
  .widget-1 {
    @include size(400px, 30px);
    @include position(10px, 10px);
  }
  //filters
  .widget-2 {
    @include size(400px, 30px);
    @include position(50px, 10px);
  }
  //facet
  .widget-3  {
    @include size(130px, 200px);
    @include position(90px, null, null, 10px);
  }
  //results
  .widget-4  {
    @include size(260px, 300px);
    @include position(90px, 10px);
  }
}

#screen-3 {
  @include position(440px, null, null, 460px);
  //searchbox
  .widget-1 {
    @include size(400px, 60px);
    @include position(10px, 10px);
  }
  //map
  .widget-2 {
    @include size(400px, 180px);
    @include position(80px, 10px);
  }
  //facet
  .widget-3 {
    @include size(130px, 120px);
    @include position(270px, 10px);
  }
  .widget-4 {
    @include size(120px, 120px);
    @include position(270px, 150px);
  }
  .widget-5 {
    @include size(130px, 120px);
    @include position(270px, 280px);
  }
}
