// Import Searchbox Settings  //
///////////////////////////////
@import 'docsearch/docsearch';
@import 'docsearch/searchbox';

@include searchbox($searchbox-config...);


// Search input in the navbar
.search-form {
  position: relative;
  top: -2px;

  input {
    position: relative;
    width: 36px;
    height: 36px;
  }

  // Main autocomplete wrapper
  .aa-dropdown-menu {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 0 4px rgba($dark-blue, .3);
    color: $text-color;
    font-size: 14px;
    margin: 2px 0 0;
    padding: 8px;
    text-align: left;
    width: 510px;
  }
  // Suggestion category separator
  .suggestion-category {
    color: $brand-primary;
    border-bottom: solid 2px $brand-primary;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0 2px;
    text-align: left;
  }
  // Use table display for the two columns
  .suggestion {
    display: table;
    width: 100%;
  }
  em {
    background-color: rgba($brand-primary, .2);
    color: $dark-blue;
    font-style: normal;
  }
  .suggestion-subcategory-main {
    border-right: 1px solid $brand-primary;
    display: table-cell;
    max-width: 150px;
    min-width: 150px;
    overflow: hidden;
    padding: 10px 15px 10px 10px;
    text-align: right;
    text-overflow: ellipsis;
    vertical-align: top;
    width: 150px;
    font-weight: bold;
    code {
      color: $text-color;
    }
  }
  .suggestion-content {
    border-bottom: 1px solid rgba($brand-primary, .2);
    cursor: pointer;
    display: table-cell;
    padding: 10px 15px;
  }
  .aa-cursor .suggestion-content {
    background: rgba($brand-primary, .2);
    color: $dark-blue;
  }
  .suggestion-title {
    font-weight: bold;
  }
  .suggestion-text {
    font-size: .9em;
    line-height: 1.5em;
    color: lighten($gray, 20%);
  }
}
