doctype html
head
  meta(charset='UTF-8')
  title=title
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  if stylesheets
    each stylesheet in stylesheets
      link(rel='stylesheet', href=stylesheet)
  link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
  link(rel='stylesheet', type='text/css', href='main.css')
  script(src='https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.includes')
body
  | !{contents}
