extends archetypes/single-column.pug

block content
  section
    .container
      div
        h2.title Wow React
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis metus fermentum velit commodo commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus mollis, est non ultrices pharetra, neque augue interdum risus, interdum posuere orci mauris in tellus. Integer quis mauris sem. Cras massa erat, 
        a.btn.btn-cta(href='gettingstarted.html') Get Started
  hr
  section.oddbg
    .container
      div
        h2.title Such easy
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis metus fermentum velit commodo commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus mollis, est non ultrices pharetra, neque augue interdum risus, interdum posuere orci mauris in tellus. Integer quis mauris sem. Cras massa erat, 
        a.btn.btn-cta(href='concepts.html') See the concepts
  hr
  section
    .container
      div
        h2.title Awesome!
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis metus fermentum velit commodo commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus mollis, est non ultrices pharetra, neque augue interdum risus, interdum posuere orci mauris in tellus. Integer quis mauris sem. Cras massa erat, 
        a.btn.btn-cta(href='examples.html#use-with-frameworks') Examples
