extends archetypes/single-column.pug

block content
  section
    .container
      div
        h2.title Beta release
        :markdown-it
          `react-instantsearch` is just around the corner, welcome to its beta website.

          If you want to give us some feedback, you can either open an issue on [GitHub](https://github.com/algolia/instantsearch.js/issues/?label=◾+react-instantsearch)
          or chat with us on [Gitter](https://gitter.im/algolia/instantsearch.js)
        a.btn.btn-cta(href='Getting started.html') Get Started
