extends archetypes/single-column.pug

block content
  section.row.fill-white.p-xlarge
    .container
      .inline.spacer80
      .col-md-12.z-10
        .col-md-6
          p lol
        .col-md-6
          header
            h3 Design Best Practices

          p InstantSearch.js comes with 18 widgets to cover a wide variety of search use cases. They have been designed to  bring search UI best practices to your  website.

          a.btn.btn-static-theme.b-n.elevation0(href="#") Discover widgets &gt;
      .inline.spacer80

  section.row.fill-titan.p-xlarge
    .container
      .inline.spacer80
      .col-md-12.z-10
        .col-md-6
          header
            h3 Infinite possibilities

          p Build the ideal search experience you’ve imagined for your users by customizing our existing widgets or building your own.

          a.btn.btn-static-theme.b-n.elevation0(href="#") Learn about advanced customization &gt;

        .col-md-6
          p lol

      .inline.spacer80

  section.row.fill-white.p-xlarge
    .container
      .inline.spacer80
      .col-md-12.z-10
        .col-md-6
          p lol
        .col-md-6
          header
            h3 No framework needed

          p InstantSearch.js does not depend on any framework like jQuery or React. You can still plug yours if you want a smooth integration.

          a.btn.btn-static-theme.b-n.elevation0(href="#") Get started &gt;
      .inline.spacer80

  section.row.fill-titan.p-xlarge.live-section
    .container
      .inline.spacer80
      .col-md-12.z-10.text-center.row
        header
          h3 See it live

        .row.h300
          .col-md-4.pos-rel
            .card.fill-white.elevation1.radius6.p-large.h300


          .col-md-4.pos-rel
            .card.fill-white.elevation1.radius6.p-large.h300


          .col-md-4.pos-rel
            .card.fill-white.elevation1.radius6.p-large.h300


      .inline.spacer80

  section.row.fill-white.p-xlarge.discover-section
    .container
      .inline.spacer80
      .col-md-12.z-10.text-center.row
        header
          h3 Discover the<br/>InstantSearch family

        .spacer80
        .row.h100
          .col-md-12
            .col-md-4.col-md-offset-4
              .card.p-large.h100.fill-white.elevation1.radius6.text-left
                a(href="#")
                  figure
                    img(src="assets/img/InstantSearch-Generic.svg", alt="Logo InstantSearch")
                    figcaption InstantSearch

          .spacer32.inline
          .col-md-12
            .col-md-8.pos-rel.p-b-large.col-md-offset-2
              div.heading.w100p.text-left
                small.color-logan InstantSearch for mobile
          .col-md-12
            .col-md-4.col-md-offset-2
              .card.fill-white.elevation1.radius6.p-large.h100.text-left
                a(href="#")
                  figure
                    img(src="assets/img/InstantSearch-Android.svg", alt="Logo InstantSearch Android")
                    figcaption InstantSearch for Android
            .col-md-4
              .card.fill-white.elevation1.radius6.p-large.h100.text-left
                a(href="#")
                  figure
                    img(src="assets/img/InstantSearch-Swift.svg", alt="Logo InstantSearch Swift")
                    figcaption InstantSearch for Swift

        .spacer40.inline
        .row
          .col-md-12.p-b-large
            div.heading.w100p.text-left
              small.color-logan InstantSearch for Desktop
          .col-md-4
            .card.fill-white.elevation1.radius6.p-large.h100.text-left
              a(href="#")
                figure
                  img(src="assets/img/InstantSearch-Javascript.svg", alt="Logo InstantSearch Javascript")
                  figcaption InstantSearch for Javascript
          .col-md-4
            .card.fill-white.elevation1.radius6.p-large.h100.text-left
              a(href="#")
                figure
                  img(src="assets/img/InstantSearch-React.svg", alt="Logo InstantSearch React")
                  figcaption InstantSearch for React
          .col-md-4
            .card.fill-white.elevation1.radius6.p-large.h100.text-left
              a(href="#")
                figure
                  img(src="assets/img/InstantSearch-Vue.svg", alt="Logo InstantSearch Vue")
                  figcaption InstantSearch for Vue

      .inline.spacer80