extends archetypes/single-column.pug

block content
  section
    .container
      div
        h2.title Alpha release
        p
          | react-instantsearch is just around the corner, welcome to its alpha website :)
          | If you want to give us some feedback, you can either open an issue on
          a(href="https://github.com/algolia/instantsearch.js/issues/new?labels[]=packages/react-instantsearch") Github
          | or chat with us on
          a(href="https://gitter.im/algolia/instantsearch.js") gitter
        a.btn.btn-cta(href='gettingstarted.html') Get Started
