extends archetypes/content-with-menu.pug

include mixins/nav.pug

include mixins/documentationjs/description.pug
include mixins/documentationjs/type.pug
include mixins/documentationjs/struct.pug
include mixins/documentationjs/widget-usage.pug

block navigation
  - const headings = [{tag: 'h2', id: 'description', text: 'Description'}, {tag: 'h2', id:'usage', text:'Usage'}, {tag:'h2', id:'example', text: 'Example'}]
  +nav(navPath, navigation, mainTitle || title, withHeadings && headings || [])

block content
  h2#description Description
    a.anchor(href=`${navPath}#description`)
  p
    +description(jsdoc.description)
  h2#usage Usage
  +widgetUsage(jsdoc)
  each t in jsdoc.relatedTypes
    if t
      +struct(t, jsdoc.relatedTypes)
  if jsdoc.examples
    h2#example Example
      a.anchor(href=`${navPath}#example`)
    each example in jsdoc.examples
      div!=h.highlight(example.description)
