body {
  font-family: Verdana, sans-serif;
}

a {
  color: #0063c3;
  text-decoration: none;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
hr::after {
  content: '';
  display: table;
  clear: both;
}

.transparent {
  opacity: 0;
}

.content-wrapper {
  margin: 0 -15px;
  min-width: 620px;
}

header {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 10px;
  background: #222f3f;
}
header .is-logo {
  float: left;
  margin-right: 12px;
}
header .logo {
  float: left;
  margin-right: 16px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
header .logo:hover {
  text-decoration: none;
}
header .input-group {
  float: left;
  width: 350px;
  height: 30px;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden;
}
header .input-group #q {
  border: 0;
  height: 100%;
  padding-bottom: 7px;
}
header .input-group #q:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #ffbe61;
}
header .input-group .input-group-btn button {
  height: 100%;
  padding: 0 30px;
  border: 0;
  background: #ffbe61;
}

aside {
  position: fixed;
  overflow-y: auto;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 230px;
  padding: 20px;
  border-right: 1px solid #eee;
  background: #fff;
}
aside .facet-category-title {
  font-size: 1.2em;
  color: #888;
  margin: 0 0 8px;
}
aside .facet-wrapper {
  padding-bottom: 12px;
  border-bottom: solid 1px #eee;
  margin-bottom: 12px;
  font-size: 0.87em;
}
aside .facet {
  margin-bottom: 16px;
}
aside .facet-title {
  font-weight: bold;
  margin: 4px 0;
}
aside .facet-item,
aside a {
  color: #000000;
}
aside .facet-item:hover,
aside a:hover {
  color: #b32500;
  text-decoration: none;
}
aside .facet-item.active,
aside a.active {
  font-weight: bold;
}
aside .facet-item input,
aside a input {
  margin-right: 4px;
}
aside .facet-name {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}
aside .facet-count {
  margin-left: 4px;
  color: #888;
}

.results-wrapper {
  padding: 70px 10px 10px 240px;
}

#results-topbar {
  display: block;
  width: 100%;
  line-height: 22px;
}
#results-topbar::after {
  content: '';
  display: table;
  clear: both;
}
#results-topbar .sort-by {
  float: right;
}
#results-topbar label {
  font-weight: normal;
  font-size: 0.8em;
}
#results-topbar #sort-by {
  display: inline-block;
}

#clear-refinements {
  display: block;
  margin-bottom: 16px;
}
#clear-refinements .ais-ClearRefinements-button,
#clear-refinements .ais-ClearRefinements-button:hover {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  color: #000;
  display: block;
  font-size: 13px;
  margin-bottom: 16px;
}
#clear-refinements .btn {
  font-size: 13px;
  padding: 0;
}
#clear-refinements .btn .ais-ClearRefinements-link > button {
  margin: 6px 12px;
}

#hits {
  margin: 0 -0.5%;
}
#hits::after {
  content: '';
  display: table;
  clear: both;
}

.ais-Hits-list {
  margin-top: 0;
}

.ais-Hits-item,
.ais-InfiniteHits-item,
.ais-InfiniteResults-item,
.ais-Results-item {
  padding: 0;
  border: none;
  box-shadow: none;
}

.hit {
  padding: 10px 20px 20px;
  margin-bottom: 10px;
  border-bottom: solid 1px #eee;
  border: solid 1px #eee;
  box-shadow: 0 0 3px #f6f6f6;
  position: relative;
}
.hit .product-picture-wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.hit .product-picture {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}
.hit .product-picture img {
  transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
  height: 150px;
  max-width: 100%;
}
.hit .product-desc-wrapper {
  height: 100px;
  width: 100%;
  overflow: hidden;
}
.hit .product-name {
  font-weight: bold;
  color: #000000;
  font-size: 0.9em;
  margin: 0 0 8px;
  min-width: 120px;
}
.hit .product-type {
  font-size: 0.8em;
  margin: 0 0 10px;
  color: #a2a2a2;
}
.hit .product-rating {
  margin-bottom: 10px;
}
.hit .product-price {
  font-size: 1.1em;
  font-weight: bold;
  color: #000000;
  float: right;
  letter-spacing: -1px;
}
.hit mark {
  color: #000000;
  font-style: normal;
  background-color: #ffbe61;
}

.ais-RangeInput-submit {
  display: block;
  float: right;
  width: 22px;
  height: 22px;
  padding: 0;
  margin-left: 4px;
  font-size: 10px;
  line-height: 20px;
  border: solid 1px #888;
  border-radius: 50%;
  text-align: center;
  background: none;
  color: #000000;
}

.ais-Panel-header {
  margin: 4px 0;
  clear: both;
  padding: initial;
  border-bottom: none;
}

.ais-Panel-header h5 {
  font-weight: bold;
  text-transform: none;
  font-size: 1.5em;
  margin: 10px 0;
}

.ais-Stats-text {
  padding-left: 10px;
  font-size: 0.8em;
}

.thank-you {
  text-align: center;
  font-size: 0.8em;
  padding: 10px;
}
