body {
  font-family: Verdana, sans-serif; }

a {
  color: #0063C3;
  text-decoration: none; }

hr {
  margin-top: 10px;
  margin-bottom: 10px; }
  hr::after {
    content: "";
    display: table;
    clear: both; }

.transparent {
  opacity: 0; }

.content-wrapper {
  margin: 0 -15px;
  min-width: 620px; }

header {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 10px;
  background: #222F3F; }
  header .is-logo {
    float: left;
    margin-right: 12px; }
  header .logo {
    float: left;
    margin-right: 16px;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF; }
    header .logo:hover {
      text-decoration: none; }
  header .input-group {
    float: left;
    width: 350px;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    overflow: hidden; }
    header .input-group #q {
      border: 0;
      height: 100%;
      padding-bottom: 7px; }
      header .input-group #q:focus {
        outline: none;
        box-shadow: inset 0 0 0 1px #FFBE61; }
    header .input-group .input-group-btn button {
      height: 100%;
      padding: 0 30px;
      border: 0;
      background: #FFBE61; }

aside {
  position: fixed;
  overflow-y: auto;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 230px;
  padding: 20px;
  border-right: 1px solid #EEE;
  background: #FFFFFF; }
  aside .facet-category-title {
    font-size: 1.2em;
    color: #888;
    margin: 0 0 8px; }
  aside .facet-wrapper {
    padding-bottom: 12px;
    border-bottom: solid 1px #EEE;
    margin-bottom: 12px;
    font-size: .87em; }
  aside .facet {
    margin-bottom: 16px; }
  aside .facet-title {
    font-weight: bold;
    margin: 4px 0; }
  aside .facet-item, aside a {
    color: #000000; }
    aside .facet-item:hover, aside a:hover {
      color: #B32500;
      text-decoration: none; }
    aside .facet-item.active, aside a.active {
      font-weight: bold; }
    aside .facet-item input, aside a input {
      margin-right: 4px; }
  aside .facet-name {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block; }
  aside .facet-count {
    margin-left: 4px;
    color: #888; }
  aside #colors::after {
    content: "";
    display: table;
    clear: both; }
  aside .facet-color {
    width: 28px;
    height: 28px;
    border-radius: 3px;
    margin: 0 6px 6px;
    display: block;
    overflow: hidden;
    float: left; }
    aside .facet-color.checked {
      box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.5); }
    aside .facet-color[data-facet-value="White"] {
      background-color: #FFFFFF;
      box-shadow: inset 0 0 0 1px #CCC; }
      aside .facet-color[data-facet-value="White"].checked {
        box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1); }
    aside .facet-color[data-facet-value="Black"] {
      background-color: #000000; }
    aside .facet-color[data-facet-value="Black-brown"] {
      background-color: #382919; }
    aside .facet-color[data-facet-value="Pink"] {
      background-color: #C0116D; }
    aside .facet-color[data-facet-value="Gray"] {
      background-color: #6F6E6C; }
    aside .facet-color[data-facet-value="Blue"] {
      background-color: #5182A1; }
    aside .facet-color[data-facet-value="Green"] {
      background-color: #1E9C5E; }
    aside .facet-color[data-facet-value="Brown"] {
      background-color: #7B6A63; }
    aside .facet-color[data-facet-value="Red"] {
      background-color: #BC1C1A; }
    aside .facet-color[data-facet-value="Dark gray"] {
      background-color: #444348; }
    aside .facet-color[data-facet-value="Silver color"] {
      background-color: #AAAAA8; }
    aside .facet-color[data-facet-value="Light brown"] {
      background-color: #C19A6E; }
    aside .facet-color[data-facet-value="Black-brown stain"] {
      background-color: #4B4640; }
    aside .facet-color[data-facet-value="Off-white"] {
      background-color: #D0C8B4; }
    aside .facet-color[data-facet-value="Beige"] {
      background-color: #C9B8A3; }
    aside .facet-color[data-facet-value="Light green"] {
      background-color: #ABBD9B; }
    aside .facet-color[data-facet-value="White stain"] {
      background-color: #E4E1DC; }
    aside .facet-color[data-facet-value="Turquoise"] {
      background-color: #46BCC9; }
    aside .facet-color[data-facet-value="Birch effect"] {
      background-color: #CBBFA4; }
    aside .facet-color[data-facet-value="Yellow"] {
      background-color: #F5E500; }
    aside .facet-color[data-facet-value="Dark blue"] {
      background-color: #374063; }
    aside .facet-color[data-facet-value="Galvanized"] {
      background-color: #726F6A; }
    aside .facet-color[data-facet-value="Birch"] {
      background-color: #726F6A; }
    aside .facet-color[data-facet-value="Dark brown"] {
      background-color: #74523E; }
    aside .facet-color[data-facet-value="High gloss gray"] {
      background-color: #E5E5E5; }
    aside .facet-color[data-facet-value="Gray/white"] {
      background-color: #E5E5E5; }
    aside .facet-color[data-facet-value="Red/white"] {
      background-color: #FA757B; }
    aside .facet-color[data-facet-value="Clear"] {
      background-color: #D5DAE0; }
    aside .facet-color[data-facet-value="Matte black"] {
      background-color: #616872; }
    aside .facet-color[data-facet-value="Matte white"] {
      background-color: #DCDBD7; }
    aside .facet-color[data-facet-value="White stained oak effect"] {
      background-color: #E7E8E0; }
  aside .ais-price-ranges--form {
    margin-top: 8px; }
  aside .ais-price-ranges--currency {
    display: inline-block;
    margin-right: 4px; }
  aside .ais-price-ranges--input {
    display: inline-block;
    width: 50px;
    border-radius: 2px;
    border: solid 1px #888;
    font-weight: normal; }
  aside .ais-price-ranges--button {
    display: block;
    float: right;
    width: 22px;
    height: 22px;
    padding: 0;
    margin-left: 4px;
    font-size: 10px;
    line-height: 20px;
    border: solid 1px #888;
    border-radius: 50%;
    text-align: center;
    background-color: #EEE; }
    aside .ais-price-ranges--button:hover {
      color: #0063C3;
      background-color: #FFFFFF; }
    aside .ais-price-ranges--button:focus {
      outline: none;
      box-shadow: inset 0 0 0 1px #FFBE61; }

.results-wrapper {
  padding: 70px 10px 10px 240px; }

#results-topbar {
  display: block;
  width: 100%;
  line-height: 22px; }
  #results-topbar::after {
    content: "";
    display: table;
    clear: both; }
  #results-topbar .sort-by {
    float: right; }
  #results-topbar label {
    font-weight: normal;
    font-size: .8em; }
  #results-topbar #sort-by-selector {
    display: inline-block; }

#clear-all {
  display: block;
  margin-bottom: 16px; }
  #clear-all .btn {
    font-size: 13px;
    padding: 0; }
    #clear-all .btn .ais-clear-all--link > div {
      margin: 6px 12px; }

#stats {
  padding-right: 10px;
  font-size: .8em; }

#hits {
  margin: 0 -.5%; }
  #hits::after {
    content: "";
    display: table;
    clear: both; }

.hit {
  width: 24%;
  float: left;
  padding: 10px 20px 20px;
  margin-bottom: 10px;
  border-bottom: solid 1px #EEE;
  margin: .5%;
  border: solid 1px #EEE;
  box-shadow: 0 0 3px #f6f6f6;
  position: relative; }
  @media (max-width: 960px) {
    .hit {
      width: 49%; } }
  .hit .product-picture-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
    margin-bottom: 10px; }
  .hit .product-picture {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto; }
    .hit .product-picture img {
      transition: opacity 500ms cubic-bezier(0.19, 1, 0.22, 1);
      height: 150px;
      max-width: 100%; }
  .hit .product-desc-wrapper {
    height: 100px;
    width: 100%;
    overflow: hidden; }
  .hit .product-name {
    font-weight: bold;
    color: #000000;
    font-size: .9em;
    margin: 0 0 8px;
    min-width: 120px; }
  .hit .product-type {
    font-size: .8em;
    margin: 0 0 10px;
    color: #a2a2a2; }
  .hit .product-rating {
    margin-bottom: 10px; }
  .hit .product-price {
    font-size: 1.1em;
    font-weight: bold;
    color: #000000;
    float: right;
    letter-spacing: -1px; }
  .hit em {
    color: #000000;
    font-style: normal;
    background-color: #FFBE61; }

#pagination {
  margin-top: 10px;
  background-color: #EEE;
  font-size: 1.2em;
  line-height: 3em;
  text-align: center; }
  #pagination::after {
    content: "";
    display: table;
    clear: both; }
  #pagination .ais-pagination--item__active a {
    color: #000000;
    font-weight: bold; }
  #pagination .ais-pagination--item__disabled {
    visibility: visible; }
    #pagination .ais-pagination--item__disabled a {
      color: #bbbbbb; }
      #pagination .ais-pagination--item__disabled a:hover {
        cursor: default;
        text-decoration: none; }
  #pagination ul {
    margin: 0;
    padding: 0; }
  #pagination li {
    padding: 0 8px; }
  #pagination .fa {
    position: relative;
    top: 5px; }

.thank-you {
  text-align: center;
  font-size: .8em;
  padding: 10px; }