---
# this ensures Jekyll reads the file to be transformed into CSS later
---

// the relative path is not working here,
// Jekyll will always look in the sass_dir
@import "../examples/airbnb/scss/default";

$white: #FFFFFF;
$airbnb-red: #FF585B;
$airbnb-gray-light: #DCE0E0;
$airbnb-gray-lighter: #EDEFED;
$airbnb-text-color: #565A5C;

body {
  color: $airbnb-text-color;
  font-family: Roboto;
  font-size: 16px;
  color: $airbnb-text-color;
}

header {
  position: relative;
  padding: 0;
  border-bottom: 1px solid $airbnb-gray-light;

  .logo {
    color: $airbnb-red;
    font-size: 40px;
    padding: 5px 20px;
    border-right: 1px solid $airbnb-gray-light;
    font-family: Courier;
  }

  .fa-search {
    position: absolute;
    top: 13px;
    left: 80px;
    font-size: 30px;
    color: $airbnb-gray-light;
  }

  #q {
    position: absolute;
    top: 13px;
    left: 110px;
    width: 50%;
    border: none;
    box-shadow: none;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

nav {
  padding: 0 20px;
  font-size: 0.8em;
  font-weight: bold;

  .row {
    border-bottom: 1px solid $airbnb-gray-light;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .date {
    border: 1px solid $airbnb-gray-light;
    padding: 7px 10px;
    margin-right: 20px;
  }

  .guests {
    border: 1px solid $airbnb-gray-light;
    padding: 7px 10px;
    select {
      background: transparent;
      border: none;
      -webkit-appearance: none;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
    &:before {
      content: '\25bc';
      position: absolute;
      pointer-events: none;
      color: #82888a;
      top: 0;
      right: 20px;
      padding-top: 0.7em;
      line-height: 1;
      width: 2em;
      text-align: center;
    }
  }
}

#stats {
  font-size: 12px;
  text-align: right;
  padding: 5px 15px;
}

#price {
  padding-top: 30px;
}

#room_types {
  .item {
    display: inline-block;
    padding: 10px 20px 5px 15px;
    background: $airbnb-gray-lighter;
    margin-right: 10px;
    cursor: pointer;
  }
  input {
    position: relative;
    float: right;
    -webkit-appearance: none;
    background: white;
    height: 1.25em;
    width: 1.25em;
    vertical-align: top;
    margin-left: 20px;
    border: 1px solid $airbnb-gray-light;
    &:focus {
      outline: none;
    }
  }

  .active {
    input:before {
      content: "\2713";
      position: absolute;
      font-size: 0.85em;
      text-align: center;
      width: 1.25em;
      color: #ff5a5f;
    }
  }
}

#hits {
  .hit {
    img {
      width: 100%;
    }

    em {
      font-style: normal;
      background: #ffaeae;
    }

    .infos {
      font-size: 0.8em;
      padding: 10px 20px;
      height: 90px;
    }
  }
}

#main {
  max-width: 1280px;
}

#pagination {
  text-align: center;
}

#map {
  height: 200px;
  margin: 10px 0;
}
