body {
  color: #565A5C;
  font-family: Roboto;
  font-size: 16px;
  color: #565A5C; }

header {
  position: relative;
  padding: 0;
  border-bottom: 1px solid #DCE0E0; }
  header .logo {
    color: #FF585B;
    font-size: 40px;
    padding: 5px 20px;
    border-right: 1px solid #DCE0E0;
    font-family: Courier; }
  header .fa-search {
    position: absolute;
    top: 13px;
    left: 80px;
    font-size: 30px;
    color: #DCE0E0; }
  header #q {
    position: absolute;
    top: 13px;
    left: 110px;
    width: 50%;
    border: none;
    box-shadow: none; }
    header #q:focus {
      box-shadow: none;
      outline: none; }

nav {
  padding: 0 20px;
  font-size: 0.8em;
  font-weight: bold; }
  nav .row {
    border-bottom: 1px solid #DCE0E0;
    padding-top: 10px;
    padding-bottom: 10px; }
  nav .date {
    border: 1px solid #DCE0E0;
    padding: 7px 10px;
    margin-right: 20px; }
  nav .guests {
    border: 1px solid #DCE0E0;
    padding: 7px 10px; }
    nav .guests select {
      background: transparent;
      border: none;
      -webkit-appearance: none;
      width: 100%; }
      nav .guests select:focus {
        outline: none; }
    nav .guests:before {
      content: '\25bc';
      position: absolute;
      pointer-events: none;
      color: #82888a;
      top: 0;
      right: 20px;
      padding-top: 0.7em;
      line-height: 1;
      width: 2em;
      text-align: center; }

#stats {
  font-size: 12px;
  text-align: right;
  padding: 5px 15px; }

#price .ais-range-slider--handle {
  border-color: #FF585B; }
#price .ais-range-slider--connect {
  background-color: #FF585B; }

#room_types .ais-refinement-list--count {
  display: none; }
#room_types .ais-refinement-list--item {
  display: inline-block;
  padding: 10px 20px 5px 15px;
  background: #EDEFED;
  margin-right: 10px;
  cursor: pointer; }
#room_types .ais-refinement-list--checkbox {
  position: relative;
  float: right;
  -webkit-appearance: none;
  background: white;
  height: 1.25em;
  width: 1.25em;
  vertical-align: top;
  margin-left: 20px;
  border: 1px solid #DCE0E0; }
  #room_types .ais-refinement-list--checkbox:focus {
    outline: none; }
#room_types .ais-refinement-list--item__active .ais-refinement-list--checkbox:before {
  content: "\2713";
  position: absolute;
  font-size: 0.85em;
  text-align: center;
  width: 1.25em;
  color: #ff5a5f; }

#hits .hit img {
  width: 100%; }
#hits .hit em {
  font-style: normal;
  background: #ffaeae; }
#hits .hit .infos {
  font-size: 0.8em;
  padding: 10px 20px;
  height: 90px; }

#main {
  max-width: 1280px; }

#pagination {
  text-align: center; }

#map {
  height: 200px;
  margin: 10px 0; }
