.ais-search-box--powered-by {
  font-size: .8em;
  text-align: right;
  margin-top: 2px; }
.ais-search-box--powered-by-link {
  display: inline-block;
  width: 45px;
  height: 16px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF0AAAAgCAYAAABwzXTcAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAGHRFWHRTb2Z0d2FyZQBwYWludC5uZXQgNC4wLjVlhTJlAAAIJElEQVRoQ+1Za2xURRTugqJVEBAlhICBRFEQeRfodssqiDZaS8vu3dsXVlAbxReJwVfAoqJ/sBqE3S1IgqgBrY9EQ6KJiUAokUfpvQUKogIBlKbyEEUolNL6ndkzw9129+72YaFJv+Rk737nzMyZ756dmXs3oQtd6EJ7oaioqJvX603kr1cl8vPzb+TLzo3MzMx+Xk0r03y+0x5Ne4vpqwoohjeQ4yHYcaYiwcGfVz+ysrIGQfBGsqtWdE37lvLz+nwnmVLIyMjoBd9GxPwL/wKmOw4zCgr6YPBNSGILEviYaVt0dtHxK/DK/BFXq2lad3Z1DJDUqzIBYZrmYldUdLToI4r29HCWmLozUPmEK2AUOgOmRysttRXKTnSPxzMWfD37q0B13DJTUFBwPQatlgKKJJAsu6Oio0VPDlQsTgmajWEWMOaxOyLsRCdQccGez87OHshUxwAJzZbiIYFKkaSmXdJ1fRiHRERHi+4MGk+mBMwXnSVGPj7nQPS3qeLZHRGxRL9ScCAxk8Ur92Rnj5VCItHlHBMRrRDdQRXl8/nG4eaOp5uKz57sC8OkoDEkOWCO5K8CtJRgabnT6TfuS/ZXOKet2duPXVHRDqI7svLz+yPnJCxH07ANuGFDiQ+5WwF0NkWJrOuziEOCm5n7Jy8v7yYRGAHxio4kEyHuK+j3oIyXRr8o2G/wrUXMGIonQbFe18Kq3Ms39By/orw3KnsxKr06fHkxLjkDxubkEuNhMVAE2Ikuni98vsMYtwafQaYVwLvQ9qg1X2mI/xXzyuXQlgGNP+NO/kxLS7tOcOhMda7rz4rACIhH9Ky8vEGY+G4ZZ2ua9hi1gbhvQvBDScu3DUC1j8X1YSV0wDgLsX9m7tJl3lw9onRPDzGoBTFFp1NLyL+WaQUU5GSZG+IuIeYCrhskJ3ivN6o+EYFJDuCOaNBipuXGepI73gMq4k8pluh0E5GsXLoo8U1IMgPLyhDYYExqNL6/Lv1S9FT/7sHOkp0TXCvNYbgBp0hUfB6A2D6rsKn+7YMh9nvOoHkxJL6xLiGhMSzXtoiOfHqDn41ch5MmFC+O1ihEtDnP7c5QHDeJDTSQx8QGTH4E0wLwLWVfo0fXU5kOQyzR0ecL0o/EvoI1O95ZlzcpugAmiKVjKwu+1f2+0Yc9As5VZb3gX4JfQn9XwEyH+HUi1m/kc4hAW0S3A3J9TeaNOWQybQ8aEA0O8IDbmFagM6zsFP5PmA5DTNF5WUH7c7QZMR2GaKK7Ssw0FvyMe2XlIKYVUkrMR4Q/YB6b4t85HKIv5Pj9CY2Xq/3/Ep2qX+aN4prPtD0w2ftlI0z2GaatsJ5qztLPinkFO9Fzc3P7ghfrH/r5nulmiCY6qnhVSEQz4gkKIvvJD2sQS8yqfb3wifWeuN2jOazdRIewibQszszJuYO0yMnJuUXmjbZFHGYPTHAdN7iQOWtWxKMXfPNkx5FujJ3oEHOk9KGfpUw3QzTRsWHuCAloZDFlQaMDN+Ugqrocy8tUJulG/Mg34lGm2iR6YWHhteDnIq8diLmo8gwV0zH5HTGxRcddu1kOhg6PotGCKKbWdVg5N1eIIfpo1VbT3mW6GWxE30cCulbscjOlkLRsb7+UQGUuVOvGlABu0JdC9IChCqS1olNlg9+ocqOY0PG2FrHi1YHi4xJd15+2NorTaLO9h7sQsBOdTieqLX5VTDdD9OXFLCMBm26MdqANV7QpMXWm2iK69VS1AXmm0AmGfOIX4PUmS398omPjFME0oKZtsTPEqDM22qljJcFOdLTtDv4E+2vkM0BT2FR6sRAwaJQyZYuJ2Gyx5NSj2htSPzDpiVGg1aLzfga+mqqeaQX6L0HmjRh70a27Lib5KdNRgZjelsSq3W73NewKEx1xYaITwJVY/IuYDkM00Scv2zGOBETF1+MkM4npqIDga8RNwhMqUwKtFt3n+13wmlbGVBhaJDom9o4MxoQfYtoW6PQLNYDXqx65cX2r4n2+j5hWoN0e/BmOoeUpgDFH0qsFXA+FPQ5/lezDKjoBoq8Ta3TQ/MPl3zWK6XBAOMQtCglu1qcsN8NeScvcIV5d01cadqIjF9o8qd0p+rODaYW4RedBjnBwjbVq7QChPJYBPmda9Ef9sO88fC/NnDnzLnYL4MFqBvk4xt6aiO5ebfSBoLu5gmtxXZzsr0hyBXb1xRFxYHKwwivXfrJkv/EyN1VAn4tk/8hvPebyIK3J5ItR6Qssee1Ageh4drkbn7dT4fC8ZL/RRUeDqZZA2zeIVqAd7eSnud05JKEee3GtnsyEYUlhlwK4MWi3HiZeOVjsF/g+VN+biE6gN4nOYOV3UtiIhvO5028+xU3CgD5vg7B/yzFwXSf3FzvR6Y9s+Lar3GwMbW1Ex7kbHW0iw12bwHRcQPILVVtdn8Y0wYF+52LwChhV+3PMN8N0TARVQu9bJtKLMFAO5HGvSh7VFIpsikaHeNQPGt9A5JMkNG2asP2wJfSuhgMjwpOdPQp5fY0xTiD/vUxL0X8Q88JphWkF8Q5K1+dj7hVoby2Yi+Bq0G4nPkvRdjo36XiI5aaF/zNiUur9DN0Mpu3gmFx8JHH8inKxRLQUcmlpKWhesN4Zc+b0aukcrwSivuynR2lUkHjHjqo53lpBumABKjcRolbBluJ6FpaWKVTNWJ4eQLXQXnD5DwJ852ZdaAsgsvoTwM5wU1Z3hp9spwCqeigELcbS8RPE/QvX9M6iAd/rcH0YtrbJptyFdoYD1dwjPT39hnifD7rQhTiRkPAfxnOcWpCmnRwAAAAASUVORK5CYII=");
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle; }

.ais-pagination--item__disabled {
  visibility: hidden; }

.ais-range-slider--target {
  position: relative;
  direction: ltr;
  background: #F3F4F7;
  height: 4px; }
  .ais-range-slider--target, .ais-range-slider--target * {
    box-sizing: border-box; }
.ais-range-slider--base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }
.ais-range-slider--origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0; }
.ais-range-slider--state-tap .ais-range-slider--origin {
  transition: left .3s, top .3s; }
.ais-range-slider--state-drag * {
  cursor: inherit; }
.ais-range-slider--base {
  transform: translate3d(0, 0, 0); }
.ais-range-slider--connect {
  background: #E91D00;
  transition: background 450ms; }
.ais-range-slider--background {
  background: #F3F4F7; }
.ais-range-slider--handle {
  width: 1px;
  height: 10px;
  position: relative;
  z-index: 1;
  background: #E91D00;
  cursor: pointer; }
.ais-range-slider--handle-lower {
  bottom: 10px; }
.ais-range-slider--active {
  background: #CE1312; }
.ais-range-slider--tooltip {
  position: absolute; }
.ais-range-slider--active .ais-range-slider--tooltip {
  background: #E91D00;
  color: #FFFFFF;
  border-color: #CE1312; }
.ais-range-slider--handle-lower .ais-range-slider--tooltip {
  top: -24px; }
.ais-range-slider--handle-upper .ais-range-slider--tooltip {
  bottom: -24px;
  right: 0; }

body {
  min-height: 100%;
  font-family: Roboto; }

a {
  color: #333333; }

hr {
  margin-top: 10px;
  margin-bottom: 10px; }

.logo {
  margin-left: 15px;
  font-size: 30px;
  font-weight: bold;
  line-height: 20px; }
  .logo i {
    margin-left: 5px;
    color: #E91D00; }

header {
  background: #FFFFFF;
  padding: 10px;
  border-bottom: 1px solid #E8E8E8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; }
  header .input-group {
    margin-top: 5px; }
    header .input-group .form-control {
      height: 28px; }
      header .input-group .form-control:focus {
        outline: none;
        box-shadow: none; }
    header .input-group .input-group-btn button {
      padding-left: 30px;
      padding-right: 30px;
      background: #F8F8F8; }

section {
  background: #F1F1F1;
  min-height: 100%;
  z-index: 1; }
  section aside {
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    width: 230px;
    background: #FFFFFF;
    border-right: 1px solid #E8E8E8; }
    section aside .nav {
      margin: 10px 20px; }
      section aside .nav li a {
        display: block;
        padding: 2px 10px;
        margin: 10px 0; }
        section aside .nav li a:hover {
          color: #FFFFFF;
          background: #333333; }
      section aside .nav li.separator {
        height: 1px;
        background: #E8E8E8; }
    section aside h5 {
      color: #CE1312;
      margin-left: 30px;
      text-transform: uppercase;
      font-size: 10px;
      margin-top: 20px; }
    section aside #genres label {
      display: block;
      cursor: pointer;
      padding: 2px 10px;
      font-weight: normal;
      font-size: .9em; }
      section aside #genres label:hover {
        color: #FFFFFF;
        background: #333333; }
      section aside #genres label input {
        display: none; }
    section aside #genres .active label {
      border: 1px solid #CE1312; }
    section aside #genres .badge {
      font-size: 8px; }
    section aside #ratings {
      margin: 40px 30px; }
  section article {
    margin-top: 66px;
    margin-bottom: 50px;
    margin-left: 400px;
    padding: 10px 0;
    width: 700px;
    background: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
    section article #stats {
      padding-right: 10px;
      font-size: .8em; }
    section article #hits {
      padding: 0 15px; }
    section article #pagination .pagination a {
      background: #F8F8F8;
      padding: 3px 8px;
      color: #333333;
      margin-right: 4px; }
      section article #pagination .pagination a.active {
        border-color: #b5b5b5;
        background: #E8E8E8; }
      section article #pagination .pagination a:hover {
        border-color: #cfcfcf;
        background: #ebebeb; }
    section article .hit {
      margin-bottom: 10px; }
      section article .hit em {
        font-style: normal;
        background: #FFFFE4; }
      section article .hit .media-object {
        height: 130px;
        width: 210px;
        overflow: hidden; }
        section article .hit .media-object img {
          margin-top: -30px;
          width: 100%; }
      section article .hit .media-heading {
        color: #167AC6;
        font-weight: bold;
        font-size: 14px; }
