/* VARIABLES
// ------------------------- */
/* GENERAL
// ------------------------- */
body {
  font-family: Roboto;
  font-size: 16px;
  color: #565A5C;
}

.aisdemo--left-column {
  height: 400px;
}

.aisdemo--right-column {
  padding-right: 0;
  padding-left: 0;
  height: 400px;
}

/* HEADER
// ------------------------- */
.aisdemo-navbar {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #DCE0E0;
  position: relative;
}

.aisdemo-navbar .is-logo {
  display: inline-block;
  position: relative;
  top: -8px;
  left: 16px;
}

.aisdemo-navbar .logo {
  display: inline-block;
  padding: 14px 22px;
  font-size: 40px;
  line-height: 1;
  font-family: Courier;
  color: #FF585B;
  border-right: 1px solid #DCE0E0;
}

.aisdemo-navbar .fa-search {
  font-size: 30px;
  margin-left: 10px;
  color: #DCE0E0;
}

.SearchBox {
  position: absolute;
  width: 280px;
  height: 33px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 14px;
  top: 20px;
  left: 165px;
}

.SearchBox__wrapper {
  width: 100%;
  height: 100%;
}

.SearchBox__input {
  display: inline-block;
  -webkit-transition: box-shadow .4s ease, background .4s ease;
  transition: box-shadow .4s ease, background .4s ease;
  border: 0;
  border-radius: 1px;
  box-shadow: inset 0 0 0 0px #CCCCCC;
  background: #FFFFFF;
  padding: 0;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.SearchBox__input::-webkit-search-decoration, .SearchBox__input::-webkit-search-cancel-button, .SearchBox__input::-webkit-search-results-button, .SearchBox__input::-webkit-search-results-decoration {
  display: none;
}

.SearchBox__input:hover {
  box-shadow: inset 0 0 0 0px #b3b3b3;
}

.SearchBox__input:focus, .SearchBox__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 0px #D6DEE3;
  background: #FFFFFF;
}

.SearchBox__input::-webkit-input-placeholder {
  color: #9AAEB5;
}

.SearchBox__input::-moz-placeholder {
  color: #9AAEB5;
}

.SearchBox__input:-ms-input-placeholder {
  color: #9AAEB5;
}

.SearchBox__input::placeholder {
  color: #9AAEB5;
}

.SearchBox__submit {
  display: none;
}

.SearchBox__reset {
  display: none;
}

/* FILTERS
// ------------------------- */
.aisdemo-filters .aisdemo-filter {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #DCE0E0;
}

.aisdemo-filters .aisdemo-filter-title {
  font-size: 1em;
  font-weight: normal;
  padding-top: 9px;
  padding-left: 30px;
}

.aisdemo-filters .date, .aisdemo-filters #guests select {
  font-size: .8em;
  padding: 8px 10px;
  border: 1px solid #DCE0E0;
}

.aisdemo-filters #guests select {
  width: 100%;
  padding-right: 20px;
  border-radius: 0;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.aisdemo-filters #guests select:focus {
  outline: none;
}

.aisdemo-filters .guests-caret:before {
  line-height: 1;
  position: absolute;
  top: 0;
  right: 20px;
  width: 2em;
  padding-top: .8em;
  content: '\25bc';
  text-align: center;
  pointer-events: none;
  color: #82888A;
}

.ais-refinement-list--count {
  display: none;
}

.ais-refinement-list--item {
  display: inline-block;
  cursor: pointer;
}

.ais-refinement-list--item label {
  font-size: .8em;
  font-weight: normal;
  box-sizing: border-box;
  width: 100%;
  padding: 9px 10px 7px;
  background: #EDEFED;
  border-radius: 4px;
}

.ais-refinement-list--checkbox {
  position: relative;
  bottom: 3px;
  float: right;
  width: 1.25em;
  height: 1.25em;
  margin-left: 20px;
  vertical-align: top;
  border: 1px solid #DCE0E0;
  background: #FFFFFF;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ais-refinement-list--checkbox:focus {
  outline: none;
}

.ais-refinement-list--item__active .ais-refinement-list--checkbox:before {
  font-size: .85em;
  position: absolute;
  width: 1.25em;
  content: '\2713';
  text-align: center;
  color: #FF5A5F;
}

.Range {
  position: relative;
  display: flex;
  align-items: center;
  height: 4px;
  margin: 20px 25px;
}

.Range__handles {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
}

.Range__handle {
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px;
  height: 0px;
}

.Range__handle > .Range__handle__dot {
  border: 3px solid #FF585B;
  background: white;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  flex-shrink: 0;
}

.Range__handle:hover > .Range__handle__dot,
.Range__handle--active > .Range__handle__dot {
  background-color: #FF585B;
}

.Range__handle__tooltip {
  font-size: 0.8em;
  padding: 0.3em 0.5em;
  border-radius: 0.3em;
  position: absolute;
  top: -40px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  transition: opacity 0.1s ease;
  pointer-events: none;
}

.Range__handle:hover > .Range__handle__tooltip,
.Range__handle--active > .Range__handle__tooltip {
  opacity: 1;
}

.Range__tracks {
  width: 100%;
  height: 4px;
  display: flex;
}

.Range__track {
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
}

.Range__track:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Range__track:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.Range__track:nth-child(2) {
  background-color: #FF585B
}

.Range__bounds {
  position: absolute;
  top: 100%;
  left: 0px;
  right: 0px;
}

.Range__bound {
  position: absolute;
  top: 0.6em;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 0.8em;
  width: 0px;
  height: 0px;
}

.Range__bound--min {
  left: 0px;
}

.Range__bound--max {
  right: 0px;
}

/* STATS
// ------------------------- */
#stats {
  font-size: 1em;
  font-weight: normal;
  position: absolute;
  bottom: 0;
  padding: 5px 15px;
}

/* MAP
// ------------------------- */
#map {
  height: 400px;
}

.marker {
  transform: translate(-50%, -100%) scale(0.5, 0.5);
}

.capacity-filter {
  padding: 9px 10px 7px;
  background: #EDEFED;
}

.capacity-menu-wrapper {
  font-size: .8em;
  font-weight: normal;
  box-sizing: border-box;
  width: 100%;
  padding: 6px 0px 5px;
}

.capacity-menu-wrapper select {
  width: 100%;
  background: #EDEFED;
  height: 27px;
}

/* RESULTS
// ------------------------- */
#results {
  padding: 40px 20px;
  background: #EDEFED;
}

#hits .hit .pictures-wrapper {
  position: relative;
}

#hits .hit .pictures-wrapper .picture {
  width: 100%;
}

#hits .hit .pictures-wrapper .profile {
  position: absolute;
  bottom: -16px;
  right: 12px;
  width: 60px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}

#hits .hit .infos {
  height: 90px;
  padding: 16px 20px;
}

#hits .hit .infos h4 {
  font-size: 1em;
  font-weight: normal;
}

#hits .hit .infos p {
  font-size: .8em;
  color: #949697;
}

#hits .hit .infos em {
  font-style: normal;
  color: #FF585B;
}

/* PAGINATION
// ------------------------- */
.Pagination {
  text-align: center;
}

.Pagination .Pagination__item {
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  padding: 3px;
  margin: 1px;
  border-color: #ddd;
  background: transparent;
}

.Pagination__item .Pagination__item__link {
  display: block;
  color: #FF585B;
  line-height: 30px;
  width: 30px;
  height: 30px;
}

.Pagination__item.Pagination__item--selected.Pagination__item--page {
  background: #FF585B;
}

.Pagination__item.Pagination__item--selected.Pagination__item--page .Pagination__item__link {
  color: #FFFFFF;
  border-color: #FF585B;
}

.Pagination__item--disabled {
  visibility: hidden;
}

.thank-you {
  text-align: center;
  font-size: .8em;
}

.thank-you a {
  color: #FF585B;
}
