---
layout: default
title: Examples
permalink: /examples/
---

.hero.container
  %h1.text-center Check out our examples!
  %p.text-center.lead <strong>instantsearch.js</strong> lets you build valuable search experiences.

.spacer40
.container
  .m800.m-l-r-auto
    .spacer40
    .demo-item.clearfix
      %a.pull-left.link-thumbnail{href: '{{ "/examples/media/" | prepend: site.baseurl }}'}
        %img.m-b.img-thumbnail.m-r{src: '{{ "/examples/media/capture.png" | prepend: site.baseurl }}', width: 270}
      %a{href: '{{ "/examples/media/" | prepend: site.baseurl }}'}
        %h3 Media
      %p Browsing video, music and other media becomes much more intuitive with instant search.
      .built-with.m-b
        {% image 'icon-widget-searchbox.svg' title='searchBox' width=30 %}
        {% image 'icon-widget-results.svg' title='hits' width=30 %}
        {% image 'icon-widget-stats.svg' title='stats' width=30 %}
        {% image 'icon-widget-pagination.svg' title='pagination' width=30 %}
        {% image 'icon-widget-refinement.svg' title='refinementList' width=30 %}
        {% image 'icon-widget-slider.svg' title='rangeSlider' width=30 %}
      %a{href: '{{ "https://github.com/algolia/instantsearch.js/tree/maintenance/docs/examples/media" }}'} View code <i class="fa fa-github"></i>
      %span or
      %a{href: '{{ "/examples/media.zip" | prepend: site.baseurl }}'} download

    .spacer40
    .demo-item.clearfix
      %a.pull-left.link-thumbnail{href: '{{ "/examples/tourism/" | prepend: site.baseurl }}'}
        %img.m-b.img-thumbnail.m-r{src: '{{ "/examples/tourism/capture.png" | prepend: site.baseurl }}', width: 270}
      %a{href: '{{ "/examples/tourism/" | prepend: site.baseurl }}'}
        %h3 Tourism
      %p Travel the world at the speed of search with instant results.
      .built-with.m-b
        {% image 'icon-widget-searchbox.svg' title='searchBox' width=30 %}
        {% image 'icon-widget-stats.svg' title='stats' width=30 %}
        {% image 'icon-widget-pagination.svg' title='pagination' width=30 %}
        {% image 'icon-widget-results.svg' title='hits' width=30 %}
        {% image 'icon-widget-slider.svg' title='rangeSlider' width=30 %}
        {% image 'icon-widget-refinement.svg' title='refinementList' width=30 %}
        {% image 'icon-widget-numerical.svg' title='numericRefinementList' width=30 %}
        {% image 'icon-widget-custom.svg' title='custom' width=30 %}
      %a{href: '{{ "https://github.com/algolia/instantsearch.js/tree/maintenance/docs/examples/tourism" }}'} View code <i class="fa fa-github"></i>
      %span or
      %a{href: '{{ "/examples/tourism.zip" | prepend: site.baseurl }}'} download
.spacer80
