---
layout: default
title: Examples
permalink: /examples/
---

.hero
  %h1.text-center Check out our examples!
  %p.text-center.lead <strong>instantsearch.js</strong> allows you to customize the appearance of your widgets very easily.

.spacer40
.container
  .m800.m-l-r-auto
    .spacer40
    .demo-item.clearfix
      %a{href: '{{ "/examples/media/" | prepend: site.baseurl }}'}
        %img.m-b.img-thumbnail.pull-left.m-r{src: "{{ "/examples/media/capture.png" | prepend: site.baseurl }}", width: 270}
      %a{href: '{{ "/examples/media/" | prepend: site.baseurl }}'}
        %h3 Media
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis ad, quidem.
      .built-with.m-b
        %img{src:"../img/icon-widget-searchbox.svg", width:30}
        %img{src:"../img/icon-widget-results.svg", width:30}
        %img{src:"../img/icon-widget-stats.svg", width:30}
        %img{src:"../img/icon-widget-pagination.svg", width:30}
        %img{src:"../img/icon-widget-refinement.svg", width:30}
        %img{src:"../img/icon-widget-slider.svg", width:30}
      %a{href: '{{ "/examples/media.zip" | prepend: site.baseurl }}'} View/download source code

    .spacer40
    .demo-item.clearfix
      %a{href: '{{ "/examples/e-commerce/" | prepend: site.baseurl }}'}
        %img.m-b.img-thumbnail.pull-left.m-r{src: "{{ "/examples/e-commerce/capture.png" | prepend: site.baseurl }}", width: 270}
      %a{href: '{{ "/examples/e-commerce/" | prepend: site.baseurl }}'}
        %h3 E-commerce
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis ad, quidem.
      .built-with.m-b
        %img{src:"../img/icon-widget-searchbox.svg", width:30}
        %img{src:"../img/icon-widget-results.svg", width:30}
        %img{src:"../img/icon-widget-stats.svg", width:30}
        %img{src:"../img/icon-widget-clearall.svg", width:30}
        %img{src:"../img/icon-widget-index.svg", width:30}
        %img{src:"../img/icon-widget-pagination.svg", width:30}
        %img{src:"../img/icon-widget-hierarchical.svg", width:30}
        %img{src:"../img/icon-widget-refinement.svg", width:30}
        %img{src:"../img/icon-widget-pricerange.svg", width:30}
        %img{src:"../img/icon-widget-star-rating.svg", width:30}
      %a{href: '{{ "/examples/e-commerce.zip" | prepend: site.baseurl }}'} View/download source code

    .spacer40
    .demo-item.clearfix
      %a{href: '{{ "/examples/tourism/" | prepend: site.baseurl }}'}
        %img.m-b.img-thumbnail.pull-left.m-r{src: "{{ "/examples/tourism/capture.png" | prepend: site.baseurl }}", width: 270}
      %a{href: '{{ "/examples/tourism/" | prepend: site.baseurl }}'}
        %h3 Tourism
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis ad.
      .built-with.m-b
        %img{src:"../img/icon-widget-searchbox.svg", width:30}
        %img{src:"../img/icon-widget-stats.svg", width:30}
        %img{src:"../img/icon-widget-pagination.svg", width:30}
        %img{src:"../img/icon-widget-results.svg", width:30}
        %img{src:"../img/icon-widget-slider.svg", width:30}
        %img{src:"../img/icon-widget-refinement.svg", width:30}
        %img{src:"../img/icon-widget-numerical.svg", width:30}
        %img{src:"../img/icon-widget-custom.svg", width:30}
      %a{href: '{{ "/examples/tourism.zip" | prepend: site.baseurl }}'} View/download source code
