---
layout: default
---
#space-overlay
%canvas#space
%section.hero.window
  .container
    .row
      .col-sm-6
        .spacer100
        .presented-by
          %a{href: "https://www.algolia.com", title: "Instant Search as a Service"}
            %img{src:"img/algolia-logo.svg", width: 100, alt:"Logo Algolia"}
          presents:
        .spacer40
        %h1.logo
          %img.img-responsive.m-r{src:"img/logo-instantsearch.svg", alt:"Logo InstantSearch.js", width:500}
        %p.vp
          A library of UI widgets to help build the best instant-search experience with
          %a{href:"https://www.algolia.com"} Algolia's Hosted Search API.
        .spacer80
        -# %a{href:"https://twitter.com/algolia", class:"twitter-follow-button", "data-show-count"=>"false"} Follow @algolia
        -# %span &nbsp;
        -# %iframe{src:"https://ghbtns.com/github-btn.html?user=algolia&repo=instantsearch.js&type=star&count=true", frameborder:0, scrolling:0, width:170, height:20}
        %h2 There’s a widget for that
        %p.lead
          Pick from an extensive library of widgets to power your search
          %br
          and build a state-of-the-art instant search experience.

%section#widget-customization-1.window.pos-rel
  .container
    .row
      .col-sm-6
        %img{src:"img/icon-theme.svg", width:70, alt:"Widgets"}
        %h2 More than widgets
        %p.lead You code becomes easy to write and maintain as you won't need to build all the glue code between widgets to track the state of your facets, decode URL parameters, etc. Everything is packaged in the lib.
%section#widget-customization-2.window
  .container
    .row
      .col-sm-6
        %img{src:"img/icon-infinite.svg", width:70, alt:"Infinite"}
        %h2 Infinite possibilities
        %p.lead Every website is different. The modular design of instantsearch.js allows you to configure, rearrange and combine the widgets to build your own experience.
%section#widget-customization-3.window
  .container
    .row
      .col-sm-6
        %img{src:"img/icon-community.svg", width:70, alt:"Community"}
        %h2 Bring your own widget
        %p.lead Sometimes you want to deviate from the standard path and build a custom feature. You can do that by forking a widget or coding your own and integrating it into the open source project.
        .w-1
          %img.m-r.m-t{src:"img/icon-widget-custom.svg", width:50}
          %h4 Custom Widget
          %p Fork and custom your own widgets.
        .spacer30

  .anim-container.hidden-xs
    .container
      .row
        .col-xs-6
        .col-xs-6.pos-rel
          #anim
            %img#screenshot-website{src:"img/drone-search.jpg", width:420, alt:"Drone Shop Layout"}
            .widget.widget-1
            .widget.widget-2
            .widget.widget-3
            .widget.widget-4
            .widget.widget-5
            .widget.widget-6
            .widget.widget-7
            .screen#screen-1
              .widget.widget-1
              .widget.widget-2
              .widget.widget-3
              .widget.widget-4
            .screen#screen-2
              .widget.widget-1
              .widget.widget-2
              .widget.widget-3
              .widget.widget-4
            .screen#screen-3
              .widget.widget-1
              .widget.widget-2
              .widget.widget-3
              .widget.widget-4
              .widget.widget-5
          #anim-overlay
            .widget-intro.w-1
              %img.m-r.m-t{src:"img/icon-widget-searchbox.svg", width:50, alt:"Widget Search Box"}
              %h4 Search Box
              %p Search at each keystroke
            .widget-intro.w-2
              %img.m-r.m-t{src:"img/icon-widget-filter.svg", width:50, alt:"Widget Filters"}
              %h4 Filters
              %p List of links or checkboxes
            .widget-intro.w-3
              %img.m-r.m-t{src:"img/icon-widget-slider.svg", width:50, alt:"Widget Slider"}
              %h4 Slider
              %p Filter numerical values
            .widget-intro.w-4
              %img.m-r.m-t{src:"img/icon-widget-results.svg", width:50, alt:"Widget Results"}
              %h4 Results
              %p Grid of search results
            .illus-sync
              {% svg img/sync.svg %}
.spacer100

%section.white-bottom

%svg#curveUpColor{xmlns:"http://www.w3.org/2000/svg", version:"1.1", width:"100%", height:"100", viewBox:"0 0 100 100", preserveAspectRatio:"none"}
  %path{d:"M0 100 C40 0 60 0 100 100 Z"}

%section.bg-white
  .container
    .spacer100
    .row
      .col-md-4.col-md-offset-2.col-sm-offset-2.col-sm-8.m-b
        %section#instantsearch-vp-1
          .text-center
            .illus-wrapper
              %img{src:"img/icon-ux.svg", alt:"UX", width:40}
            %h2 Search UX done right
          %p Algolia strives to build the best search experience for the end users. All of the best practices we learned while implementing search on hundreds of websites are now packed into our widgets.
      .col-md-4.col-md-offset-0.col-sm-offset-2.col-sm-8
        %section#instantsearch-vp-2
          .text-center
            .illus-wrapper
              %img{src:"img/icon-update.svg", alt:"Update", width:40}
            %h2 Always improving
          %p The instant-search experience is already deployed on hundreds of websites. We inject all the feedback we get and our collective experience back into the widgets.
    .spacer100
    #panel-get-started
      .row
        .col-sm-8.text-right
          .spacer5
          %span.h4
            %strong Explore Instantsearch.js.
            Learn more about instant search features and widgets.
        .col-sm-4
          %a.btn.btn-primary{href: "{{ '/documentation/' | prepend: site.baseurl }}"} Get started with Instantsearch.js

{% contentfor site-footer %}

<script type="text/javascript" src="{{ "/js/home.js" | prepend: site.baseurl }}"></script>

-# //twitter
-# <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endcontentfor %}
