---
layout: default
title: Themes
permalink: /themes/
---

.hero
  %h1.text-center Themes

.spacer40
.container
  .row
    .col-sm-8.col-sm-push-2
      %p.lead <strong>instantsearch.js</strong> allows you to customize the appearance of your widgets by using various CSS themes.
      %p.lead Choose between one of the built-in themes we've built for you or just create your own!

  .spacer40
  %h2.text-center Default themes
  .row.text-center
    .col-sm-4
      %h3 Default
      %img.m-b.img-responsive.img-thumbnail{src:"http://placehold.it/600x400"}
      %button.btn.primary-btn Live Preview

    .col-sm-4
      %h3 E-commerce
      %img.m-b.img-responsive.img-thumbnail{src:"http://placehold.it/600x400"}
      %button.btn.primary-btn Live Preview

    .col-sm-4
      %h3 Air bnb
      %img.m-b.img-responsive.img-thumbnail{src:"http://placehold.it/600x400"}
      %button.btn.primary-btn Live Preview

  .spacer100
  %h2.text-center How to use themes
  .spacer40
  .row
    .col-sm-6
      %p
        The built-in themes are available from the <a href="http://www.jsdelivr.com/">JSDelivr CDN</a>:
        %code https://cdn.jsdelivr.net/instantsearch.js/0/themes/&lt;THEME_NAME&gt;.min.css
    .col-sm-6
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi voluptates animi sequi non similique nobis consequatur itaque amet ea quas voluptas vero perferendis ipsam corporis deserunt, cupiditate dicta fugiat a.

  .spacer100
  %h2.text-center How to create or modify themes
  .spacer40
  .row
    .col-sm-3.col-sm-offset-3.text-right
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet iste labore expedita aliquid quo voluptas nobis ducimus quam doloribus perferendis illum a veniam quas, minus, porro nisi hic odit tenetur.
    .col-sm-6
      %img{src:"../img/themes-custom.png", width: 200}

  .spacer100
  %h2.text-center How are we elaborating theses widgets?
  .row
    .col-sm-4.text-right
      %img{src:"../img/theme-process.png", width: 200}
    .col-sm-8
      .spacer30
      %ul
        %li Designed from the large amount of UI we've helped to build for our customers
        %li Cooked with the best practices of modern development and heavily tested on every browsers
        %li Always improved by UX testing, expert discussion and users feedbacks
