{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "ie >= 9"
              ]
            }
          }
        ],
        "react",
        "stage-2"
      ],
      "plugins": [
        "lodash",
        "inline-json-import",
        [
          "transform-runtime",
          {
            "helpers": false,
            "polyfill": false,
            "regenerator": true
          }
        ],
        "react-hot-loader/babel",
        "transform-regenerator"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "ie >= 9"
              ]
            }
          }
        ],
        "react",
        "stage-2"
      ],
      "plugins": [
        "lodash",
        "inline-json-import"
      ]
    }
  }
}
