[class^='ais-'] {
  font-size: 1rem; }

.ais-Breadcrumb-list,
.ais-CurrentRefinedValues-list,
.ais-HierarchicalMenu-list,
.ais-Hits-list,
.ais-InfiniteHits-list,
.ais-Menu-list,
.ais-NumericRefinementList-list,
.ais-Pagination-list,
.ais-RefinementList-list,
.ais-StarRating-list,
.ais-Toggle-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.ais-ClearAll-button,
.ais-CurrentRefinedValues-button,
.ais-CurrentRefinedValues-reset,
.ais-InfiniteHits-showMore,
.ais-StarRating-button {
  padding: 0;
  overflow: visible;
  font: inherit;
  line-height: normal;
  color: inherit;
  background: none;
  border: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .ais-ClearAll-button::-moz-focus-inner,
  .ais-CurrentRefinedValues-button::-moz-focus-inner,
  .ais-CurrentRefinedValues-reset::-moz-focus-inner,
  .ais-InfiniteHits-showMore::-moz-focus-inner,
  .ais-StarRating-button::-moz-focus-inner {
    padding: 0;
    border: 0; }

.ais-Breadcrumb-item,
.ais-Pagination-item,
.ais-StarRating-label,
.ais-StarRating-count {
  display: inline-block;
  vertical-align: middle; }

.ais-HierarchicalMenu-list .ais-HierarchicalMenu-list {
  margin-left: 1em; }

.ais-PoweredBy-text {
  display: inline-block;
  vertical-align: middle; }

.ais-PoweredBy-logo {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: auto; }

.ais-SearchBox-form {
  display: block;
  position: relative; }

.ais-SearchBox-input {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.ais-SearchBox-magnifierIcon {
  position: absolute;
  z-index: 1;
  width: auto;
  height: 60%;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.ais-StarRating-starIcon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px; }

.ais-RangeSlider .rheostat {
  overflow: visible;
  margin-top: 2em;
  margin-bottom: 2em; }

.ais-RangeSlider .rheostat-background {
  height: 6px;
  top: 0px;
  width: 100%; }

.ais-RangeSlider .rheostat-handle {
  margin-left: -12px;
  top: -7px; }

.ais-RangeSlider .rheostat-background {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #aaa; }

.ais-RangeSlider .rheostat-progress {
  position: absolute;
  top: 1px;
  height: 4px;
  background-color: #333; }

.ais-RangeSlider-handle {
  position: relative;
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 50%;
  cursor: -webkit-grab;
  cursor: grab; }

.ais-RangeSlider-marker {
  margin-left: -1px;
  position: absolute;
  width: 1px;
  height: 5px;
  background-color: #aaa; }

.ais-RangeSlider-marker--large {
  height: 9px; }

.ais-RangeSlider-value {
  margin-left: 50%;
  padding-top: 15px;
  position: absolute;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.ais-RangeSlider-tooltip {
  margin-left: 50%;
  position: absolute;
  top: -22px;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

a[class^='ais-'] {
  color: #00aeff; }

.ais-header {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc; }

.ais-footer {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  font-size: 0.8rem;
  border-top: 1px solid #ccc; }

.ais-ClearAll-button,
.ais-CurrentRefinedValues-reset {
  padding: 0.3rem 0.5rem;
  color: #fff;
  background-color: #00aeff;
  border-radius: 5px; }

.ais-CurrentRefinedValues-list + .ais-CurrentRefinedValues-reset {
  margin-top: 0.5rem; }

.ais-CurrentRefinedValues-item {
  display: inline-block;
  vertical-align: middle; }

.ais-CurrentRefinedValues-button {
  padding: 0.3rem 0.5rem;
  display: block;
  color: #fff;
  background-color: #495588;
  border-radius: 5px; }
