@charset "UTF-8";
[class^='ais-'] {
  color: #000; }

.ais-Breadcrumb-list,
.ais-CurrentRefinedValues-list,
.ais-HierarchicalMenu-list,
.ais-Hits-list,
.ais-InfiniteHits-list,
.ais-Menu-list,
.ais-NumericRefinementList-list,
.ais-Pagination-list,
.ais-RefinementList-list,
.ais-StarRating-list,
.ais-Toggle-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.ais-ClearAll-button,
.ais-CurrentRefinedValues-button,
.ais-CurrentRefinedValues-reset,
.ais-InfiniteHits-showMore,
.ais-Menu-showMore,
.ais-NumericRange-submit,
.ais-SearchBox-submit,
.ais-SearchBox-reset,
.ais-StarRating-button {
  padding: 0;
  overflow: visible;
  font: inherit;
  line-height: normal;
  color: inherit;
  background: none;
  border: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .ais-ClearAll-button::-moz-focus-inner,
  .ais-CurrentRefinedValues-button::-moz-focus-inner,
  .ais-CurrentRefinedValues-reset::-moz-focus-inner,
  .ais-InfiniteHits-showMore::-moz-focus-inner,
  .ais-Menu-showMore::-moz-focus-inner,
  .ais-NumericRange-submit::-moz-focus-inner,
  .ais-SearchBox-submit::-moz-focus-inner,
  .ais-SearchBox-reset::-moz-focus-inner,
  .ais-StarRating-button::-moz-focus-inner {
    padding: 0;
    border: 0; }

.ais-Breadcrumb-item,
.ais-Pagination-item,
.ais-StarRating-label,
.ais-StarRating-count {
  display: inline-block;
  vertical-align: middle; }

.ais-HierarchicalMenu-list .ais-HierarchicalMenu-list {
  margin-left: 1em; }

.ais-PoweredBy-text {
  display: inline-block;
  vertical-align: middle; }

.ais-PoweredBy-logo {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: auto; }

.ais-StarRating-starIcon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px; }

.ais-RangeSlider .rheostat {
  overflow: visible;
  margin-top: 2em;
  margin-bottom: 2em; }

.ais-RangeSlider .rheostat-background {
  height: 6px;
  top: 0px;
  width: 100%; }

.ais-RangeSlider .rheostat-handle {
  margin-left: -12px;
  top: -7px; }

.ais-RangeSlider .rheostat-background {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #aaa; }

.ais-RangeSlider .rheostat-progress {
  position: absolute;
  top: 1px;
  height: 4px;
  background-color: #333; }

.ais-RangeSlider-handle {
  position: relative;
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 50%;
  cursor: -webkit-grab;
  cursor: grab; }

.ais-RangeSlider-marker {
  margin-left: -1px;
  position: absolute;
  width: 1px;
  height: 5px;
  background-color: #aaa; }

.ais-RangeSlider-marker--large {
  height: 9px; }

.ais-RangeSlider-value {
  margin-left: 50%;
  padding-top: 15px;
  position: absolute;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.ais-RangeSlider-tooltip {
  margin-left: 50%;
  position: absolute;
  top: -22px;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

[class^='ais-'] {
  font-size: 1rem;
  color: #3a4570; }

a[class^='ais-'] {
  color: #00aeff;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out; }
  a[class^='ais-']:hover, a[class^='ais-']:focus {
    color: #008bcc; }

.ais-header {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #c4c8d8; }

.ais-footer {
  margin-top: 0.5rem;
  font-size: 0.8rem; }

.ais-Breadcrumb-item--selected,
.ais-HierarchicalMenu-item--selected {
  font-weight: bold; }

.ais-ClearAll-button,
.ais-CurrentRefinedValues-reset,
.ais-Menu-showMore,
.ais-InfiniteHits-showMore {
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  color: #fff;
  background-color: #00aeff;
  border-radius: 5px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out; }
  .ais-ClearAll-button:hover, .ais-ClearAll-button:focus,
  .ais-CurrentRefinedValues-reset:hover,
  .ais-CurrentRefinedValues-reset:focus,
  .ais-Menu-showMore:hover,
  .ais-Menu-showMore:focus,
  .ais-InfiniteHits-showMore:hover,
  .ais-InfiniteHits-showMore:focus {
    background-color: #008bcc; }

.ais-CurrentRefinedValues-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.ais-CurrentRefinedValues-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .ais-CurrentRefinedValues-list + .ais-CurrentRefinedValues-reset {
    margin-left: 0.3rem; }

.ais-CurrentRefinedValues-item {
  display: inline-block; }
  .ais-CurrentRefinedValues-item + .ais-CurrentRefinedValues-item {
    margin-left: 0.3rem; }

.ais-CurrentRefinedValues-button {
  padding: 0.3rem 0.5rem;
  display: inline-block;
  vertical-align: top;
  font-size: 0.8rem;
  color: #fff;
  background-color: #495588;
  border-radius: 5px;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out; }
  .ais-CurrentRefinedValues-button:hover, .ais-CurrentRefinedValues-button:focus {
    background-color: #374067; }
  .ais-CurrentRefinedValues-button:after {
    content: '×';
    margin-left: 0.5em;
    font-family: sans-serif; }

.ais-CurrentRefinedValues-reset {
  display: inline-block;
  vertical-align: top; }
  .ais-CurrentRefinedValues-reset + .ais-CurrentRefinedValues-list {
    margin-left: 0.3rem; }

.ais-CurrentRefinedValues-count {
  font-size: 0.8rem;
  color: #fff; }
  .ais-CurrentRefinedValues-count:before {
    content: '('; }
  .ais-CurrentRefinedValues-count:after {
    content: ')'; }

.ais-HierarchicalMenu-list {
  font-weight: normal; }

.ais-HierarchicalMenu-link:before {
  margin-right: 0.5em;
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27%3E%3Cpath d=%27M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z%27 fill%3D%22%233A4570%22 /%3E%3C/svg%3E");
  background-size: 100% 100%; }

.ais-HierarchicalMenu-count,
.ais-Menu-count,
.ais-RefinementList-count,
.ais-Toggle-count,
.ais-StarRating-count {
  font-size: 0.8rem; }
  .ais-HierarchicalMenu-count:before,
  .ais-Menu-count:before,
  .ais-RefinementList-count:before,
  .ais-Toggle-count:before,
  .ais-StarRating-count:before {
    content: '('; }
  .ais-HierarchicalMenu-count:after,
  .ais-Menu-count:after,
  .ais-RefinementList-count:after,
  .ais-Toggle-count:after,
  .ais-StarRating-count:after {
    content: ')'; }

.ais-Highlight {
  background-color: #ffc168; }

.ais-Hits-header,
.ais-InfiniteHits-header {
  margin-bottom: 1rem; }

.ais-Hits-footer,
.ais-InfiniteHits-footer {
  margin-top: 1rem; }

.ais-Hits-list,
.ais-InfiniteHits-list {
  margin-top: -1rem;
  margin-left: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.ais-Hits-item,
.ais-InfiniteHits-item {
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  width: calc(25% - 1rem);
  border: 1px solid #c4c8d8;
  -webkit-box-shadow: 0 3px 8px 2px #e3e5ec;
  box-shadow: 0 3px 8px 2px #e3e5ec; }

.ais-HitsPerPageSelector-select,
.ais-NumericSelector-select,
.ais-SortBySelector-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.3rem 2rem 0.3rem 0.3rem;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27%3E%3Cpath d=%27M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z%27 fill%3D%22%233A4570%22 /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: 92% 50%;
  border: 1px solid #c4c8d8;
  border-radius: 5px; }

.ais-InfiniteHits-showMore {
  margin-top: 1rem; }

.ais-NumericRange-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.ais-NumericRange-input {
  padding: 0 0.2rem;
  width: 5rem;
  height: 1.5rem;
  line-height: 1.5rem; }

.ais-NumericRange-separator {
  margin: 0 0.3rem; }

.ais-NumericRange-submit {
  margin-left: 0.3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 0.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 0.8rem;
  color: #fff;
  background-color: #00aeff;
  border: none;
  border-radius: 5px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out; }
  .ais-NumericRange-submit:hover, .ais-NumericRange-submit:focus {
    background-color: #008bcc; }

.ais-Menu-showMore {
  margin-top: 0.5rem; }

.ais-Pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.ais-Pagination-item + .ais-Pagination-item {
  margin-left: 0.3rem; }

.ais-Pagination-link {
  padding: 0.3rem 0.6rem;
  display: inline-block;
  border: 1px solid #c4c8d8;
  border-radius: 5px; }

.ais-PoweredBy-text {
  font-size: 0.8rem; }

.ais-RangeSlider .rheostat-progress {
  background-color: #495588; }

.ais-RangeSlider .rheostat-background {
  border-color: #878faf; }

.ais-RangeSlider-handle {
  border-color: #878faf; }

.ais-RangeSlider-tooltip,
.ais-RangeSlider-value {
  font-size: 0.8rem; }

.ais-RangeSlider-marker {
  background-color: #878faf; }

.ais-RefinementList-search {
  margin-bottom: 0.5rem; }

.ais-SearchBox-form {
  display: block;
  position: relative; }

.ais-SearchBox-input,
.ais-RefinementList-search {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.3rem 2rem 0.3rem 0.3rem;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #c4c8d8;
  border-radius: 5px; }
  .ais-SearchBox-input::-webkit-input-placeholder,
  .ais-RefinementList-search::-webkit-input-placeholder {
    color: #a5aed1; }
  .ais-SearchBox-input::-moz-placeholder,
  .ais-RefinementList-search::-moz-placeholder {
    color: #a5aed1; }
  .ais-SearchBox-input:-ms-input-placeholder,
  .ais-RefinementList-search:-ms-input-placeholder {
    color: #a5aed1; }
  .ais-SearchBox-input:-moz-placeholder,
  .ais-RefinementList-search:-moz-placeholder {
    color: #a5aed1; }

.ais-SearchBox-submit,
.ais-SearchBox-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 0.3rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.ais-SearchBox-submitIcon,
.ais-SearchBox-reseticon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }
  .ais-SearchBox-submitIcon path,
  .ais-SearchBox-reseticon path {
    fill: #495588; }

.ais-StarRating-starIcon {
  width: 15px;
  fill: #ffc168; }
