<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">

  <link rel="manifest" href="./manifest.webmanifest">
  <link rel="shortcut icon" href="./favicon.png">

  <link rel="stylesheet" href="./src/index.css">
  <link rel="stylesheet" href="./src/app.css">

  <title>{{name}}</title>
</head>

<body>
  <header class="header">
    <h1 class="header-title">
      <a href="/">{{name}}</a>
    </h1>
    <p class="header-subtitle">using the
      <a href="https://github.com/algolia/algoliasearch-helper-js">Algolia Search Helper for JavaScript</a>
    </p>
  </header>

  <div class="container">
    <div class="container-app">
      <div id="searchBox">
        <form role="search">
          <input type="search" placeholder="{{searchPlaceholder}}" />
        </form>
      </div>
      <div id="hits"></div>
    </div>
  </div>

  <script src="./src/app.js"></script>
</body>

</html>
